<!-- spotlight start-->
<div id="carousel-example-generic" data-ride="carousel" class="carousel slide fade-slide spotlight">
    <!--Wrapper for slides-->
    <div class="carousel-inner">
        <div class="item home_banner">
        	<img src="images/temp/img-1400x480.jpg" alt="Slide-1">
        	<div class="carousel-caption container">
        		<a href="#"><span>Engagiert.</span><br><span>Für Mensch und Medizin.</span></a>
        	</div>
        </div>
    </div>
</div>
<!-- spotlight end-->