<div class="container">
          <div class="col-xs-12 col-md-8">
            <div class="mod contact-info">
              <div class="address">
                
              </div>
              <div class="contact">
                
              </div>
            </div>
            <div class="footer-links clearfix mob-hide">
              
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="social-icons clearfix">
              
            </div>
          </div>
</div>