<body>
<div class="desktop-hide">
        <footer class="innerpage">
          <div class="container">
            <div class="col-xs-12 col-md-8">
              <div class="mod contact-info">
                <div class="address">
                  <ul>
                    <li>
                      <h3>GZO Spital Wetzikon</h3>
                    </li>
                    <li>
                      <p>Spitalstrasse 66</p>
                    </li>
                    <li>
                      <p>8620 Wetzikon</p>
                    </li>
                  </ul>
                </div>
                <div class="contact">
                  <ul>
                    <li class="desktop-hide">
                      <h3>Kontakt</h3>
                    </li>
                    <li class="tel">
                      <p>Tel. +41 44 934 11 11 </p>
                    </li>
                    <li>
                      <p>Fax +41 44 930 05 87</p>
                    </li>
                    <li>
                      <p><a href="mailto:info@gzo.ch">info@gzo.ch</a></p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="footer-links clearfix mob-hide">
                <ul>
                  <li><a href="#" class="link">Lageplan</a></li>
                  <li><a href="#" class="link">Disclaimer</a></li>
                  <li><a href="#" class="link">Impressum</a></li>
                  <li><a href="#" class="link">Sitemap</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="social-icons clearfix">
                <ul>
                  <li><a href="#" class="icon fb">Facebook</a></li>
                  <li><a href="#" class="icon tw">Twitter</a></li>
                  <li><a href="#" class="icon gplus">Google Plus</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="mob-hide">
        <footer class="footermenu">
          <div class="container">
            <div class="col-md-3">
              <div class="mod contact-info">
                <h3>GZO Spital Wetzikon</h3>
                <p>Spitalstrasse 66</p>
                <p>8620 Wetzikon</p>
                <h3>Kontakt:</h3>
                <p>Tel. +41 44 934 11 11 </p>
                <p>Fax +41 44 930 05 87</p>
                <p><a href="mailto:info@gzo.ch">info@gzo.ch</a></p>
              </div>
              <div class="footer-links clearfix">
                <ul>
                  <li><a href="#" class="link">Lageplan</a></li>
                  <li><a href="#" class="link">Disclaimer</a></li>
                  <div class="clear"></div>
                  <li><a href="#" class="link">Impressum</a></li>
                  <li><a href="#" class="link">Sitemap</a></li>
                </ul>
              </div>
              <div class="social-icons clearfix">
                <ul>
                  <li><a href="#" class="icon fb">Facebook</a></li>
                  <li><a href="#" class="icon tw">Twitter</a></li>
                  <li><a href="#" class="icon gplus">Google Plus</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="quick-list">
                <ul class="col-sm-4">
                  <li>
                    <p><strong>Bauch- und Lungenchirurgie: </strong><a href="#">Gallenblasenentfernung,</a><a href="#">Dickdarmchirurgie,</a><a href="#">Leistenbruch,</a><a href="#">Divertikelkrankheit</a></p>
                  </li>
                  <li>
                    <p><strong>Diabetes und Hormonerkrankungen:</strong><a href="#">Ernährungsberatung,</a><a href="#">Diabetesberatung,</a><a href="#">Diabetes melitus,</a><a href="#">Hormonstörungen</a></p>
                  </li>
                  <li>
                    <p><strong>Diagnostik: </strong><a href="#">Magnetresonanztomographie (MRI),</a><a href="#">Computertomographie (CT),</a><a href="#">Mammographie,</a><a href="#">Angiographie,</a><a href="#">Nuklearmedizin</a></p>
                  </li>
                  <li>
                    <p><strong>Gefässerkrankungen: </strong><a href="#">Angiographie,</a><a href="#">Krampfadern,</a><a href="#">Verschlusskrankheiten,</a><a href="#"></a></p>
                  </li>
                  <li>
                    <p><strong>Gynäkologie: </strong><a href="#">Frauenklinik,</a><a href="#">Brustkrebs,</a><a href="#">Gebärmutterhalskrebs,</a><a href="#">Inkontinenz,</a><a href="#">Jugendgynäkologie</a></p>
                  </li>
                  <li>
                    <p><strong>Herzerkrankungen: </strong><a href="#">Angina Pectoris (Vorbote Herzinfarkt),</a><a href="#">Herzrhythmusstörungen,</a><a href="#">Herzschwäche,</a><a href="#">Herzschrittmacher</a></p>
                  </li>
                </ul>
                <ul class="col-sm-4">
                  <li>
                    <p><strong>Krebserkrankungen: </strong><a href="#">Onkologie,</a><a href="#">Darmkrebs,</a><a href="#">Leberkrebs,</a><a href="#">Bauchspeicheldrüsekrebs,</a><a href="#">Lungenkrebs</a></p>
                  </li>
                  <li>
                    <p><strong>Lungenerkrankungen: </strong><a href="#">Atembeschwerden,</a><a href="#">Lungenfunktionsprüfung,</a><a href="#"></a></p>
                  </li>
                  <li>
                    <p><strong>Magen-Darm-Erkrankungen: </strong><a href="#">Gastroenterologie,</a><a href="#">Gallensteine,</a><a href="#">Darmspiegelung,</a><a href="#">Mag enspiegelung,</a><a href="#">Reizdarm</a></p>
                  </li>
                  <li>
                    <p><strong>Nierenerkrankungen:</strong><a href="#">Nierenleiden,</a><a href="#">Nierensteine,</a><a href="#">Dialyse,</a><a href="#">Hämodialyse</a></p>
                  </li>
                  <li>
                    <p><strong>Orthopädie: </strong><a href="#">Hüftprothese,</a><a href="#">Osteoporose,</a><a href="#">Arthrose,</a><a href="#">Orthopädie,</a><a href="#">Knieprothese</a></p>
                  </li>
                  <li>
                    <p><strong>Schlafstörungen:</strong><a href="#">Abklärung von Schlafstörungen,</a><a href="#">Behandlung von Schlafstörungen,</a><a href="#">Schlaflabor,</a><a href="#">Schlafmedizin</a></p>
                  </li>
                </ul>
                <ul class="col-sm-4">
                  <li>
                    <p><strong>Schwangerschaft und Geburt: </strong><a href="#">Geburt,</a><a href="#">Geburtsvorbereitungskurs,</a><a href="#">Schwangerschaft,</a><a href="#">Ultraschall,</a><a href="#">Stillen,</a><a href="#">Kinderwunsch,</a><a href="#">Kaiserschnitt</a></p>
                  </li>
                  <li>
                    <p><strong>Therapie und Reha: </strong><a href="#">Physiotherapie,</a><a href="#">Ergotherapie,</a><a href="#">Herzrehabilitation,</a><a href="#">Lungenrehabilitation</a></p>
                  </li>
                  <li>
                    <p><strong>Übergewichtschirurgie:</strong><a href="#">Ernährungsberatung,</a><a href="#">Übergewicht,</a><a href="#">Magenbypass</a></p>
                  </li>
                  <li>
                    <p><strong>Unfallverletzungen: </strong><a href="#">Kreuzbandriss,</a><a href="#">Kniechirurige,</a><a href="#">Schenkelhalsbruch</a></p>
                  </li>
                  <li>
                    <p><strong>Urologie:</strong><a href="#">Blasenentzündung,</a><a href="#">Blasenkrebs,</a><a href="#">Erektionsstörung,</a><a href="#">Hodenkrebs,</a><a href="#">Prostataentzündung,</a><a href="#">Prostatakrebs,</a><a href="#">Da Vinci,</a><a href="#">Unterbindung</a></p>
                  </li>
                  <li>
                    <p><strong>GZO Spital Wetzikon:</strong><a href="#">H-Quality,</a><a href="#">DRG (Fallkostenpauschale),</a><a href="#">Spital im Kanton Zürich</a></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
</body>