<div class="theme-blue">
	<h2 class="desktop-hide collapsed" data-target="#loremtitle" data-toggle="collapse"><a>Nutzliche Infos</a></h2>
	<h2 class="mob-hide">Nutzliche Infos</h2>
	<div class="collapse in" id="loremtitle">
    	<div class="data-list type-2">
        	<ul>
            	<li>
            		<img alt="image-title" src="images/temp/img-108x73.jpg">
                	<div class="details quicklinks">
                    	<h3><a href="#">Titelzeile Quicklink</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>