<!-- quick block start-->
<div class="mod-details">
                <h2 data-toggle="collapse" data-target="#mod-generic" class="desktop-hide collapsed"><a>Infos für Zuweiser</a></h2>
                <h2 class="mob-hide">Infos für Zuweiser</h2>
                <div id="mod-generic" class="collapse in"><a href="#" class="thumb"><img src="images/temp/img-330x220.jpg" alt="image-title"></a>
                  <p>Auf unserem <a href="#">Zuweiserportal</a>finden Sie alle wichtigen Informationen und Formulare für eine Zuweisung ans GZO Spital Wetzikon.</p>
                  <form action="#">
                    <fieldset>
                    <select title="Select" class="selectpicker default-sm form-control link-select">
                        <option value="">Quicklinks</option>
                        
                      </select>
                    </fieldset>
                  </form>
                </div>
              </div>
              <!-- quick block start-->