<div class="mod-details">
	<h2 data-toggle="collapse" data-target="#mod-urologie-generic1" class="desktop-hide collapsed"><a>Chirurgische Klinik</a></h2>
    <h2 class="mob-hide">Chirurgische Klinik</h2>
    <div id="mod-urologie-generic1" class="collapse in">
	    <div class="row urologie">
	    	<div class="col-md-6">
    			<img src="images/temp/img-150x220-1.jpg" alt="image-title">
	    	</div>
	        <div class="col-md-6">
	        	<h3>Vorname, Name Titel des Arztes</h3>
	            <h4>Leitender Arzt Urologie</h4>
	            <p>Die Urologie beschäftigt sich mit Erkrankungen der </p>
	            <a href="#" target="_blank" class="link">mehr</a>
	        </div>
	   	 </div>
   	 </div>
</div>