<!-- teaere start -->
<body>
<section class="mod">
              <div class="mod-highlight"><a href="#gallery-mod"><span>Babygalerie</span></a><a class="active" href="#blum-mod"><span>Blumenshop</span></a></div>
              <div class="tab-content" id="gallery-mod">
                <div class="mod-details">
                </div>
              </div>
              <div class="tab-content" id="blum-mod">
                <div class="mod-details">
                </div>
              </div>
</section>
</body>
<!-- teaere end -->
