<div class="mod-details">
	<h2 class="desktop-hide collapsed" data-target="#mod-video" data-toggle="collapse"><a>Da Vinci ProstateKtomie</a></h2>
	<h2 class="mob-hide">Da Vinci ProstateKtomie</h2>
	<div class="collapse in" id="mod-video">
		<iframe width="100%" height="220" frameborder="0" allowfullscreen="" src="//www.youtube.com/embed/xNoWTLsZbaU"></iframe>
		<p>Eine Zusammenarbeit mit dem Kantonsspital Winterthur ermöglicht uns, die roboterassistierte radikale Entfernung der Prostata (Da Vinci Prostatektomie) durchzuführen.</p>
    <a href="#" target="_blank" class="linkblock">Mehr offene Stellen</a>
	</div>
</div>