<f:layout name="Default" />
<f:section name="main">
    <div class="mod-details">
        <h1><a href="#">Downloadcenter</a><span class="show-btn"></span></h1>
        <p>In unserem Downloadcenter finden Sie Informationen, Broschüren und Formulare zum GZO Spital Wetzikon.</p>
        <form action="#">
            <fieldset>
                <select class="custom-select form-control reset-field">
                    <option value="">1. Hauptrubrik auswählen</option>
                    <option value="1">Another action</option>
                    <option value="2">The Other action</option>
                    <option value="3">Why this action not working</option>
                </select><span class="icon reset-this"></span>
            </fieldset>
            <fieldset>
                <select class="custom-select form-control reset-field disabled">
                    <option value="">1. Hauptrubrik auswählen</option>
                    <option value="1">Another action</option>
                    <option value="2">The Other action</option>
                    <option value="3">Why this action not working</option>
                </select><span class="icon reset-this"></span>
            </fieldset>
            <fieldset>
                <input type="text" value="Suchbegriff" required="" class=" form-control text search reset-field"><span class="icon reset-this"></span>
            </fieldset>
            <input type="submit" value="search" class="btn-search">
        </form>
        <section class="mod data-list downloadData">
            <div class="result-data download">
                <h2 class="datadownload">Nützliche Dokumente</h2>
                <ul>
                    <li><a href="#"><span class="file-title">Eintritts-Checkliste</span><span class="file-info"><span class="size">3,5 mb</span><span class="icon icon-pdf"></span></span></a></li>
                    <li><a href="#"><span class="file-title">Infobroschüre</span><span class="file-info"><span class="size">290 kb</span><span class="icon icon-xls"></span></span></a></li>
                    <li><a href="#"><span class="file-title">Infobroschüre Narkoe</span><span class="file-info"><span class="size">11,5 mb</span><span class="icon icon-zip"></span></span></a></li>
                    <li><a href="#"><span class="file-title">Versichertenkarte</span><span class="file-info"><span class="size">3 MB</span><span class="icon icon-pwp"></span></span></a></li>
                    <li><a href="#"><span class="file-title">Versicherungsausweis</span><span class="file-info"><span class="size">493 KB</span><span class="icon icon-access"></span></span></a></li>
                    <li><a href="#"><span class="file-title">Dokumentname </span><span class="file-info"><span class="size">210 KB</span><span class="icon icon-word"></span></span></a></li>
                </ul>
            </div>
        </section>
    </div>
</f:section>