<div id="templavoilabackend">
      <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
            <td valign="top" class="right" style="background: #F6F6F6; border-bottom: 2px solid #555555" colspan="3">###field_topnews###</td>                     
        </tr>
        <tr>
            <td valign="top" class="right" style="background: #F6F6F6; border-bottom: 2px solid #555555" colspan="3">###field_banner###</td>                     
        </tr>
        <tr>
            <td width="34%"  class="header" style="background: #F6F6F6;" colspan="1">###field_leftcolumn###</td>
            <td width="33%" class="header" style="background: #F6F6F6;" colspan="1">###field_middlecolumn###</td>
            <td width="33%" class="header" style="background: #F6F6F6;" colspan="1">###field_rightcolumn###</td>
      	</tr>
      </table>
</div>
