<div id="templavoilabackend">
      <table cellspacing="0" cellpadding="0" width="99%">
        <tr>
            <td width="99%"  class="header" style="background: #F6F6F6;" colspan="3">###field_content###</td>
        </tr>
         <tr>
            <td width="33%"  class="header" style="background: #F6F6F6;">###field_tease1###</td>
            <td width="33%" class="header" style="background: #F6F6F6;">###field_tease2###</td>
            <td width="33%" class="header" style="background: #F6F6F6;">###field_tease3###</td>
        </tr>
      </table>
</div>