<!DOCTYPE html>
<html class="no-js"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gzo · D template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Place favicon.ico and apple-touch-icon.png in the root directory 
    -->
  </head>
  <body style="">
    <div class="fixedoverlay"></div>
    <div id="wrapper">
    <div class="outerdiv hdr">
      <div class="container">
        <div class="col-md-9 col-sm-6">
          <!-- quick links-> -->
          <div class="quick-links">
            <div class="primary-nav clearfix">
              <ul>
                <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" target="_blank" class="starter">GZO Startseite</a></li>
                <li class="sub-view"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Klinik</a>
                  <ul>
                    <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Chirurgische Klinik</a></li>
                    <li class="sub-view"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Medizinische Klinik</a>
                      <ul>
                        <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Angiologie</a></li>
                        <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Kardiologie</a></li>
                        <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Gastroenterologie</a></li>
                        <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Pneumologie</a></li>
                        <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Nephrologie</a></li>
                        <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Onkologie</a></li>
                        <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Endokrinologie</a></li>
                        <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Palliativmedizin</a></li>
                        <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Schlafmedizin</a></li>
                        <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Schmerzmedizin</a></li>
                      </ul>
                    </li>
                    <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Frauenklinik</a></li>
                    <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Radiologie</a></li>
                    <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Anästhesie</a></li>
                    <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Pflege</a></li>
                    <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Physiotherapie</a></li>
                    <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Beratungsdienste</a></li>
                  </ul>
                </li>
                <li class="sub-view"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" target="_blank">Spezialist</a>
                  <ul>
                    <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Chirurgische Klinik</a></li>
                    <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Medizinische Klinik</a></li>
                    <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Frauenklinik</a></li>
                    <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Radiologie</a></li>
                    <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Anästhesie</a></li>
                    <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Pflege</a></li>
                    <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Physiotherapie</a></li>
                    <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Beratungsdienste</a></li>
                  </ul>
                </li>
                <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" target="_blank" class="highlight">Notfall</a></li>
              </ul>
            </div>
            <div class="secondary-nav">
              <ul>
                <li>
                  <div class="search">
                    <form id="search-form" method="#" action="http://ui.pitsolutions.com/private/gzo/assets_html/v1/post">
                      <input type="text" placeholder="Suche" required="" class="text">
                      <input type="submit" value="search" class="btn-search">
                    </form>
                  </div>
                </li>
                <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="icon figure">Heidi &amp; Rene</a>
                  <div class="subnav-drop"><strong class="nav-title">Heidi &amp; Rene</strong>
                    <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                  </div>
                </li>
                <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="icon cart">cart</a>
                  <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                    <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                  </div>
                </li>
                <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="icon target">target</a>
                  <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                    <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                  </div>
                </li>
                <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="icon brief">brief</a>
                  <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                    <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                  </div>
                </li>
                <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="icon contact">Kontact</a>
                  <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                    <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- quick links <- -->
        </div>
        <div class="pull-right"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="logo"><img src="./gzo · home_files/logo.png" title="GZO" alt=""></a></div>
      </div>
      <div class="mob-search desktop-hide">
          <div class="search mob-mode">
            <form action="post" method="#" id="search-form">
              <input type="submit" class="btn-search" value="search">
            </form>
          </div>
        </div>
      <!-- Demo navbar -->
      <nav role="navigation" class="navbar yamm navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="navbar-brand">Yamm Megamenu</a>
          </div>
          <div id="navbar-collapse-1" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!-- Classic list -->
              <li class="dropdown"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" data-toggle="dropdown" class="dropdown-toggle">Kliniken &amp; Zentren</a>
                <ul class="dropdown-menu">
                  <li>
                    <!-- Content container to add padding -->
                    <div class="yamm-content">
                      <div class="row">
                        <ul class="col-sm-2 list-unstyled">
                          <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Chirurgische Klinik</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Bariatrie</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Orthopädie</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Kolorektalchirurgie</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Viszeralchirurgie</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Gefässchirurgie</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Urologie</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Traumatologie</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Augenchirurgie</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Handchirurgie</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Sportmedizin</a></li>
                        </ul>
                        <ul class="col-sm-2 list-unstyled">
                          <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Medizinische Klinik</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Angiologie</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Kardiologie</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Gastroenterologie</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Pneumologie</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Nephrologie</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Onkologie</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Endokrinologie</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Palliativmedizin</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Schlafmedizin</a></li>
                          <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Schmerzmedizin</a></li>
                        </ul>
                        <ul class="col-sm-2 list-unstyled">
                          <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Frauenklinik
                              </a></li><li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Geburtshilfe</a></li>
                              <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Gynäkologie</a></li>
                              <li class="sub-nav"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Urogynäkologie</a></li>
                              <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Radiologie</a></li>
                              <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Anästhesie</a></li>
                              <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Pflege</a></li>
                              <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Physiotherapie + Reha</a></li>
                              <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Beratungsdienste</a></li>
                        </ul>
                        <ul class="col-sm-2 nav-widget">
                          <li>
                            <div class="item"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="thumb"><img src="./gzo · home_files/img-129x86.jpg" alt="image-title"></a>
                              <div class="details">
                                <h2><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Promolink</a></h2>
                                <p><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. </a></p>
                              </div>
                            </div>
                            <div class="item"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="thumb"><img src="./gzo · home_files/img-129x86-1.jpg" alt="image-title"></a>
                              <div class="details">
                                <h2><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Promolink</a></h2>
                                <p><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. </a></p>
                              </div>
                            </div>
                            <div class="item"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="thumb"><img src="./gzo · home_files/img-129x86-2.jpg" alt="image-title"></a>
                              <div class="details">
                                <h2><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Promolink</a></h2>
                                <p><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink.</a></p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" data-toggle="dropdown" class="dropdown-toggle">Krankheitsbilder</a>
              </li>
              <!-- Classic dropdown -->
              <li class="dropdown"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" data-toggle="dropdown" class="dropdown-toggle">Patient</a>
              </li>
              <li class="dropdown"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" data-toggle="dropdown" class="dropdown-toggle">Besucher</a>
              </li>
              <li class="dropdown"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" data-toggle="dropdown" class="dropdown-toggle">Zuweiser</a>
              </li>
              <li class="dropdown"><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" data-toggle="dropdown" class="dropdown-toggle">Über uns</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      </div>
      <div class="container">
        <div class="content-wrapper clearfix">
          <div class="col-md-12 breadcrumb-media">
            <div class="breadcrumbs">
              <ul>
                <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Home</a></li>
                <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Unterseite</a></li>
                <li><span>Unterseite</span></li>
              </ul><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="btn-print print">Seite drucken</a>
            </div>
          </div>
          <div class="col-md-8 krankheit">
            <!-- Lorem module start-->
            <h2>
            
            </h2>
            <div id="box" class="clearfix">
               
             </div>
            <!-- Lorem module end-->
          </div>
          <div class="col-md-4 krankheit">
            <!-- generic module start-->
           
            <!-- generic module end-->
          </div>
        </div>
      </div>
      <footer class="innerpage">
        <div class="container">
          <div class="col-md-3">
            <div class="mod contact-info">
              <h3>GZO Spital Wetzikon</h3>
              <p>Spitalstrasse 66</p>
              <p>8620 Wetzikon</p>
              <h3>Kontakt:</h3>
              <p>Tel. +41 44 934 11 11 </p>
              <p>Fax +41 44 930 05 87</p>
              <p><a href="mailto:info@gzo.ch">info@gzo.ch</a></p>
            </div>
            <div class="footer-links clearfix">
              <ul>
                <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="link">Lageplan</a></li>
                <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="link">Disclaimer</a></li>
                <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="link">Impressum</a></li>
                <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="link">Sitemap</a></li>
              </ul>
            </div>
            <div class="social-icons clearfix">
              <ul>
                <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="icon fb">Facebook</a></li>
                <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="icon tw">Twitter</a></li>
                <li><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#" class="icon gplus">Google Plus</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-9">
            <div class="quick-list">
              <ul>
                <li>
                  <p><strong>Bauch- und Lungenchirurgie: </strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Gallenblasenentfernung,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Dickdarmchirurgie,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Leistenbruch,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Divertikelkrankheit</a></p>
                </li>
                <li>
                  <p><strong>Diabetes und Hormonerkrankungen:</strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Ernährungsberatung,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Diabetesberatung,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Diabetes melitus,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Hormonstörungen</a></p>
                </li>
                <li>
                  <p><strong>Diagnostik: </strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Magnetresonanztomographie (MRI),</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Computertomographie (CT),</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Mammographie,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Angiographie,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Nuklearmedizin</a></p>
                </li>
                <li>
                  <p><strong>Gefässerkrankungen: </strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Angiographie,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Krampfadern,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Verschlusskrankheiten,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#"></a></p>
                </li>
                <li>
                  <p><strong>Gynäkologie: </strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Frauenklinik,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Brustkrebs,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Gebärmutterhalskrebs,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Inkontinenz,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Jugendgynäkologie</a></p>
                </li>
                <li>
                  <p><strong>Herzerkrankungen: </strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Angina Pectoris (Vorbote Herzinfarkt),</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Herzrhythmusstörungen,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Herzschwäche,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Herzschrittmacher</a></p>
                </li>
              </ul>
              <ul>
                <li>
                  <p><strong>Krebserkrankungen: </strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Onkologie,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Darmkrebs,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Leberkrebs,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Bauchspeicheldrüsekrebs,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Lungenkrebs</a></p>
                </li>
                <li>
                  <p><strong>Lungenerkrankungen: </strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Atembeschwerden,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Lungenfunktionsprüfung,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#"></a></p>
                </li>
                <li>
                  <p><strong>Magen-Darm-Erkrankungen: </strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Gastroenterologie,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Gallensteine,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Darmspiegelung,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Mag enspiegelung,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Reizdarm</a></p>
                </li>
                <li>
                  <p><strong>Nierenerkrankungen:</strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Nierenleiden,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Nierensteine,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Dialyse,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Hämodialyse</a></p>
                </li>
                <li>
                  <p><strong>Orthopädie: </strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Hüftprothese,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Osteoporose,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Arthrose,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Orthopädie,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Knieprothese</a></p>
                </li>
                <li>
                  <p><strong>Schlafstörungen:</strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Abklärung von Schlafstörungen,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Behandlung von Schlafstörungen,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Schlaflabor,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Schlafmedizin</a></p>
                </li>
              </ul>
              <ul>
                <li>
                  <p><strong>Schwangerschaft und Geburt: </strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Geburt,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Geburtsvorbereitungskurs,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Schwangerschaft,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Ultraschall,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Stillen,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Kinderwunsch,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Kaiserschnitt</a></p>
                </li>
                <li>
                  <p><strong>Therapie und Reha: </strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Physiotherapie,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Ergotherapie,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Herzrehabilitation,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Lungenrehabilitation</a></p>
                </li>
                <li>
                  <p><strong>Übergewichtschirurgie:</strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Ernährungsberatung,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Übergewicht,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Magenbypass</a></p>
                </li>
                <li>
                  <p><strong>Unfallverletzungen: </strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Kreuzbandriss,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Kniechirurige,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Schenkelhalsbruch</a></p>
                </li>
                <li>
                  <p><strong>Urologie:</strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Blasenentzündung,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Blasenkrebs,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Erektionsstörung,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Hodenkrebs,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Prostataentzündung,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Prostatakrebs,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Da Vinci,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Unterbindung</a></p>
                </li>
                <li>
                  <p><strong>GZO Spital Wetzikon:</strong><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">H-Quality,</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">DRG (Fallkostenpauschale),</a><a href="http://ui.pitsolutions.com/private/gzo/assets_html/v1/gzo_2014_inhaltsseite.html#">Spital im Kanton Zürich</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>      
    </div>

</body></html>