<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gzo · home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Place favicon.ico and apple-touch-icon.png in the root directory 
    -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <!--HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    -->
    <!--
    if lt IE 9
        script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')  
    -->
  </head>
  <body>
  	<div class="fixedoverlay"></div>
    <div id="wrapper">
      <!-- header info-->
      <div class="mod info">
        <div class="container">
          <div class="col-md-12">
            <h2>Titel Topnews</h2>
            <p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio que qui ut fugit quibearum que veribea sam eossundae dit ea uta dirae. <a href="#">Mehr Infos</a></p>
            <div data-target=".info" class="icon btn-close">close</div>
          </div>
        </div>
      </div>
      <!-- header info-->
      <div class="outerdiv hdr">
        <div class="container">
          <div class="col-md-9 col-sm-6">
            <!-- quick links-> -->
            <div class="quick-links mob-hide">
              <div class="primary-nav clearfix">
                <ul>
                  <li><a href="#" target="_blank" class="starter">GZO Startseite</a></li>
                  <li class="sub-view"><a href="#">Klinik</a>
                    <ul>
                      <li><a href="#">Chirurgische Klinik</a></li>
                      <li class="sub-view"><a href="#">Medizinische Klinik</a>
                        <ul>
                          <li><a href="#">Angiologie</a></li>
                          <li><a href="#">Kardiologie</a></li>
                          <li><a href="#">Gastroenterologie</a></li>
                          <li><a href="#">Pneumologie</a></li>
                          <li><a href="#">Nephrologie</a></li>
                          <li><a href="#">Onkologie</a></li>
                          <li><a href="#">Endokrinologie</a></li>
                          <li><a href="#">Palliativmedizin</a></li>
                          <li><a href="#">Schlafmedizin</a></li>
                          <li><a href="#">Schmerzmedizin</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Frauenklinik</a></li>
                      <li><a href="#">Radiologie</a></li>
                      <li><a href="#">Anästhesie</a></li>
                      <li><a href="#">Pflege</a></li>
                      <li><a href="#">Physiotherapie</a></li>
                      <li><a href="#">Beratungsdienste</a></li>
                    </ul>
                  </li>
                  <li class="sub-view"><a href="#" target="_blank">Spezialist</a>
                    <ul>
                      <li><a href="#">Chirurgische Klinik</a></li>
                      <li><a href="#">Medizinische Klinik</a></li>
                      <li><a href="#">Frauenklinik</a></li>
                      <li><a href="#">Radiologie</a></li>
                      <li><a href="#">Anästhesie</a></li>
                      <li><a href="#">Pflege</a></li>
                      <li><a href="#">Physiotherapie</a></li>
                      <li><a href="#">Beratungsdienste</a></li>
                    </ul>
                  </li>
                  <li><a href="#" target="_blank" class="highlight">Notfall</a></li>
                </ul>
              </div>
              <div class="secondary-nav">
                <ul>
                  <li>
                    <div class="search">
                      <form id="search-form" method="#" action="post">
                        <input type="text" placeholder="Suche" required class="text">
                        <input type="submit" value="search" class="btn-search">
                      </form>
                    </div>
                  </li>
                  <li><a href="#" class="icons"><img src="images/figure.png" title="GZO" alt=""></a>
                    <div class="subnav-drop"><strong class="nav-title">Heidi &amp; Rene</strong>
                      <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                    </div>
                  </li>
                  <li><a href="#" class="icons"><img src="images/cart.png" title="GZO" alt=""></a>
                    <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                      <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                    </div>
                  </li>
                  <li><a href="#" class="icons"><img src="images/target.png" title="GZO" alt=""></a>
                    <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                      <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                    </div>
                  </li>
                  <li><a href="#" class="icons"><img src="images/brief.png" title="GZO" alt=""></a>
                    <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                      <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                    </div>
                  </li>
                  <li><a href="#" class="icons"><img src="images/contact.png" title="GZO" alt=""></a>
                    <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                      <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- quick links <- -->
          </div>
          <div class="pull-right"><a href="#" class="logo"><img src="images/logo.png" title="GZO" alt=""></a></div>
        </div>
        <div class="mob-search desktop-hide">
          <div class="search mob-mode">
            <form id="search-form" method="#" action="post">
              <input type="submit" value="search" class="btn-search">
            </form>
          </div>
        </div>
        <!-- Demo navbar -->
        <nav role="navigation" class="navbar yamm navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" id="nav-expander" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Yamm Megamenu</a>
            </div>
            <div id="navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="desktop-hide bg-mobile">
                  <!-- quick links-> -->
                  <div class="quick-links">
                    <div class="primary-nav clearfix">
                      <ul>
                        <li><a href="#" target="_blank" class="starter">GZO Startseite</a></li>
                        <li><a href="#" target="_blank" class="highlight">Notfall</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- quick links <- -->
                </li>
                <li class="dropdown desktop-hide pos-rel"><a href="gZo_2014_babygalerie-detail.html"> Kliniken & Zentren</a><span class="icon-mobiledropdown"></span>
                  <ul role="menu" aria-labelledby="dropdownMenu" class="dropdown-menu">
                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Chirurgische Klinik</a><span class="icon-mobiledropdown"></span>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Bariatrie</a></li>
                        <li><a href="#">Orthopädie</a></li>
                        <li><a href="#">Kolorektalchirurgie</a></li>
                        <li><a tabindex="-1" href="#">Viszeralchirurgie</a></li>
                        <li><a href="#">Gefässchirurgie</a></li>
                        <li><a href="#">Urologie</a></li>
                        <li><a tabindex="-1" href="#">Traumatologie</a></li>
                        <li><a href="#">Augenchirurgie</a></li>
                        <li><a href="#">Kolorektalchirurgie</a></li>
                        <li><a tabindex="-1" href="#">Bariatrie</a></li>
                        <li><a href="#">Orthopädie</a></li>
                        <li><a href="#">Kolorektalchirurgie</a></li>
                        <li><a tabindex="-1" href="#">Bariatrie</a></li>
                        <li><a href="#">Orthopädie</a></li>
                        <li><a href="#">Kolorektalchirurgie</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Medizinische Klinik</a><span class="icon-mobiledropdown"></span>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Bariatrie</a></li>
                        <li><a href="#">Orthopädie</a></li>
                        <li><a href="#">Kolorektalchirurgie</a></li>
                        <li><a tabindex="-1" href="#">Viszeralchirurgie</a></li>
                        <li><a href="#">Gefässchirurgie</a></li>
                        <li><a href="#">Urologie</a></li>
                        <li><a tabindex="-1" href="#">Traumatologie</a></li>
                        <li><a href="#">Augenchirurgie</a></li>
                        <li><a href="#">Kolorektalchirurgie</a></li>
                        <li><a tabindex="-1" href="#">Bariatrie</a></li>
                        <li><a href="#">Orthopädie</a></li>
                        <li><a href="#">Kolorektalchirurgie</a></li>
                        <li><a tabindex="-1" href="#">Bariatrie</a></li>
                        <li><a href="#">Orthopädie</a></li>
                        <li><a href="#">Kolorektalchirurgie</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Frauenklinik</a><span class="icon-mobiledropdown"></span>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Bariatrie</a></li>
                        <li><a href="#">Orthopädie</a></li>
                        <li><a href="#">Kolorektalchirurgie</a></li>
                        <li><a tabindex="-1" href="#">Viszeralchirurgie</a></li>
                        <li><a href="#">Gefässchirurgie</a></li>
                        <li><a href="#">Urologie</a></li>
                        <li><a tabindex="-1" href="#">Traumatologie</a></li>
                        <li><a href="#">Augenchirurgie</a></li>
                        <li><a href="#">Kolorektalchirurgie</a></li>
                        <li><a tabindex="-1" href="#">Bariatrie</a></li>
                        <li><a href="#">Orthopädie</a></li>
                        <li><a href="#">Kolorektalchirurgie</a></li>
                        <li><a tabindex="-1" href="#">Bariatrie</a></li>
                        <li><a href="#">Orthopädie</a></li>
                        <li><a href="#">Kolorektalchirurgie</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Radiologie</a></li>
                    <li><a href="#">Anästhesie</a></li>
                    <li><a href="#">Pflege</a></li>
                    <li><a href="#">Physiotherapie + Reha</a></li>
                    <li><a href="#">Beratungsdienste</a></li>
                  </ul>
                </li>
                <li class="dropdown mob-hide"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Kliniken & Zentren</a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="yamm-content">
                        <div class="row">
                          <ul class="col-sm-2 list-unstyled">
                            <li><a href="#">Chirurgische Klinik</a></li>
                            <li class="sub-nav"><a href="#">Bariatrie</a></li>
                            <li class="sub-nav"><a href="#">Orthopädie</a></li>
                            <li class="sub-nav"><a href="#">Kolorektalchirurgie</a></li>
                            <li class="sub-nav"><a href="#">Viszeralchirurgie</a></li>
                            <li class="sub-nav"><a href="#">Gefässchirurgie</a></li>
                            <li class="sub-nav"><a href="#">Urologie</a></li>
                            <li class="sub-nav"><a href="#">Traumatologie</a></li>
                            <li class="sub-nav"><a href="#">Augenchirurgie</a></li>
                            <li class="sub-nav"><a href="#">Handchirurgie</a></li>
                            <li class="sub-nav"><a href="#">Sportmedizin</a></li>
                          </ul>
                          <ul class="col-sm-2 list-unstyled">
                            <li><a href="#">Medizinische Klinik</a></li>
                            <li class="sub-nav"><a href="#">Angiologie</a></li>
                            <li class="sub-nav"><a href="#">Kardiologie</a></li>
                            <li class="sub-nav"><a href="#">Gastroenterologie</a></li>
                            <li class="sub-nav"><a href="#">Pneumologie</a></li>
                            <li class="sub-nav"><a href="#">Nephrologie</a></li>
                            <li class="sub-nav"><a href="#">Onkologie</a></li>
                            <li class="sub-nav"><a href="#">Endokrinologie</a></li>
                            <li class="sub-nav"><a href="#">Palliativmedizin</a></li>
                            <li class="sub-nav"><a href="#">Schlafmedizin</a></li>
                            <li class="sub-nav"><a href="#">Schmerzmedizin</a></li>
                          </ul>
                          <ul class="col-sm-2 list-unstyled">
                            <li><a href="#">Frauenklinik</a></li>
                            <li class="sub-nav"><a href="#">Geburtshilfe</a></li>
                            <li class="sub-nav"><a href="#">Gynäkologie</a></li>
                            <li class="sub-nav"><a href="#">Urogynäkologie</a></li>
                            <li><a href="#">Radiologie</a></li>
                            <li><a href="#">Anästhesie</a></li>
                            <li><a href="#">Pflege</a></li>
                            <li><a href="#">Physiotherapie + Reha</a></li>
                            <li><a href="#">Beratungsdienste</a></li>
                          </ul>
                          <ul class="col-sm-2 nav-widget">
                            <li>
                              <div class="item"><a href="#" class="thumb"><img src="images/temp/img-129x86.jpg" alt="image-title"></a>
                                <div class="details">
                                  <h2><a href="#">Promolink</a></h2>
                                  <p><a href="#">Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. </a></p>
                                </div>
                              </div>
                              <div class="item"><a href="#" class="thumb"><img src="images/temp/img-129x86-1.jpg" alt="image-title"></a>
                                <div class="details">
                                  <h2><a href="#">Promolink</a></h2>
                                  <p><a href="#">Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. </a></p>
                                </div>
                              </div>
                              <div class="item"><a href="#" class="thumb"><img src="images/temp/img-129x86-2.jpg" alt="image-title"></a>
                                <div class="details">
                                  <h2><a href="#">Promolink</a></h2>
                                  <p><a href="#">Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink.</a></p>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="dropdown mob-hide"><a href="gZo_2014_babygalerie-detail.html" class="dropdown-toggle disabled">Krankheitsbilder</a>
                  <ul role="menu" aria-labelledby="dropdownMenu" class="dropdown-menu nonmega">
                    <li><a href="#">Actionss</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Chirurgische Kliniksss</a>
                      <ul class="dropdown-menu nonmega">
                        <li><a tabindex="-1" href="#">Second level</a></li>
                        <li class="dropdown-submenu"><a href="#">More..</a>
                          <ul class="dropdown-menu nonmega">
                            <li><a href="#">3rd level</a></li>
                            <li><a href="#">3rd level</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Second level</a></li>
                        <li><a href="#">Second level</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown desktop-hide pos-rel"><a href="gzo_2014_news_presse_agenda.html">Krankheitsbilder</a><span class="icon-mobiledropdown"></span>
                  <ul role="menu" aria-labelledby="dropdownMenu" class="dropdown-menu nonmega">
                    <li><a href="#">Actionss</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Chirurgische Klinik</a><span class="icon-mobiledropdown"></span>
                      <ul class="dropdown-menu nonmega">
                        <li><a tabindex="-1" href="#">Second level</a></li>
                        <li class="dropdown-submenu"><a href="#">More..</a><span class="icon-mobiledropdown"></span>
                          <ul class="dropdown-menu nonmega">
                            <li><a href="#">3rd level</a></li>
                            <li><a href="#">3rd level</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Second level</a></li>
                        <li><a href="#">Second level</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Patientss</a></li>
                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Besucher</a></li>
                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Zuweiser</a></li>
                <li><a href="gzo_2014_news_presse_agenda.html">Über uns</a></li>
                <li class="desktop-hide bg-mobile">
                  <!-- quick links-> -->
                  <div class="quick-links">
                    <div class="secondary-nav">
                      <ul>
                        <li><a href="#" class="icon figure">Heidi & Rene</a>
                          <div class="subnav-drop"><strong class="nav-title">Heidi &amp; Rene</strong>
                            <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                          </div>
                        </li>
                        <li><a href="#" class="icon cart">cart</a>
                          <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                            <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                          </div>
                        </li>
                        <li><a href="#" class="icon target">target</a>
                          <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                            <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                          </div>
                        </li>
                        <li><a href="#" class="icon brief">brief</a>
                          <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                            <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                          </div>
                        </li>
                        <li><a href="#" class="icon contact">Kontact</a>
                          <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                            <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- quick links <- -->
                </li>
                <li class="desktop-hide">
                  <footer class="innerpage mobilemenu">
                    <div class="row-fluid">
                      <div class="col-xs-12 col-md-8">
                        <div class="mod contact-info">
                          <div class="address">
                            <ul>
                              <li>
                                <h3>GZO Spital Wetzikon</h3>
                              </li>
                              <li>
                                <p>Spitalstrasse 66</p>
                              </li>
                              <li>
                                <p>8620 Wetzikon</p>
                              </li>
                            </ul>
                          </div>
                          <div class="contact">
                            <ul>
                              <li>
                                <h3>Kontakt</h3>
                              </li>
                              <li>
                                <p>Fax +41 44 930 05 87</p>
                              </li>
                              <li>
                                <p><a href="mailto:info@gzo.ch">info@gzo.ch</a></p>
                              </li>
                            </ul>
                          </div>
                          <div class="tele">
                            <Tel>+41 44 934 11 11 </Tel>
                          </div>
                        </div>
                        <div class="footer-links clearfix">
                          <ul>
                            <li><a href="#" class="link">Lageplan</a></li>
                            <li><a href="#" class="link">Disclaimer</a></li>
                            <li><a href="#" class="link">Impressum</a></li>
                            <li><a href="#" class="link">Sitemap</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </footer>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <!-- spotlight start-->
        <div id="carousel-example-generic" data-ride="carousel" class="carousel slide fade-slide spotlight">
          <!--Indicators 
          -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          </ol>
          <!--Wrapper for slides 
          -->
          <div class="carousel-inner">
            <div class="item active"><img src="images/temp/img-1400x480.jpg" alt="Slide-1">
              <div class="carousel-caption"><a href="#"><span>Engagiert.</span><br><span>Für Mensch und Medizin.</span></a></div>
            </div>
            <div class="item"><img src="images/temp/img-1400x480-1.jpg" alt="Slide-2">
              <div class="carousel-caption"><a href="#"><span>Engagiert.</span><br><span>Für Mensch und Medizin.</span></a></div>
            </div>
          </div>
       </div>
       <!-- spotlight end-->
        <div class="container">
          <div class="content-wrapper clearfix">
            <div class="row-fluid home">
              <div class="col-md-4">
                <!-- news module start-->
                <section class="mod data-list tabbed news">
                  <div class="mod-highlight mob-hide"><a href="#news-mod"><span>News</span></a><a href="#press-mod" class="active"><span>Presse</span></a><a href="#" target="_blank" class="icon-twitter"><span>twitter</span></a></div>
                  <div id="news-mod" class="tab-content">
                    <div class="mod-details">
                      <h2 data-toggle="collapse" data-target="#news" class="desktop-hide collapsed"><a>News</a></h2>
                      <h2 class="mob-hide">Aktuelles</h2>
                      <div id="news" class="collapse in"><a href="#" class="thumb"><img src="images/temp/img-330x220-7.jpg" alt="image-title"></a>
                        <h3 class="urologie-generic2"><a>Headline News Urologie</a></h3>
                        <p>24.05.2014. Seit dem Umbau 2008 stehen uns modernste Räume und Geräte zur Abklärung und Behandlung urologischer Erkrankungen zur Verfügung. Die Urologie GZO bietet das gesamte Spektrum der operativen und auch der konservativen Therapie urologischer Erkrankungen an. Neben bösartigen Erkrankungen von Nieren, Blase, Prostata, Hoden und Penis gehören hierzu die gutartige Vergrösserung der Prostata, Harnsteinleiden sowie Blasenfunktionsstörungen. Zum Leistungsangebot der Urologie GZO gehören neben der klassischen offenen Chirurgie modernste Operationstechniken wie Schlüssellochchirurgie und Laserchirurgie, die bipolare Resektionstechnik der Prostata (Verhinderung des Einschwemm-Syndroms) sowie das gesamte Spektrum der operativen </p><a href="#" class="linkblock">Newsarchiv</a>
                      </div>
                    </div>
                  </div>
                  <div id="press-mod" class="tab-content active">
                    <div class="mod-details">
                      <h2 data-toggle="collapse" data-target="#pressemitteilungen" class="desktop-hide collapsed"><a>Pressemitteilungen</a></h2>
                      <h2 class="mob-hide">Pressemitteilungen</h2>
                      <div id="pressemitteilungen" class="collapse in">
                        <ul>
                          <li><span class="time">24.01.2014</span>
                            <h3><a href="#">Neue Leiterin Onkologie</a></h3>
                            <p>Am 1. Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.</p><a href="#" class="link">GZO-Medienmitteilung</a>
                          </li>
                          <li><span class="time">23.01.2014</span>
                            <h3><a href="#">Erweiterungsbau Parlament</a></h3>
                            <p>Der Gestaltungsplan für die Erweiterung des GZO Spital Wetzikon liegt auf. Der 165-Millionen-Bau wird eines der ersten Geschäfte des Parlaments sein.</p><a href="#" class="link">Zürcher Oberländer</a>
                          </li>
                          <li><span class="time">22.01.2014</span>
                            <h3><a href="#">Spitäler sind keine Schraubstöcke</a></h3>
                            <p>Reaktion von Dr. Jürg Schneider, Chefarz Frauenklinik am GZO Spital Wetzikon auf den öffentlichen Jahresrückblick des Urologen. </p><a href="#" class="link">Zürcher Oberländer</a>
                          </li><a href="#" class="linkblock">Medienmitteilungen</a>
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>
                <!-- news module end-->
                <!-- generic module start-->
                <section class="mod generic">
                  <div class="mod-highlight"><span>Zuweiser</span></div>
                  <div class="mod-details">
                    <h2 data-toggle="collapse" data-target="#mod-generic" class="desktop-hide collapsed"><a>Infos für Zuweiser</a></h2>
                    <h2 class="mob-hide">Infos für Zuweiser</h2>
                    <div id="mod-generic" class="collapse in"><a href="#" class="thumb"><img src="images/temp/img-330x220.jpg" alt="image-title"></a>
                      <p>Auf unserem <a href="#">Zuweiserportal</a>finden Sie alle wichtigen Informationen und Formulare für eine Zuweisung ans GZO Spital Wetzikon.</p>
                      <form action="#">
                        <fieldset>
                          <select class="custom-select form-control">
                            <option value="">Quicklinks</option>
                            <option value="1">Another action</option>
                            <option value="2">The Other action</option>
                            <option value="3">Why this action not working</option>
                          </select>
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </section>
                <!-- generic module end-->
              </div>
              <div class="col-md-4">
                <!-- generic module start-->
                <section class="mod generic">
                  <div class="mod-highlight"><span>Krankheitsbilder</span></div>
                  <div class="mod-details">
                    <h2 data-toggle="collapse" data-target="#mod-generic1" class="desktop-hide collapsed"><span class="figure icon icon-large"></span><a>Heidi & René</a></h2>
                    <h2 class="mob-hide"><span class="figure icon icon-large"></span>Heidi & René</h2>
                    <div id="mod-generic1" class="collapse in"><a href="#" class="thumb"><img src="images/temp/img-330x220-1.jpg" alt="image-title"></a>
                      <p>Diese Seiten bieten Einblick in das <strong>breite Spektrum medizinischer Leistungen,</strong>die in unserem Spital angeboten werden. </p>
                      <form id="" method="" action="">
                        <fieldset>
                          <select class="custom-select form-control">
                            <option value="">1. Geschlecht wählen</option>
                            <option value="1">Another action</option>
                            <option value="2">The Other action</option>
                            <option value="3">Why this action not working</option>
                          </select>
                        </fieldset>
                        <fieldset>
                          <select class="custom-select form-control disabled">
                            <option value="">2. Bereich wählen</option>
                            <option value="1">Another action</option>
                            <option value="2">The Other action</option>
                            <option value="3">Why this action not working</option>
                          </select>
                        </fieldset>
                        <fieldset>
                          <select class="custom-select form-control disabled">
                            <option value="">3. Krankheitsbild wählen</option>
                            <option value="1">Another action</option>
                            <option value="2">The Other action</option>
                            <option value="3">Why this action not working</option>
                          </select>
                        </fieldset>
                        <input type="submit" value="Anzeigen" class="btn btn-primary">
                      </form>
                    </div>
                  </div>
                </section>
                <!-- generic module end-->
                <!-- generic list widget start-->
                <section class="mod generic data-list">
                  <div class="mod-highlight"><span>Agenda</span></div>
                  <div class="mod-details">
                    <h2 data-toggle="collapse" data-target="#mod-widgetlist" class="desktop-hide collapsed"><a>Veranstaltungen</a></h2>
                    <h2 class="mob-hide">Veranstaltungen</h2>
                    <div id="mod-widgetlist" class="collapse in">
                      <ul class="lists">
                        <li class="list-item">
                          <div class="time">Freitag, 23.05.2014, 20.00 Uhr</div>
                          <h3><a href="#">Eltern-Informationsabend</a></h3>
                        </li>
                        <li class="list-item">
                          <div class="time">Freitag, 23.05.2014, 20.00 Uhr</div>
                          <h3><a href="#">Spital-Gottesdienst</a></h3>
                        </li>
                        <li class="list-item">
                          <div class="time">Freitag, 23.05.2014, 20.00 Uhr</div>
                          <h3><a href="#">Adipositas-Symposium</a></h3>
                        </li>
                      </ul><a href="#" target="_blank" class="linkblock">Zur kompletten Agenda</a>
                    </div>
                  </div>
                </section>
                <!-- generic list widget end-->
                <!-- generic list widget start-->
                <section class="mod generic data-list">
                  <div class="mod-highlight"><span>Jobs</span></div>
                  <div class="mod-details">
                    <h2 data-toggle="collapse" data-target="#mod-widgetlist1" class="desktop-hide collapsed"><a>Offene Stellen</a></h2>
                    <h2 class="mob-hide">Offene Stellen</h2>
                    <div id="mod-widgetlist1" class="collapse in">
                      <ul class="lists">
                        <li class="list-item">
                          <div class="time">Frauenklinik, 80-100%</div>
                          <h3><a href="#">Arztsekretärin Frauenklinik</a></h3>
                        </li>
                        <li class="list-item">
                          <div class="time">Radiologie und Nuklearmedizin, teilz.</div>
                          <h3><a href="#">Assistenzärztin/arzt oder Oberärztin/arzt</a></h3>
                        </li>
                        <li class="list-item">
                          <div class="time">Nephrologie/Dialyse, 100%</div>
                          <h3><a href="#">Pflegefachfrau Dialyse</a></h3>
                        </li>
                      </ul><a href="#" target="_blank" class="linkblock">Mehr offene Stellen</a>
                    </div>
                  </div>
                </section>
                <!-- generic list widget end-->
              </div>
              <div class="col-md-4">
                <!-- generic module start-->
                <section class="mod generic">
                  <div class="mod-highlight"><span>Kliniken & Zentren</span></div>
                  <div class="mod-details">
                    <h2 data-toggle="collapse" data-target="#mod-generic2" class="desktop-hide collapsed"><a>Kliniken & Zentren</a></h2>
                    <h2 class="mob-hide">Kliniken & Zentren</h2>
                    <div id="mod-generic2" class="collapse in"><a href="#" class="thumb"><img src="images/temp/img-330x220-2.jpg" alt="image-title"></a>
                      <p><strong>Verschiedene spezialisierte Bereiche </strong>sorgen für das Wohl unserer Patienten im GZO Spital Wetzikon.</p>
                      <form action="#">
                        <fieldset>
                          <select class="custom-select form-control">
                            <option value="">Klinik wählen</option>
                            <option value="1">Another action</option>
                            <option value="2">The Other action</option>
                            <option value="3">Why this action not working</option>
                          </select>
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </section>
                <!-- generic module end-->
                <!-- tabbed module start-->
                <section class="mod data-list tabbed news">
                  <div class="mod-highlight mob-hide"><a href="#gallery-mod"><span>Babygalerie</span></a><a href="#blum-mod" class="active"><span>Blumenshop</span></a></div>
                  <div id="gallery-mod" class="tab-content">
                    <div class="mod-details">
                      <h2 data-toggle="collapse" data-target="#mod-widget-gallery-mod" class="desktop-hide collapsed"><a>Neu geboren</a></h2>
                      <h2 class="mob-hide">Neu geboren</h2>
                      <div id="mod-widget-gallery-mod" class="collapse in">
                        <div class="data-list type-1">
                          <ul>
                            <li>
                              <h3><span class="icon icon-female"></span><a href="#">Susanne Mira</a></h3>
                              <div class="time">01.06.2014, 17:03h</div>
                            </li>
                            <li>
                              <h3><span class="icon icon-male"></span><a href="#">Lennart Josef</a></h3>
                              <div class="time">01.06.2014, 17:03h</div>
                            </li>
                            <li><a href="#" class="thumb"><img src="images/temp/thumb-159x106.jpg" alt="image-title"></a>
                              <h3><span class="icon icon-male"></span><a href="#">Nino stefen</a></h3>
                              <div class="time">24.02.2014</div>
                            </li>
                            <li><a href="#" class="thumb"><img src="images/temp/thumb-159x106-1.jpg" alt="image-title"></a>
                              <h3><span class="icon icon-male"></span><a href="#">Lucas Mateo</a></h3>
                              <div class="time">23.02.2014</div>
                            </li>
                            <li><a href="#" class="thumb"><img src="images/temp/thumb-159x106-2.jpg" alt="image-title"></a>
                              <h3><span class="icon icon-female"></span><a href="#">Giuseppina</a></h3>
                              <div class="time">22.02.2014</div>
                            </li>
                            <li><a href="#" class="thumb"><img src="images/temp/thumb-159x106-3.jpg" alt="image-title"></a>
                              <h3><span class="icon icon-female"></span><a href="#">Hana Hidic</a></h3>
                              <div class="time">22.02.2014</div>
                            </li>
                          </ul><a href="#" class="linkblock">Babygalerie</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="blum-mod" class="tab-content active theme-blue">
                    <div class="mod-details">
                      <h2 data-toggle="collapse" data-target="#mod-widget-blum-mod" class="desktop-hide collapsed"><a>Blumen Service</a></h2>
                      <h2 class="mob-hide">Blumen Service</h2>
                      <div id="mod-widget-blum-mod" class="collapse in"><a href="#" class="thumb"><img src="images/temp/img-330x220-3.jpg" alt="image-title"></a>
                        <p><strong class="theme-blue">Sie können Blumen online bestellen und direkt ins GZO Spital Wetzikon liefern lassen.</strong>Bereiten Sie Ihren Liebsten im GZO mit unserem Blumen Service eine Freude.</p>
                      </div>
                    </div>
                  </div>
                </section>
                <!-- tabbed module end-->
                <!-- tabbed module start-->
                <section class="mod data-list tabbed">
                  <div class="mod-highlight mob-hide"><a href="#quicklinks-mod"><span>Quicklinks</span></a><a href="#download-mod" class="active"><span>Downloads</span></a></div>
                  <div id="download-mod" class="tab-content active">
                    <div class="mod-details">
                      <h2 data-toggle="collapse" data-target="#download" class="desktop-hide collapsed"><a>Downloadcenter</a></h2>
                      <h2 class="mob-hide">Downloadcenter</h2>
                      <div id="download" class="collapse in">
                        <p>In unserem Downloadcenter finden Sie Informationen, Broschüren und Formulare zum GZO Spital Wetzikon.</p>
                        <form action="#">
                          <fieldset>
                            <select class="custom-select form-control reset-field">
                              <option value="">1. Hauptrubrik auswählen</option>
                              <option value="1">Another action</option>
                              <option value="2">The Other action</option>
                              <option value="3">Why this action not working</option>
                            </select><span class="icon reset-this"></span>
                          </fieldset>
                          <fieldset>
                            <select class="custom-select form-control reset-field disabled">
                              <option value="">1. Hauptrubrik auswählen</option>
                              <option value="1">Another action</option>
                              <option value="2">The Other action</option>
                              <option value="3">Why this action not working</option>
                            </select><span class="icon reset-this"></span>
                          </fieldset>
                          <fieldset>
                            <input type="text" value="Suchbegriff" required class=" form-control text search reset-field"><span class="icon reset-this"></span>
                          </fieldset>
                        </form>
                        <div class="result-data download">
                          <ul class="tabbed">
                            <li><a href="#"><span class="file-title">Eintritts-Checkliste</span><span class="file-info"><span class="size">3,5 mb</span><span class="icon icon-pdf"></span></span></a></li>
                            <li><a href="#"><span class="file-title">Infobroschüre</span><span class="file-info"><span class="size">290 kb</span><span class="icon icon-xls"></span></span></a></li>
                            <li><a href="#"><span class="file-title">Infobroschüre Narkoe</span><span class="file-info"><span class="size">11,5 mb</span><span class="icon icon-zip"></span></span></a></li>
                            <li><a href="#"><span class="file-title">Versichertenkarte</span><span class="file-info"><span class="size">3 MB</span><span class="icon icon-pwp"></span></span></a></li>
                            <li><a href="#"><span class="file-title">Versicherungsausweis</span><span class="file-info"><span class="size">493 KB</span><span class="icon icon-access"></span></span></a></li>
                            <li><a href="#"><span class="file-title">Dokumentname </span><span class="file-info"><span class="size">210 KB</span><span class="icon icon-word"></span></span></a></li>
                          </ul><a href="#" class="btn btn-primary">Alle Anzeigen (23)</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="quicklinks-mod" class="tab-content">
                    <div class="mod-details theme-blue">
                      <h2 data-toggle="collapse" data-target="#NutzlicheInfos" class="desktop-hide collapsed"><a>Nutzliche Infos</a></h2>
                      <h2 class="mob-hide">Nutzliche Infos</h2>
                      <div id="NutzlicheInfos" class="collapse in">
                        <div class="data-list type-2">
                          <ul>
                            <li><a href="#" class="thumb-img"><img src="images/temp/img-108x73.jpg" alt="image-title"></a>
                              <div class="details">
                                <h3><a href="#">Titelzeile Quicklink</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna</p>
                              </div>
                            </li>
                            <li><a href="#" class="thumb-img"><img src="images/temp/img-108x73-1.jpg" alt="image-title"></a>
                              <div class="details">
                                <h3><a href="#">Titelzeile Quicklink</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna</p>
                              </div>
                            </li>
                            <li><a href="#" class="thumb-img"><img src="images/temp/img-108x73-2.jpg" alt="image-title"></a>
                              <div class="details">
                                <h3><a href="#">Titelzeile Quicklink</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna</p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <!-- Lorem module end-->
              </div>
            </div>
          </div>
        </div>
      <div class="desktop-hide">
        <footer class="innerpage">
          <div class="container">
            <div class="col-xs-12 col-md-8">
              <div class="mod contact-info">
                <div class="address">
                  <ul>
                    <li>
                      <h3>GZO Spital Wetzikon</h3>
                    </li>
                    <li>
                      <p>Spitalstrasse 66</p>
                    </li>
                    <li>
                      <p>8620 Wetzikon</p>
                    </li>
                  </ul>
                </div>
                <div class="contact">
                  <ul>
                    <li class="desktop-hide">
                      <h3>Kontakt</h3>
                    </li>
                    <li class="tel">
                      <p>Tel. +41 44 934 11 11 </p>
                    </li>
                    <li>
                      <p>Fax +41 44 930 05 87</p>
                    </li>
                    <li>
                      <p><a href="mailto:info@gzo.ch">info@gzo.ch</a></p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="footer-links clearfix mob-hide">
                <ul>
                  <li><a href="#" class="link">Lageplan</a></li>
                  <li><a href="#" class="link">Disclaimer</a></li>
                  <li><a href="#" class="link">Impressum</a></li>
                  <li><a href="#" class="link">Sitemap</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="social-icons clearfix">
                <ul>
                  <li><a href="#" class="icon fb">Facebook</a></li>
                  <li><a href="#" class="icon tw">Twitter</a></li>
                  <li><a href="#" class="icon gplus">Google Plus</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>