article
  h2 Blumen Service
  p 
    |Können Sie Ihre Liebsten bei uns im GZO Spital Wetzikon nicht persönlich besuchen, möchten ihnen aber trotzdem einen Blumengruss senden? Kein Problem! Mit unserem Online Blumen Service geben wir Ihnen die Möglichkeit, aus verschiedenen Kategorien das Passende auszuwählen. Unsere Floristin wird jede Bestellung individuell zusammenstellen. Wenn Sie Ihre Bestellung bis 14 Uhr aufgeben, werden die Blumen noch am selben Tag ausgeliefert (Montag bis Freitag).
  