form(id="", method="", action="" class="list-detail") 
	fieldset
		select.custom-select.form-control
			option(value="") Mann
			option(value="1") Mann
			option(value="2") Mann
			option(value="3") Mann
	fieldset
		select.custom-select.form-control
			option(value="") Bereich wählen
			option(value="1") Another action
			option(value="2") The Other action
			option(value="3") Why this action not working
	input(type="submit",class="btn btn-primary",value="Anzeigen")