
<form id="" method="" action="">
  <fieldset>
    <select class="custom-select form-control">
      <option value="">1. Geschlecht wählen</option>
      <option value="1">Another action</option>
      <option value="2">The Other action</option>
      <option value="3">Why this action not working</option>
    </select>
  </fieldset>
  <fieldset>
    <select class="custom-select form-control disabled">
      <option value="">2. Bereich wählen</option>
      <option value="1">Another action</option>
      <option value="2">The Other action</option>
      <option value="3">Why this action not working</option>
    </select>
  </fieldset>
  <fieldset>
    <select class="custom-select form-control disabled">
      <option value="">3. Krankheitsbild wählen</option>
      <option value="1">Another action</option>
      <option value="2">The Other action</option>
      <option value="3">Why this action not working</option>
    </select>
  </fieldset>
  <input type="submit" value="Anzeigen" class="btn btn-primary"/>
</form>