.filterDetail
	.hdg Neu geboren:
	.babydetails Mariana
		i.w
		span.datetime  (15.12. 12:08h)
	.babydetails  Lorenzo 
		i.m
		span.datetime  (15.12. 12:08h)
	.babydetails  Nadi 
		i.m
		span.datetime (15.12. 12:08h)
	.babydetails Mariana
		i.w
		span.datetime  (15.12. 12:08h)
	.babydetails  Lorenzo 
		i.m
		span.datetime  (15.12. 12:08h)
	.babydetails  Nadi 
		i.w
		span.datetime (15.12. 12:08h)
	.babydetails Mariana
		i.m
		span.datetime  (15.12. 12:08h)
	.babydetails  Lorenzo 
		i.w
		span.datetime  (15.12. 12:08h)
	.babydetails  Nadi 
		i.m
		span.datetime (15.12. 12:08h)
	.babydetails Mariana
		i.w
		span.datetime  (15.12. 12:08h)
	.babydetails  Lorenzo 
		i.m
		span.datetime  (15.12. 12:08h)
	.babydetails  Nadi 
		i.m
		span.datetime (15.12. 12:08h)




