footer
	.container
		.col-md-3
			.mod.contact-info
				h3 GZO Spital Wetzikon
				p Spitalstrasse 66
				p 8620 Wetzikon
				h3 Kontakt:
				p Tel. +41 44 934 11 11 
				p Fax +41 44 930 05 87
				p: a(href="mailto:info@gzo.ch") info@gzo.ch
			.footer-links.clearfix
				ul
					li: a(href="#").link Lageplan
					li: a(href="#").link Disclaimer
					li: a(href="#").link Impressum
					li: a(href="#").link Sitemap
			.social-icons.clearfix
				ul
					li: a(href="#").icon.fb Facebook
					li: a(href="#").icon.tw Twitter
					li: a(href="#").icon.gplus Google Plus
		.col-md-9
			.quick-list
				ul
					li
						p 
							strong Bauch- und Lungenchirurgie: 
							a(href="#") Gallenblasenentfernung,
							a(href="#") Dickdarmchirurgie,
							a(href="#") Leistenbruch,
							a(href="#") Divertikelkrankheit
					li
						p 
							strong Diabetes und Hormonerkrankungen:
							a(href="#") Ernährungsberatung,
							a(href="#") Diabetesberatung,
							a(href="#") Diabetes melitus,
							a(href="#") Hormonstörungen
					li
						p 
							strong Diagnostik: 
							a(href="#") Magnetresonanztomographie (MRI),
							a(href="#") Computertomographie (CT),
							a(href="#") Mammographie,
							a(href="#") Angiographie,
							a(href="#") Nuklearmedizin
					li
						p 
							strong Gefässerkrankungen: 
							a(href="#") Angiographie,
							a(href="#") Krampfadern,
							a(href="#") Verschlusskrankheiten,
							a(href="#") 
					li
						p 
							strong Gynäkologie: 
							a(href="#") Frauenklinik,
							a(href="#") Brustkrebs,
							a(href="#") Gebärmutterhalskrebs,
							a(href="#") Inkontinenz,
							a(href="#") Jugendgynäkologie
					li
						p 
							strong Herzerkrankungen: 
							a(href="#") Angina Pectoris (Vorbote Herzinfarkt),
							a(href="#") Herzrhythmusstörungen,
							a(href="#") Herzschwäche,
							a(href="#") Herzschrittmacher
				ul
					li
						p 
							strong Krebserkrankungen: 
							a(href="#") Onkologie,
							a(href="#") Darmkrebs,
							a(href="#") Leberkrebs,
							a(href="#") Bauchspeicheldrüsekrebs,
							a(href="#") Lungenkrebs
					li
						p 
							strong Lungenerkrankungen: 
							a(href="#") Atembeschwerden,
							a(href="#") Lungenfunktionsprüfung,
							a(href="#")
					li
						p 
							strong Magen-Darm-Erkrankungen: 
							a(href="#") Gastroenterologie,
							a(href="#") Gallensteine,
							a(href="#") Darmspiegelung,
							a(href="#") Mag enspiegelung,
							a(href="#") Reizdarm
					li
						p 
							strong Nierenerkrankungen:
							a(href="#") Nierenleiden,
							a(href="#") Nierensteine,
							a(href="#") Dialyse,
							a(href="#") Hämodialyse
					li
						p 
							strong Orthopädie: 
							a(href="#") Hüftprothese,
							a(href="#") Osteoporose,
							a(href="#") Arthrose,
							a(href="#") Orthopädie,
							a(href="#") Knieprothese
					li
						p 
							strong Schlafstörungen:
							a(href="#") Abklärung von Schlafstörungen,
							a(href="#") Behandlung von Schlafstörungen,
							a(href="#") Schlaflabor,
							a(href="#") Schlafmedizin
				ul
					li
						p 
							strong Schwangerschaft und Geburt: 
							a(href="#") Geburt,
							a(href="#") Geburtsvorbereitungskurs,
							a(href="#") Schwangerschaft,
							a(href="#") Ultraschall,
							a(href="#") Stillen,
							a(href="#") Kinderwunsch,
							a(href="#") Kaiserschnitt
					li
						p 
							strong Therapie und Reha: 
							a(href="#") Physiotherapie,
							a(href="#") Ergotherapie,
							a(href="#") Herzrehabilitation,
							a(href="#") Lungenrehabilitation
					li
						p 
							strong Übergewichtschirurgie:
							a(href="#") Ernährungsberatung,
							a(href="#") Übergewicht,
							a(href="#") Magenbypass
					li
						p 
							strong Unfallverletzungen: 
							a(href="#") Kreuzbandriss,
							a(href="#") Kniechirurige,
							a(href="#") Schenkelhalsbruch
					li
						p 
							strong Urologie:
							a(href="#") Blasenentzündung,
							a(href="#") Blasenkrebs,
							a(href="#") Erektionsstörung,
							a(href="#") Hodenkrebs,
							a(href="#") Prostataentzündung,
							a(href="#") Prostatakrebs,
							a(href="#") Da Vinci,
							a(href="#") Unterbindung
					li
						p 
							strong GZO Spital Wetzikon:
							a(href="#") H-Quality,
							a(href="#") DRG (Fallkostenpauschale),
							a(href="#") Spital im Kanton Zürich

