footer.innerpage
	.container
		.col-xs-12.col-md-8
			.mod.contact-info
				.address
					ul
						li
							h3 GZO Spital Wetzikon
						li
							p Spitalstrasse 66
						li
							p 8620 Wetzikon
				.contact
					ul
						li
							p Tel. +41 44 934 11 11 
						li
							p Fax +41 44 930 05 87
						li
							p: a(href="mailto:info@gzo.ch") info@gzo.ch
			.footer-links.clearfix
				ul
					li: a(href="#").link Lageplan
					li: a(href="#").link Disclaimer
					li: a(href="#").link Impressum
					li: a(href="#").link Sitemap
		.col-xs-12.col-md-4
			.social-icons.clearfix
				ul
					li: a(href="#").icon.fb Facebook
					li: a(href="#").icon.tw Twitter
					li: a(href="#").icon.gplus Google Plus