footer.innerpage.mobilemenu
	.container
		.col-xs-12.col-md-8
			.mod.contact-info
				.address
					ul
						li
							h3 GZO Spital Wetzikon
						li
							p Spitalstrasse 66
						li
							p 8620 Wetzikon
				.contact
					ul
						li
							h3 Kontakt
						li
							p Fax +41 44 930 05 87
						li
							p: a(href="mailto:info@gzo.ch") info@gzo.ch
				.tele
						Tel. +41 44 934 11 11 
			.footer-links.clearfix
				ul
					li: a(href="#").link Lageplan
					li: a(href="#").link Disclaimer
					li: a(href="#").link Impressum
					li: a(href="#").link Sitemap