
<h2 class="formHdg">Hier der Formulartitel jetzt anmelden
  <table class="title">
    <tbody>
      <tr>
        <td>Grundversicherte Patienten</td>
        <td>Montag bis Sonntag, 10.00 - 20.00 Uhr</td>
      </tr>
      <tr>
        <td>Zusatzversicherte Patienten</td>
        <td>Montag bis Sonntag, 10.00 - 20.00 Uhr</td>
      </tr>
      <tr>
        <td>Intensivpflegestation</td>
        <td>Montag bis Sonntag, 10.00 - 20.00 Uhr <span>Der Besuch eines Angehörigen oder Bekannten im Spital ist in der Regel eine willkommene Abwechslung. Bei kommen Sie auch bei einem spontanen Vorbeischauen nicht in Verlegenheit. In unserem Shop finden Sie grosses Sortiment an Geschenken, Blumen und Süssigkeiten. </span></td>
      </tr>
    </tbody>
  </table>
</h2>