h2.formHdg Hier der Formulartitel jetzt anmelden
form.form-horizontal(role='form')
  .form-group
    label.col-sm-3.control-label(for='inputEmail3') Nachname
    .col-sm-9
      input#inputEmail3.form-control(type='email', placeholder='')
  .form-group
    label.col-sm-3.control-label(for='inputPassword3') Vorname
    .col-sm-9
      input#inputPassword3.form-control(type='password', placeholder='')
  .form-group
    label.col-sm-3.control-label(for='inputEmail3') Firma
    .col-sm-9
      input#inputEmail3.form-control(type='email', placeholder='')
  .form-group
    label.col-sm-3.control-label(for='inputPassword3') Strasse / Nr.
    .col-sm-9
      input#inputPassword3.form-control(type='password', placeholder='')
  .form-group
    .col-sm-3
    .col-sm-9
      button.btn.btn-primary(type='submit') Anmelden

     