
<form id="" method="" action="" class="list-detail">
  <fieldset>
    <select class="custom-select form-control">
      <option value="">Mann</option>
      <option value="1">Mann</option>
      <option value="2">Mann</option>
      <option value="3">Mann</option>
    </select>
  </fieldset>
  <fieldset><span>datum</span>
    <select class="custom-select form-control">
      <option value="">Mädchen & Jungen</option>
      <option value="1">Another action</option>
      <option value="2">The Other action</option>
      <option value="3">Why this action not working</option>
    </select>
  </fieldset>
  <input type="submit" value="Anzeigen" class="btn btn-primary"/>
</form>