.col-md-4
	.box-gallery
		a.thumb(href='#')
			img(src='images/temp/img-330x220-6.jpg', alt='image-title')
		.name
			a(href='#') Nino Stephan
			i.m
			span.datetime  (15.12. 12:08h)
.col-md-4
	.box-gallery
		a.thumb(href='#')
			img(src='images/temp/img-330x220-6.jpg', alt='image-title')
		.name 
			a(href='#') Nino Stephan
			i.w
			span.datetime  (15.12. 12:08h)