<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gzo · home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Place favicon.ico and apple-touch-icon.png in the root directory 
    -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <!--HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    -->
    <!--
    if lt IE 9
        script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')  
    -->
  </head>
  <body>
    <div id="wrapper">
      <div class="container">
        <div class="col-md-9 col-sm-6">
          <!-- quick links-> -->
          <div class="quick-links mob-hide">
            <div class="primary-nav clearfix">
              <ul>
                <li><a href="#" target="_blank" class="starter">GZO Startseite</a></li>
                <li class="sub-view"><a href="#">Klinik</a>
                  <ul>
                    <li><a href="#">Chirurgische Klinik</a></li>
                    <li class="sub-view"><a href="#">Medizinische Klinik</a>
                      <ul>
                        <li><a href="#">Angiologie</a></li>
                        <li><a href="#">Kardiologie</a></li>
                        <li><a href="#">Gastroenterologie</a></li>
                        <li><a href="#">Pneumologie</a></li>
                        <li><a href="#">Nephrologie</a></li>
                        <li><a href="#">Onkologie</a></li>
                        <li><a href="#">Endokrinologie</a></li>
                        <li><a href="#">Palliativmedizin</a></li>
                        <li><a href="#">Schlafmedizin</a></li>
                        <li><a href="#">Schmerzmedizin</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Frauenklinik</a></li>
                    <li><a href="#">Radiologie</a></li>
                    <li><a href="#">Anästhesie</a></li>
                    <li><a href="#">Pflege</a></li>
                    <li><a href="#">Physiotherapie</a></li>
                    <li><a href="#">Beratungsdienste</a></li>
                  </ul>
                </li>
                <li class="sub-view"><a href="#" target="_blank">Spezialist</a>
                  <ul>
                    <li><a href="#">Chirurgische Klinik</a></li>
                    <li><a href="#">Medizinische Klinik</a></li>
                    <li><a href="#">Frauenklinik</a></li>
                    <li><a href="#">Radiologie</a></li>
                    <li><a href="#">Anästhesie</a></li>
                    <li><a href="#">Pflege</a></li>
                    <li><a href="#">Physiotherapie</a></li>
                    <li><a href="#">Beratungsdienste</a></li>
                  </ul>
                </li>
                <li><a href="#" target="_blank" class="highlight">Notfall</a></li>
              </ul>
            </div>
            <div class="secondary-nav">
              <ul>
                <li>
                  <div class="search">
                    <form id="search-form" method="#" action="post">
                      <input type="text" placeholder="Suche" required class="text">
                      <input type="submit" value="search" class="btn-search">
                    </form>
                  </div>
                </li>
                <li><a href="#" class="icons"><img src="images/figure.png" title="GZO" alt=""></a>
                  <div class="subnav-drop"><strong class="nav-title">Heidi &amp; Rene</strong>
                    <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                  </div>
                </li>
                <li><a href="#" class="icons"><img src="images/cart.png" title="GZO" alt=""></a>
                  <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                    <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                  </div>
                </li>
                <li><a href="#" class="icons"><img src="images/target.png" title="GZO" alt=""></a>
                  <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                    <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                  </div>
                </li>
                <li><a href="#" class="icons"><img src="images/brief.png" title="GZO" alt=""></a>
                  <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                    <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                  </div>
                </li>
                <li><a href="#" class="icons"><img src="images/contact.png" title="GZO" alt=""></a>
                  <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                    <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- quick links <- -->
        </div>
        <div class="pull-right"><a href="#" class="logo"><img src="images/logo.png" title="GZO" alt=""></a></div>
      </div>
      <!-- Demo navbar -->
      <nav role="navigation" class="navbar yamm navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" id="nav-expander" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Yamm Megamenu</a>
          </div>
          <div id="navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="desktop-hide bg-mobile">
                <!-- quick links-> -->
                <div class="quick-links">
                  <div class="primary-nav clearfix">
                    <ul>
                      <li><a href="#" target="_blank" class="starter">GZO Startseite</a></li>
                      <li><a href="#" target="_blank" class="highlight">Notfall</a></li>
                    </ul>
                  </div>
                </div>
                <!-- quick links <- -->
              </li>
              <li class="dropdown desktop-hide"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Kliniken & Zentren</a>
                <ul role="menu" aria-labelledby="dropdownMenu" class="dropdown-menu">
                  <li class="dropdown-submenu"><a tabindex="-1" href="#">Chirurgische Klinik</a>
                    <ul class="dropdown-menu">
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Viszeralchirurgie</a></li>
                      <li><a href="#">Gefässchirurgie</a></li>
                      <li><a href="#">Urologie</a></li>
                      <li><a tabindex="-1" href="#">Traumatologie</a></li>
                      <li><a href="#">Augenchirurgie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu"><a tabindex="-1" href="#">Medizinische Klinik</a>
                    <ul class="dropdown-menu">
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Viszeralchirurgie</a></li>
                      <li><a href="#">Gefässchirurgie</a></li>
                      <li><a href="#">Urologie</a></li>
                      <li><a tabindex="-1" href="#">Traumatologie</a></li>
                      <li><a href="#">Augenchirurgie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu"><a tabindex="-1" href="#">Frauenklinik</a>
                    <ul class="dropdown-menu">
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Viszeralchirurgie</a></li>
                      <li><a href="#">Gefässchirurgie</a></li>
                      <li><a href="#">Urologie</a></li>
                      <li><a tabindex="-1" href="#">Traumatologie</a></li>
                      <li><a href="#">Augenchirurgie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Radiologie</a></li>
                  <li><a href="#">Anästhesie</a></li>
                  <li><a href="#">Pflege</a></li>
                  <li><a href="#">Physiotherapie + Reha</a></li>
                  <li><a href="#">Beratungsdienste</a></li>
                </ul>
              </li>
              <li class="dropdown mob-hide"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Kliniken & Zentren</a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="yamm-content">
                      <div class="row">
                        <ul class="col-sm-2 list-unstyled">
                          <li><a href="#">Chirurgische Klinik</a></li>
                          <li class="sub-nav"><a href="#">Bariatrie</a></li>
                          <li class="sub-nav"><a href="#">Orthopädie</a></li>
                          <li class="sub-nav"><a href="#">Kolorektalchirurgie</a></li>
                          <li class="sub-nav"><a href="#">Viszeralchirurgie</a></li>
                          <li class="sub-nav"><a href="#">Gefässchirurgie</a></li>
                          <li class="sub-nav"><a href="#">Urologie</a></li>
                          <li class="sub-nav"><a href="#">Traumatologie</a></li>
                          <li class="sub-nav"><a href="#">Augenchirurgie</a></li>
                          <li class="sub-nav"><a href="#">Handchirurgie</a></li>
                          <li class="sub-nav"><a href="#">Sportmedizin</a></li>
                        </ul>
                        <ul class="col-sm-2 list-unstyled">
                          <li><a href="#">Medizinische Klinik</a></li>
                          <li class="sub-nav"><a href="#">Angiologie</a></li>
                          <li class="sub-nav"><a href="#">Kardiologie</a></li>
                          <li class="sub-nav"><a href="#">Gastroenterologie</a></li>
                          <li class="sub-nav"><a href="#">Pneumologie</a></li>
                          <li class="sub-nav"><a href="#">Nephrologie</a></li>
                          <li class="sub-nav"><a href="#">Onkologie</a></li>
                          <li class="sub-nav"><a href="#">Endokrinologie</a></li>
                          <li class="sub-nav"><a href="#">Palliativmedizin</a></li>
                          <li class="sub-nav"><a href="#">Schlafmedizin</a></li>
                          <li class="sub-nav"><a href="#">Schmerzmedizin</a></li>
                        </ul>
                        <ul class="col-sm-2 list-unstyled">
                          <li><a href="#">Frauenklinik</a></li>
                          <li class="sub-nav"><a href="#">Geburtshilfe</a></li>
                          <li class="sub-nav"><a href="#">Gynäkologie</a></li>
                          <li class="sub-nav"><a href="#">Urogynäkologie</a></li>
                          <li><a href="#">Radiologie</a></li>
                          <li><a href="#">Anästhesie</a></li>
                          <li><a href="#">Pflege</a></li>
                          <li><a href="#">Physiotherapie + Reha</a></li>
                          <li><a href="#">Beratungsdienste</a></li>
                        </ul>
                        <ul class="col-sm-2 nav-widget">
                          <li>
                            <div class="item"><a href="#" class="thumb"><img src="images/temp/img-129x86.jpg" alt="image-title"></a>
                              <div class="details">
                                <h2><a href="#">Promolink</a></h2>
                                <p><a href="#">Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. </a></p>
                              </div>
                            </div>
                            <div class="item"><a href="#" class="thumb"><img src="images/temp/img-129x86-1.jpg" alt="image-title"></a>
                              <div class="details">
                                <h2><a href="#">Promolink</a></h2>
                                <p><a href="#">Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. </a></p>
                              </div>
                            </div>
                            <div class="item"><a href="#" class="thumb"><img src="images/temp/img-129x86-2.jpg" alt="image-title"></a>
                              <div class="details">
                                <h2><a href="#">Promolink</a></h2>
                                <p><a href="#">Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink.</a></p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a href="http://google.com" class="dropdown-toggle disabled">Krankheitsbilder</a>
                <ul role="menu" aria-labelledby="dropdownMenu" class="dropdown-menu nonmega">
                  <li><a href="#">Actionss</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="dropdown-submenu"><a tabindex="-1" href="#">Chirurgische Klinik</a>
                    <ul class="dropdown-menu nonmega">
                      <li><a tabindex="-1" href="#">Second level</a></li>
                      <li class="dropdown-submenu"><a href="#">More..</a>
                        <ul class="dropdown-menu nonmega">
                          <li><a href="#">3rd level</a></li>
                          <li><a href="#">3rd level</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Second level</a></li>
                      <li><a href="#">Second level	</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Patient</a></li>
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Besucher</a></li>
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Zuweiser</a></li>
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Über uns</a></li>
              <li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle">Dropdown</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu"><a href="#">More options</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Second level link</a></li>
                      <li><a href="#">Second level link</a></li>
                      <li><a href="#">Second level link</a></li>
                      <li><a href="#">Second level link</a></li>
                      <li><a href="#">Second level link</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              <li class="desktop-hide bg-mobile">
                <!-- quick links-> -->
                <div class="quick-links">
                  <div class="secondary-nav">
                    <ul>
                      <li><a href="#" class="icon figure">Heidi & Rene</a>
                        <div class="subnav-drop"><strong class="nav-title">Heidi &amp; Rene</strong>
                          <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                        </div>
                      </li>
                      <li><a href="#" class="icon cart">cart</a>
                        <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                          <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                        </div>
                      </li>
                      <li><a href="#" class="icon target">target</a>
                        <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                          <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                        </div>
                      </li>
                      <li><a href="#" class="icon brief">brief</a>
                        <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                          <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                        </div>
                      </li>
                      <li><a href="#" class="icon contact">Kontact</a>
                        <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                          <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- quick links <- -->
              </li>
              <li class="desktop-hide">
                <footer class="innerpage mobilemenu">
                  <div class="container">
                    <div class="col-xs-12 col-md-8">
                      <div class="mod contact-info">
                        <div class="address">
                          <ul>
                            <li>
                              <h3>GZO Spital Wetzikon</h3>
                            </li>
                            <li>
                              <p>Spitalstrasse 66</p>
                            </li>
                            <li>
                              <p>8620 Wetzikon</p>
                            </li>
                          </ul>
                        </div>
                        <div class="contact">
                          <ul>
                            <li>
                              <h3>Kontakt</h3>
                            </li>
                            <li>
                              <p>Fax +41 44 930 05 87</p>
                            </li>
                            <li>
                              <p><a href="mailto:info@gzo.ch">info@gzo.ch</a></p>
                            </li>
                          </ul>
                        </div>
                        <div class="tele">
                          <Tel>+41 44 934 11 11 </Tel>
                        </div>
                      </div>
                      <div class="footer-links clearfix">
                        <ul>
                          <li><a href="#" class="link">Lageplan</a></li>
                          <li><a href="#" class="link">Disclaimer</a></li>
                          <li><a href="#" class="link">Impressum</a></li>
                          <li><a href="#" class="link">Sitemap</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </footer>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="content-wrapper clearfix">
          <div class="col-md-12">
            <div class="breadcrumbs">
              <ul>
                <li><a href="#">Home</a></li>
                <li><span>Babygalerie</span></li>
              </ul><a href="#" class="btn-print print">Seite drucken</a>
            </div>
          </div>
          <div class="col-md-12">
            <h2>Babygalerie</h2>
            <section class="mod gallery">
              <div class="mod-highlight list cta"><a href="gZo_2014_babygalerie.html"><span><span class="infos"></span><i>Bilder</i></span></a><a href="javascript:void(0);" class="active"><span><span class="liste"></span><i>Liste</i></span></a><a href="gZo_2014_babygalerie-detail.html"><span><span class="detail"></span><i>Detail</i></span></a></div>
              <div class="row">
                <form id="" method="" action="" class="list-detail galerie">
                  <div class="col-md-9">
                    <div class="searchalign">
                      <div class="input-group add-on">
                        <input id="srch-term" type="text" placeholder="Search" name="srch-term" class="form-control">
                        <div class="input-group-btn">
                          <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                      </div>
                    </div>
                    <fieldset>
                      <select class="custom-select form-control">
                        <option value="">Mann</option>
                        <option value="1">Mann</option>
                        <option value="2">Mann</option>
                        <option value="3">Mann</option>
                      </select>
                    </fieldset><span class="txtalign bold">datum</span>
                    <fieldset>
                      <select class="custom-select form-control">
                        <option value="">01.01.2014</option>
                        <option value="1">01.01.2014</option>
                        <option value="2">01.01.2014</option>
                        <option value="3">01.01.2014</option>
                      </select>
                    </fieldset><span class="txtalign">bis</span>
                    <fieldset>
                      <select class="custom-select form-control">
                        <option value="">01.01.2014</option>
                        <option value="1">01.01.2014</option>
                        <option value="2">01.01.2014</option>
                        <option value="3">01.01.2014</option>
                      </select>
                    </fieldset>
                    <input type="submit" value="Anzeigen" class="btn btn-primary filtern">
                  </div>
                  <div class="col-md-3">
                    <div class="pagination">
                      <ul>
                        <li class="disabled seitenos"><a href="#"><i>20 </i>babys </a></li>
                        <li class="prev active"><a href="#"><b></b></a></li>
                        <li class="next"><a href="#"><b></b></a></li>
                      </ul>
                    </div>
                  </div>
                </form>
              </div>
              <div class="filterDetail">
                <div class="hdg">Neu geboren:</div>
                <div class="babydetails">Mariana<i class="w"></i><span class="datetime"> (15.12. 12:08h)</span></div>
                <div class="babydetails"> Lorenzo <i class="m"></i><span class="datetime"> (15.12. 12:08h)</span></div>
                <div class="babydetails"> Nadi <i class="m"></i><span class="datetime">(15.12. 12:08h)</span></div>
                <div class="babydetails">Mariana<i class="w"></i><span class="datetime"> (15.12. 12:08h)</span></div>
                <div class="babydetails"> Lorenzo <i class="m"></i><span class="datetime"> (15.12. 12:08h)</span></div>
                <div class="babydetails"> Nadi <i class="w"></i><span class="datetime">(15.12. 12:08h)</span></div>
                <div class="babydetails">Mariana<i class="m"></i><span class="datetime"> (15.12. 12:08h)</span></div>
                <div class="babydetails"> Lorenzo <i class="w"></i><span class="datetime"> (15.12. 12:08h)</span></div>
                <div class="babydetails"> Nadi <i class="m"></i><span class="datetime">(15.12. 12:08h)</span></div>
                <div class="babydetails">Mariana<i class="w"></i><span class="datetime"> (15.12. 12:08h)</span></div>
                <div class="babydetails"> Lorenzo <i class="m"></i><span class="datetime"> (15.12. 12:08h)</span></div>
                <div class="babydetails"> Nadi <i class="m"></i><span class="datetime">(15.12. 12:08h)</span></div>
              </div>
              <hr class="tabular twopx">
              <div class="row-fluid">
                <table class="babygalerie">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Nachname</th>
                      <th>Vorname</th>
                      <th class="mw">M/W</th>
                      <th>Datum</th>
                      <th>Zeit</th>
                      <th class="sorting">Gewicht</th>
                      <th class="sorting">Grösse</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><img src="images/temp/img-75x50-1.jpg" alt="image-title"></td>
                      <td>Schmid</td>
                      <td>Daniel Johannes</td>
                      <td><i class="m"></i></td>
                      <td>15.04.2014</td>
                      <td>12.04h</td>
                      <td>4120g</td>
                      <td>49cm</td>
                    </tr>
                    <tr>
                      <td><img src="images/temp/img-75x50-1.jpg" alt="image-title"></td>
                      <td>Schmid</td>
                      <td>Daniel Johannes</td>
                      <td><i class="w"></i></td>
                      <td>15.04.2014</td>
                      <td>12.04h</td>
                      <td>4120g</td>
                      <td>49cm</td>
                    </tr>
                    <tr>
                      <td><img src="images/temp/img-75x50-1.jpg" alt="image-title"></td>
                      <td>Schmid</td>
                      <td>Daniel Johannes</td>
                      <td><i class="m"></i></td>
                      <td>15.04.2014</td>
                      <td>12.04h</td>
                      <td>4120g</td>
                      <td>49cm</td>
                    </tr>
                    <tr>
                      <td><img src="images/temp/img-75x50-1.jpg" alt="image-title"></td>
                      <td>Schmid</td>
                      <td>Daniel Johannes</td>
                      <td><i class="w"></i></td>
                      <td>15.04.2014</td>
                      <td>12.04h</td>
                      <td>4120g</td>
                      <td>49cm</td>
                    </tr>
                    <tr>
                      <td><img src="images/temp/img-75x50-1.jpg" alt="image-title"></td>
                      <td>Schmid</td>
                      <td>Daniel Johannes</td>
                      <td><i class="m"></i></td>
                      <td>15.04.2014</td>
                      <td>12.04h</td>
                      <td>4120g</td>
                      <td>49cm</td>
                    </tr>
                    <tr>
                      <td><img src="images/temp/img-75x50-1.jpg" alt="image-title"></td>
                      <td>Schmid</td>
                      <td>Daniel Johannes</td>
                      <td><i class="w"></i></td>
                      <td>15.04.2014</td>
                      <td>12.04h</td>
                      <td>4120g</td>
                      <td>49cm</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <!-- generic module start-->
              <section class="mod generic3">
                <div class="mod-highlight"><span>Geburtshilfe</span></div>
                <div class="mod-details">
                  <h2><a href="#">Geburtshilfe</a><span class="show-btn"></span></h2><a href="#" class="thumb"><img src="images/temp/img-330x220-1.jpg" alt="image-title"></a>
                  <p>Diese Seiten bieten Einblick in das <strong>breite Spektrum medizinischer Leistungen,</strong>die in unserem Spital angeboten werden. </p>
                </div>
                <!-- generic module end-->
              </section>
            </div>
            <div class="col-xs-12 col-md-4">
              <!-- generic module start-->
              <section class="mod generic3">
                <div class="mod-highlight"><span>Elterninfo-Abende</span></div>
                <div class="mod-details">
                  <h2><a href="#">Elterninfo-Abende</a><span class="show-btn"></span></h2><a href="#" class="thumb"><img src="images/temp/img-330x220-1.jpg" alt="image-title"></a>
                  <p>Diese Seiten bieten Einblick in das <strong>breite Spektrum medizinischer Leistungen,</strong>die in unserem Spital angeboten werden. </p>
                </div>
                <!-- generic module end-->
              </section>
            </div>
            <div class="col-xs-12 col-md-4">
              <!-- generic module start-->
              <section class="mod generic5">
                <div class="mod-highlight"><span>Quick Links</span></div>
                <div class="mod-details">
                  <h2><a href="#">Nutzliche Infos</a></h2>
                  <div class="row">
                    <div class="col-xs-12 col-md-4"><img src="images/temp/img-108x73.jpg" title="GZO" alt=""></div>
                    <div class="col-xs-12 col-md-8">
                      <h3>Blumen Service</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-4"><img src="images/temp/img-108x73-1.jpg" title="GZO" alt=""></div>
                    <div class="col-xs-12 col-md-8">
                      <h3>Blumen Service</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-4"><img src="images/temp/img-108x73-2.jpg" title="GZO" alt=""></div>
                    <div class="col-xs-12 col-md-8">
                      <h3>Blumen Service</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                    </div>
                  </div>
                </div>
                <!-- generic module end-->
              </section>
            </div>
          </div>
        </div>
      </div>
      <footer class="innerpage">
        <div class="container">
          <div class="col-xs-12 col-md-8">
            <div class="mod contact-info">
              <div class="address">
                <ul>
                  <li>
                    <h3>GZO Spital Wetzikon</h3>
                  </li>
                  <li>
                    <p>Spitalstrasse 66</p>
                  </li>
                  <li>
                    <p>8620 Wetzikon</p>
                  </li>
                </ul>
              </div>
              <div class="contact">
                <ul>
                  <li>
                    <p>Tel. +41 44 934 11 11 </p>
                  </li>
                  <li>
                    <p>Fax +41 44 930 05 87</p>
                  </li>
                  <li>
                    <p><a href="mailto:info@gzo.ch">info@gzo.ch</a></p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-links clearfix">
              <ul>
                <li><a href="#" class="link">Lageplan</a></li>
                <li><a href="#" class="link">Disclaimer</a></li>
                <li><a href="#" class="link">Impressum</a></li>
                <li><a href="#" class="link">Sitemap</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="social-icons clearfix">
              <ul>
                <li><a href="#" class="icon fb">Facebook</a></li>
                <li><a href="#" class="icon tw">Twitter</a></li>
                <li><a href="#" class="icon gplus">Google Plus</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <script src="js/vendor/jquery-1.10.2.min.js"></script>
      <script src="js/bootstrap.js"></script>
      <script src="js/plugins.js"></script>
      <script src="http://isotope.metafizzy.co/isotope.pkgd.min.js"></script><script type='text/javascript' src="http://desandro.github.io/imagesloaded/imagesloaded.pkgd.min.js"></script>
      <script src="js/main.js"></script>
      <!--Google Analytics: change UA-XXXXX-X to be your site's ID. 
      -->
      <!-- script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
      -->
    </div>
  </body>
</html>