include mixin
doctype
html.no-js
	include header
	body
		#wrapper
			//- include header-info
			.container
				.col-md-9.col-sm-6
					include quick-link
				.pull-right
					a(href="#").logo
						img(src="images/logo.png", title="GZO" alt="")

			//- var navSelect =2;
			include navbar-fixed
			//- include spotlight
			.container
				.content-wrapper.clearfix
					.col-md-12
						+breadcrumb({items:["Home","KKrankheitsbilder","Bösartige Dickdarm-Tumore"],print:"Seite drucken"})
					.col-md-8
						include article
						include video
						include basic-slider
						input(type="submit",class="btn btn-primary VidBtn",value="Zurück")
					.col-md-4
						include mod-generic-1

			include footer-innerpage
			include footer-script