<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gzo · home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Place favicon.ico and apple-touch-icon.png in the root directory 
    -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <!--HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    -->
    <!--
    if lt IE 9
        script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')  
    -->
  </head>
  <body>
    <div id="wrapper">
      <div class="container">
        <div class="col-md-9 col-sm-6">
          <!-- quick links-> -->
          <div class="quick-links mob-hide">
            <div class="primary-nav clearfix">
              <ul>
                <li><a href="#" target="_blank" class="starter">GZO Startseite</a></li>
                <li class="sub-view"><a href="#">Klinik</a>
                  <ul>
                    <li><a href="#">Chirurgische Klinik</a></li>
                    <li class="sub-view"><a href="#">Medizinische Klinik</a>
                      <ul>
                        <li><a href="#">Angiologie</a></li>
                        <li><a href="#">Kardiologie</a></li>
                        <li><a href="#">Gastroenterologie</a></li>
                        <li><a href="#">Pneumologie</a></li>
                        <li><a href="#">Nephrologie</a></li>
                        <li><a href="#">Onkologie</a></li>
                        <li><a href="#">Endokrinologie</a></li>
                        <li><a href="#">Palliativmedizin</a></li>
                        <li><a href="#">Schlafmedizin</a></li>
                        <li><a href="#">Schmerzmedizin</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Frauenklinik</a></li>
                    <li><a href="#">Radiologie</a></li>
                    <li><a href="#">Anästhesie</a></li>
                    <li><a href="#">Pflege</a></li>
                    <li><a href="#">Physiotherapie</a></li>
                    <li><a href="#">Beratungsdienste</a></li>
                  </ul>
                </li>
                <li class="sub-view"><a href="#" target="_blank">Spezialist</a>
                  <ul>
                    <li><a href="#">Chirurgische Klinik</a></li>
                    <li><a href="#">Medizinische Klinik</a></li>
                    <li><a href="#">Frauenklinik</a></li>
                    <li><a href="#">Radiologie</a></li>
                    <li><a href="#">Anästhesie</a></li>
                    <li><a href="#">Pflege</a></li>
                    <li><a href="#">Physiotherapie</a></li>
                    <li><a href="#">Beratungsdienste</a></li>
                  </ul>
                </li>
                <li><a href="#" target="_blank" class="highlight">Notfall</a></li>
              </ul>
            </div>
            <div class="secondary-nav">
              <ul>
                <li>
                  <div class="search">
                    <form id="search-form" method="#" action="post">
                      <input type="text" placeholder="Suche" required class="text">
                      <input type="submit" value="search" class="btn-search">
                    </form>
                  </div>
                </li>
                <li><a href="#" class="icons"><img src="images/figure.png" title="GZO" alt=""></a>
                  <div class="subnav-drop"><strong class="nav-title">Heidi &amp; Rene</strong>
                    <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                  </div>
                </li>
                <li><a href="#" class="icons"><img src="images/cart.png" title="GZO" alt=""></a>
                  <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                    <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                  </div>
                </li>
                <li><a href="#" class="icons"><img src="images/target.png" title="GZO" alt=""></a>
                  <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                    <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                  </div>
                </li>
                <li><a href="#" class="icons"><img src="images/brief.png" title="GZO" alt=""></a>
                  <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                    <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                  </div>
                </li>
                <li><a href="#" class="icons"><img src="images/contact.png" title="GZO" alt=""></a>
                  <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                    <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- quick links <- -->
        </div>
        <div class="pull-right"><a href="#" class="logo"><img src="images/logo.png" title="GZO" alt=""></a></div>
      </div>
      <!-- Demo navbar -->
      <nav role="navigation" class="navbar yamm navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" id="nav-expander" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Yamm Megamenu</a>
          </div>
          <div id="navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="desktop-hide bg-mobile">
                <!-- quick links-> -->
                <div class="quick-links">
                  <div class="primary-nav clearfix">
                    <ul>
                      <li><a href="#" target="_blank" class="starter">GZO Startseite</a></li>
                      <li><a href="#" target="_blank" class="highlight">Notfall</a></li>
                    </ul>
                  </div>
                </div>
                <!-- quick links <- -->
              </li>
              <li class="dropdown desktop-hide"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Kliniken & Zentren</a>
                <ul role="menu" aria-labelledby="dropdownMenu" class="dropdown-menu">
                  <li class="dropdown-submenu"><a tabindex="-1" href="#">Chirurgische Klinik</a>
                    <ul class="dropdown-menu">
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Viszeralchirurgie</a></li>
                      <li><a href="#">Gefässchirurgie</a></li>
                      <li><a href="#">Urologie</a></li>
                      <li><a tabindex="-1" href="#">Traumatologie</a></li>
                      <li><a href="#">Augenchirurgie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu"><a tabindex="-1" href="#">Medizinische Klinik</a>
                    <ul class="dropdown-menu">
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Viszeralchirurgie</a></li>
                      <li><a href="#">Gefässchirurgie</a></li>
                      <li><a href="#">Urologie</a></li>
                      <li><a tabindex="-1" href="#">Traumatologie</a></li>
                      <li><a href="#">Augenchirurgie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu"><a tabindex="-1" href="#">Frauenklinik</a>
                    <ul class="dropdown-menu">
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Viszeralchirurgie</a></li>
                      <li><a href="#">Gefässchirurgie</a></li>
                      <li><a href="#">Urologie</a></li>
                      <li><a tabindex="-1" href="#">Traumatologie</a></li>
                      <li><a href="#">Augenchirurgie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                      <li><a tabindex="-1" href="#">Bariatrie</a></li>
                      <li><a href="#">Orthopädie</a></li>
                      <li><a href="#">Kolorektalchirurgie</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Radiologie</a></li>
                  <li><a href="#">Anästhesie</a></li>
                  <li><a href="#">Pflege</a></li>
                  <li><a href="#">Physiotherapie + Reha</a></li>
                  <li><a href="#">Beratungsdienste</a></li>
                </ul>
              </li>
              <li class="dropdown mob-hide"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Kliniken & Zentren</a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="yamm-content">
                      <div class="row">
                        <ul class="col-sm-2 list-unstyled">
                          <li><a href="#">Chirurgische Klinik</a></li>
                          <li class="sub-nav"><a href="#">Bariatrie</a></li>
                          <li class="sub-nav"><a href="#">Orthopädie</a></li>
                          <li class="sub-nav"><a href="#">Kolorektalchirurgie</a></li>
                          <li class="sub-nav"><a href="#">Viszeralchirurgie</a></li>
                          <li class="sub-nav"><a href="#">Gefässchirurgie</a></li>
                          <li class="sub-nav"><a href="#">Urologie</a></li>
                          <li class="sub-nav"><a href="#">Traumatologie</a></li>
                          <li class="sub-nav"><a href="#">Augenchirurgie</a></li>
                          <li class="sub-nav"><a href="#">Handchirurgie</a></li>
                          <li class="sub-nav"><a href="#">Sportmedizin</a></li>
                        </ul>
                        <ul class="col-sm-2 list-unstyled">
                          <li><a href="#">Medizinische Klinik</a></li>
                          <li class="sub-nav"><a href="#">Angiologie</a></li>
                          <li class="sub-nav"><a href="#">Kardiologie</a></li>
                          <li class="sub-nav"><a href="#">Gastroenterologie</a></li>
                          <li class="sub-nav"><a href="#">Pneumologie</a></li>
                          <li class="sub-nav"><a href="#">Nephrologie</a></li>
                          <li class="sub-nav"><a href="#">Onkologie</a></li>
                          <li class="sub-nav"><a href="#">Endokrinologie</a></li>
                          <li class="sub-nav"><a href="#">Palliativmedizin</a></li>
                          <li class="sub-nav"><a href="#">Schlafmedizin</a></li>
                          <li class="sub-nav"><a href="#">Schmerzmedizin</a></li>
                        </ul>
                        <ul class="col-sm-2 list-unstyled">
                          <li><a href="#">Frauenklinik</a></li>
                          <li class="sub-nav"><a href="#">Geburtshilfe</a></li>
                          <li class="sub-nav"><a href="#">Gynäkologie</a></li>
                          <li class="sub-nav"><a href="#">Urogynäkologie</a></li>
                          <li><a href="#">Radiologie</a></li>
                          <li><a href="#">Anästhesie</a></li>
                          <li><a href="#">Pflege</a></li>
                          <li><a href="#">Physiotherapie + Reha</a></li>
                          <li><a href="#">Beratungsdienste</a></li>
                        </ul>
                        <ul class="col-sm-2 nav-widget">
                          <li>
                            <div class="item"><a href="#" class="thumb"><img src="images/temp/img-129x86.jpg" alt="image-title"></a>
                              <div class="details">
                                <h2><a href="#">Promolink</a></h2>
                                <p><a href="#">Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. </a></p>
                              </div>
                            </div>
                            <div class="item"><a href="#" class="thumb"><img src="images/temp/img-129x86-1.jpg" alt="image-title"></a>
                              <div class="details">
                                <h2><a href="#">Promolink</a></h2>
                                <p><a href="#">Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. </a></p>
                              </div>
                            </div>
                            <div class="item"><a href="#" class="thumb"><img src="images/temp/img-129x86-2.jpg" alt="image-title"></a>
                              <div class="details">
                                <h2><a href="#">Promolink</a></h2>
                                <p><a href="#">Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink.</a></p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a href="http://google.com" class="dropdown-toggle disabled">Krankheitsbilder</a>
                <ul role="menu" aria-labelledby="dropdownMenu" class="dropdown-menu nonmega">
                  <li><a href="#">Actionss</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="dropdown-submenu"><a tabindex="-1" href="#">Chirurgische Klinik</a>
                    <ul class="dropdown-menu nonmega">
                      <li><a tabindex="-1" href="#">Second level</a></li>
                      <li class="dropdown-submenu"><a href="#">More..</a>
                        <ul class="dropdown-menu nonmega">
                          <li><a href="#">3rd level</a></li>
                          <li><a href="#">3rd level</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Second level</a></li>
                      <li><a href="#">Second level	</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Patient</a></li>
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Besucher</a></li>
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Zuweiser</a></li>
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Über uns</a></li>
              <li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle">Dropdown</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu"><a href="#">More options</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Second level link</a></li>
                      <li><a href="#">Second level link</a></li>
                      <li><a href="#">Second level link</a></li>
                      <li><a href="#">Second level link</a></li>
                      <li><a href="#">Second level link</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              <li class="desktop-hide bg-mobile">
                <!-- quick links-> -->
                <div class="quick-links">
                  <div class="secondary-nav">
                    <ul>
                      <li><a href="#" class="icon figure">Heidi & Rene</a>
                        <div class="subnav-drop"><strong class="nav-title">Heidi &amp; Rene</strong>
                          <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                        </div>
                      </li>
                      <li><a href="#" class="icon cart">cart</a>
                        <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                          <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                        </div>
                      </li>
                      <li><a href="#" class="icon target">target</a>
                        <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                          <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                        </div>
                      </li>
                      <li><a href="#" class="icon brief">brief</a>
                        <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                          <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                        </div>
                      </li>
                      <li><a href="#" class="icon contact">Kontact</a>
                        <div class="subnav-drop"><strong class="nav-title">Some title</strong>
                          <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- quick links <- -->
              </li>
              <li class="desktop-hide">
                <footer class="innerpage mobilemenu">
                  <div class="container">
                    <div class="col-xs-12 col-md-8">
                      <div class="mod contact-info">
                        <div class="address">
                          <ul>
                            <li>
                              <h3>GZO Spital Wetzikon</h3>
                            </li>
                            <li>
                              <p>Spitalstrasse 66</p>
                            </li>
                            <li>
                              <p>8620 Wetzikon</p>
                            </li>
                          </ul>
                        </div>
                        <div class="contact">
                          <ul>
                            <li>
                              <h3>Kontakt</h3>
                            </li>
                            <li>
                              <p>Fax +41 44 930 05 87</p>
                            </li>
                            <li>
                              <p><a href="mailto:info@gzo.ch">info@gzo.ch</a></p>
                            </li>
                          </ul>
                        </div>
                        <div class="tele">
                          <Tel>+41 44 934 11 11 </Tel>
                        </div>
                      </div>
                      <div class="footer-links clearfix">
                        <ul>
                          <li><a href="#" class="link">Lageplan</a></li>
                          <li><a href="#" class="link">Disclaimer</a></li>
                          <li><a href="#" class="link">Impressum</a></li>
                          <li><a href="#" class="link">Sitemap</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </footer>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="content-wrapper clearfix">
          <div class="col-md-12">
            <div class="breadcrumbs">
              <ul>
                <li><a href="#">GZO</a></li>
                <li><a href="#">Besucher</a></li>
                <li><span>Blumen Service</span></li>
              </ul><a href="#" class="btn-print print">Seite drucken</a>
            </div>
          </div>
          <div class="col-md-8">
            <article>
              <h2>Blumen Service</h2>
            </article>
            <section class="mod schritt">
              <div class="mod-highlight infos cta"><a href="gzo_2014_blumenservice_schritt1.html"><span><i>Schritt 1</i></span></a><a href="javascript:void(0);" class="active"><span><i>Schritt 2</i></span></a><a href="gzo_2014_blumenservice_schritt3.html"><span><i>Schritt 3</i></span></a><a href="gzo_2014_blumenservice_schritt4.html"><span><i>Schritt 4</i></span></a>
                <h3>Detailbestellung</h3>
                <form action="#" method="post" class="schritt">
                  <fieldset class="pos-spec"><img src="images/temp/img-152x152-1.jpg" alt="image-title">
                    <div class="row">
                      <div class="col-sm-6">
                        <h5>Für wen möchten Sie die Blumen bestellen?</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="user_login">Nachname des Patienten</label>
                          <input id="user_login" name="user[login]" required="true" size="30" type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="user_password">Vorname des Patienten</label>
                          <input id="user_password" name="user[password]" size="30" type="password" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="user_password_confirmation">Wohnort des Patienten</label>
                          <input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <h5>Betrag</h5>
                        <div class="form-group radiobtn">
                          <label class="radio">
                            <input id="optionsRadios1" type="radio" name="optionsRadios" value="option1" checked="">CHF 30.00
                          </label>
                          <label class="radio">
                            <input id="optionsRadios2" type="radio" name="optionsRadios" value="option2">CHF 40.00
                          </label>
                          <label class="radio">
                            <input id="optionsRadios1" type="radio" name="optionsRadios" value="option1" checked="">CHF 50.00
                          </label>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset class="pos-spec">
                    <div class="row">
                      <div class="col-sm-12">
                        <h5>Besondere Wünsche oder Bemerkungen</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for="user_login">(z.B. spezieller Anlass, bestimmter Liefertermin etc.)</label>
                          <textarea id="textarea" name="textarea" rows="10" class="span12"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <h5>Betrag</h5>
                        <div class="form-group radiobtn">
                          <label class="radio">
                            <input id="optionsRadios1" type="radio" name="optionsRadios" value="option1" checked="">Ich wünsche keine Karte
                          </label>
                          <label class="radio">
                            <input id="optionsRadios2" type="radio" name="optionsRadios" value="option2">Kleine Karte (Format ca. A7 CHF 2.50)
                          </label>
                          <label class="radio">
                            <input id="optionsRadios1" type="radio" name="optionsRadios" value="option1" checked="">Grosse Karte (Format ca. A6, CHF 5.00)
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for="user_password_confirmation">ext für Karte (max. 120 Zeichen)</label>
                          <textarea id="textarea" name="textarea" rows="10" class="span12"></textarea>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <button type="submit" class="btn btn-primary">Weiter</button>
                </form>
              </div>
            </section>
          </div>
          <div class="col-md-4">
            <!-- generic module start-->
            <section class="mod infos data-list">
              <div class="mod-highlight"><span>Infos</span></div>
              <div class="mod-details">
                <h2 data-toggle="collapse" data-target="#infos"><a href="#">Infos zum Blumen Service</a></h2>
                <div id="infos" class="collapse in">
                  <ul class="infos">
                    <li><a href="#" class="link">Blumen hier bestellen</a>
                      <p>Sie können Blumen online bestellen und direkt ins GZO Spital Wetzikon liefern lassen. Bereiten Sie Ihren Liebsten im GZO mit unserem Blumen Service eine Freude.</p>
                    </li>
                    <li><a href="#" class="link">Häufige Fragen</a>
                      <p>Hier finden Sie Antworten auf mögliche Fragen.</p>
                    </li>
                    <li><a href="#" class="link">Allgemeine Geschäftsbedingungen</a>
                      <p>Allgemeine Geschäftsbedingungen zum Blumen Service.</p>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <!-- generic module end-->
            <!-- tabbed module start-->
            <section class="mod data-list">
              <div class="mod-highlight"><span>Babygalerie</span></div>
              <div id="gallery-mod" class="tab-content active">
                <div class="mod-details">
                  <h2 data-toggle="collapse" data-target="#babielisting"><a>Neu geboren</a></h2>
                  <div id="babielisting" class="collapse in">
                    <div class="data-list type-1">
                      <ul>
                        <li class="listing">
                          <h3><span class="icon icon-female"></span><a href="#">Susanne Mira</a></h3>
                          <div class="time">01.06.2014, 17:03h</div>
                        </li>
                        <li class="listing">
                          <h3><span class="icon icon-male"></span><a href="#">Lennart Josef</a></h3>
                          <div class="time">01.06.2014, 17:03h</div>
                        </li>
                        <li><a href="#" class="thumb"><img src="images/temp/thumb-159x106.jpg" alt="image-title"></a>
                          <h3><span class="icon icon-male"></span><a href="#">Nino stefen</a></h3>
                          <div class="time">24.02.2014</div>
                        </li>
                        <li><a href="#" class="thumb"><img src="images/temp/thumb-159x106-1.jpg" alt="image-title"></a>
                          <h3><span class="icon icon-male"></span><a href="#">Lucas Mateo</a></h3>
                          <div class="time">23.02.2014</div>
                        </li>
                        <li><a href="#" class="thumb"><img src="images/temp/thumb-159x106-2.jpg" alt="image-title"></a>
                          <h3><span class="icon icon-female"></span><a href="#">Giuseppina</a></h3>
                          <div class="time">22.02.2014</div>
                        </li>
                        <li><a href="#" class="thumb"><img src="images/temp/thumb-159x106-3.jpg" alt="image-title"></a>
                          <h3><span class="icon icon-female"></span><a href="#">Hana Hidic</a></h3>
                          <div class="time">22.02.2014</div>
                        </li>
                      </ul>
                      <div class="link-wrapper"><a href="#" class="link">Babygalerie</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- tabbed module end-->
          </div>
        </div>
      </div>
      <footer class="innerpage">
        <div class="container">
          <div class="col-xs-12 col-md-8">
            <div class="mod contact-info">
              <div class="address">
                <ul>
                  <li>
                    <h3>GZO Spital Wetzikon</h3>
                  </li>
                  <li>
                    <p>Spitalstrasse 66</p>
                  </li>
                  <li>
                    <p>8620 Wetzikon</p>
                  </li>
                </ul>
              </div>
              <div class="contact">
                <ul>
                  <li>
                    <p>Tel. +41 44 934 11 11 </p>
                  </li>
                  <li>
                    <p>Fax +41 44 930 05 87</p>
                  </li>
                  <li>
                    <p><a href="mailto:info@gzo.ch">info@gzo.ch</a></p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-links clearfix">
              <ul>
                <li><a href="#" class="link">Lageplan</a></li>
                <li><a href="#" class="link">Disclaimer</a></li>
                <li><a href="#" class="link">Impressum</a></li>
                <li><a href="#" class="link">Sitemap</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="social-icons clearfix">
              <ul>
                <li><a href="#" class="icon fb">Facebook</a></li>
                <li><a href="#" class="icon tw">Twitter</a></li>
                <li><a href="#" class="icon gplus">Google Plus</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <script src="js/vendor/jquery-1.10.2.min.js"></script>
      <script src="js/bootstrap.js"></script>
      <script src="js/plugins.js"></script>
      <script src="http://isotope.metafizzy.co/isotope.pkgd.min.js"></script><script type='text/javascript' src="http://desandro.github.io/imagesloaded/imagesloaded.pkgd.min.js"></script>
      <script src="js/main.js"></script>
      <!--Google Analytics: change UA-XXXXX-X to be your site's ID. 
      -->
      <!-- script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
      -->
    </div>
  </body>
</html>