// header info
.mod.info
  .container
    .col-md-12
        h2 Titel Topnews
        p Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio que qui ut fugit quibearum que veribea sam eossundae dit ea uta dirae. 
          a(href="#") Mehr Infos
        .icon.btn-close(data-target=".info") close
// header info