.row
  .col-md-6
    include infocontent
    include infocontent
    include infocontent
    include infocontent
    include infocontent
    include infocontent
  .col-md-6
    include infocontent
    include infocontent
    include infocontent
    include infocontent
    include infocontent
    include infocontent   
