
<div class="row">
  <div class="col-md-6">
    <!-- generic module start-->
    <section class="mod generic">
      <div class="mod-highlight"></div>
      <div class="mod-details infocontent">
        <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
        <p>
          Auf unserem Zuweiserportal
          Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
        </p>
        <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
      </div>
    </section>
    <!-- generic module end-->
    <!-- generic module start-->
    <section class="mod generic">
      <div class="mod-highlight"></div>
      <div class="mod-details infocontent">
        <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
        <p>
          Auf unserem Zuweiserportal
          Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
        </p>
        <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
      </div>
    </section>
    <!-- generic module end-->
    <!-- generic module start-->
    <section class="mod generic">
      <div class="mod-highlight"></div>
      <div class="mod-details infocontent">
        <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
        <p>
          Auf unserem Zuweiserportal
          Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
        </p>
        <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
      </div>
    </section>
    <!-- generic module end-->
  </div>
  <div class="col-md-6">
    <!-- generic module start-->
    <section class="mod generic">
      <div class="mod-highlight"></div>
      <div class="mod-details infocontent">
        <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
        <p>
          Auf unserem Zuweiserportal
          Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
        </p>
        <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
      </div>
    </section>
    <!-- generic module end-->
    <!-- generic module start-->
    <section class="mod generic">
      <div class="mod-highlight"></div>
      <div class="mod-details infocontent">
        <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
        <p>
          Auf unserem Zuweiserportal
          Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
        </p>
        <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
      </div>
    </section>
    <!-- generic module end-->
    <!-- generic module start-->
    <section class="mod generic">
      <div class="mod-highlight"></div>
      <div class="mod-details infocontent">
        <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
        <p>
          Auf unserem Zuweiserportal
          Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
        </p>
        <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
      </div>
    </section>
    <!-- generic module end-->
  </div>
  <div class="col-md-6">
    <!-- generic module start-->
    <section class="mod generic">
      <div class="mod-highlight"></div>
      <div class="mod-details infocontent">
        <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
        <p>
          Auf unserem Zuweiserportal
          Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
        </p>
        <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
      </div>
    </section>
    <!-- generic module end-->
    <!-- generic module start-->
    <section class="mod generic">
      <div class="mod-highlight"></div>
      <div class="mod-details infocontent">
        <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
        <p>
          Auf unserem Zuweiserportal
          Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
        </p>
        <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
      </div>
    </section>
    <!-- generic module end-->
    <!-- generic module start-->
    <section class="mod generic">
      <div class="mod-highlight"></div>
      <div class="mod-details infocontent">
        <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
        <p>
          Auf unserem Zuweiserportal
          Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
        </p>
        <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
      </div>
    </section>
    <!-- generic module end-->
  </div>
</div>