// generic module start
section.mod.generic
	.mod-highlight
	.mod-details.infocontent
		h2 
			a(href="#") Blasenentzundung(Zystilis)
			span.show-btn
		p Auf unserem Zuweiserportal
			| Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
		.topdottedline
			a(href="#").link Medienmitteilungen
// generic module end