.row
  .col-md-4
    include infocontent
    include infocontent
    include infocontent
  .col-md-4
    include infocontent
    include infocontent
    include infocontent
  .col-md-4
    include infocontent
    include infocontent
    include infocontent
