article
	h2 Dipl. Pflegefachperson Pall. Care und Spitex
	table.jobdetail-2
		tbody
			tr
				td Arbeitsort
				td Urlogie
			tr
				td Aufgaben
				td Ihre Aufgaben im Bereich der Klinik Pflege Medizin und der Palliative Care Spitex sind sehr abwechslungsreich und anspruchsvoll. Sie sind an fixen Tagen im Palliativ-Team tätig und für eine umfassende Betreuung und Beratung unserer Patienten zustänsdig im Spital und auch zu Hause. Sie beteiligen sich an der Austrittsplanung und organisieren die nötigte Unterstützung der Patienten und der betreuenden Personen daheim oder im Pflegeheim. Durch Bereitschaftsdienste sind wir für unsere Patienten, Angehörige oder auch betreuende Fachpersonen 24 h erreichbar und führen bei Bedarf auch Einsätze vor Ort durch. Der Kontakt zu weiteren Diensten z.B. Hausärzte, Spitex oder Pflegeheimen, aber auch zu Angehörigen wird von Ihnen aktiv mitgestaltet und ist eine tragende Säule des Versorgungskonzeptes. Ihre Arbeit auf der Medizinischen Bettenstation wird im Dreischichtsystem geleistet. Dort gewährleisten Sie eine ganzheitliche Pflege im Rahmen des Pflegeprozesses und stellen eine gute Pflegequalität sicher. Sie planen Ihre Arbeit speditiv und arbeiten gerne im Team. 
			tr
				td Anforderungen
				td usbildung zur Dipl. Pflegefachperson HF, Weiterbildung in Palliative Care auf Höherem Fachschul- oder Diplomniveau, Führerscheinklasse B
			tr
				td Arbeitspensum
				td teilzeit
			tr
				td Stellenantritt
				td 1. August 2014
			tr
				td Kontaktperson
				td Herr R. Kiel
					br 
					| Stv. Leiter Pflege/Spezialbetriebe
					br 
					| Telefon +41 44 934 22 50
			tr
				td Anschrift
				td GZO AG Spital Wetzikon
					br
					| Herr R. Kiel, Stv. Leiter Pflege/Spezialbetriebe
					br 
					| 8620 Wetzikon
					br 
					| reinhard.kiel@gzo.ch
	.jobdetail-2
		h5 Direkt online bewerben
		h6 Mit * gekennzeichnete Felder sind Pflichtfelder
		form.form-horizontal(role='form')
		.form-group
			label.col-sm-2.control-label(for='firstname') Jobbezeichnung
			.col-sm-10
				input#firstname.form-control(type='text', placeholder='Dipl. Pflegefachperson Pall. Care und Spitex')
		.form-group
			label.col-sm-2.control-label(for='firstname') Ihr Name*
			.col-sm-10
				input#firstname.form-control(type='text', placeholder='')
		.form-group
			label.col-sm-2.control-label(for='firstname') Ihr E-Mail**
			.col-sm-10
				input#firstname.form-control(type='text', placeholder='')
		.form-group
			label.col-sm-2.control-label(for='inputfile') Ihr Lebenslauf*
			.col-sm-10
				input#inputfile(type='file')
		.form-group
			label.col-sm-2.control-label(for='inputfile') Weitere Dateien
			.col-sm-10
				input#inputfile(type='file')
		.form-group
			label.col-sm-2.control-label(for='inputfile') Weitere Dateien
			.col-sm-10
				input#inputfile(type='file')
		.form-group
			label.col-sm-2.control-label(for='firstname') Ihre Motivation
			.col-sm-10
				textarea#textarea.span12(name='textarea', rows='10')
		.form-group
			.col-sm-offset-2.col-sm-10
				button.btn.btn-primary(type='submit') Abschicken
	.joblinks
		a.link(href='#') Zürcher Oberländer


			