.clearfix#box
  .post-box.col-lg-4.col-md-4.col-sm-4
    section.mod.generic
      .mod-highlight
      .mod-details.infocontent
        h2(data-toggle='collapse', data-target='#1')
          a(href="#") Blasenentzundung(Zystilis) test
        #1.collapse.in
          p Auf unserem Zuweiserportal
            | Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed 
          .topdottedline
            a(href="#").link Medienmitteilungen
  .post-box.col-lg-4.col-md-4.col-sm-4
    section.mod.generic
      .mod-highlight
      .mod-details.infocontent
        h2(data-toggle='collapse', data-target='#2')
          a(href="#") Blasenentzundung(Zystilis)
        #2.collapse.in
          p Auf unserem Zuweiserportal
            | Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il idomnimet fugitas piendig enditatis derrunt. 
          .topdottedline
            a(href="#").link Medienmitteilungen
  .post-box.col-lg-4.col-md-4.col-sm-4
    section.mod.generic
      .mod-highlight
      .mod-details.infocontent
        h2(data-toggle='collapse', data-target='#3')
          a(href="#") Blasenentzundung(Zystilis)
        #3.collapse.in
          p Auf unserem Zuweiserportal
            | Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
          .topdottedline
            a(href="#").link Medienmitteilungen
  .post-box.col-lg-4.col-md-4.col-sm-4
    section.mod.generic
      .mod-highlight
      .mod-details.infocontent
        h2(data-toggle='collapse', data-target='#4')
          a(href="#") Blasenentzundung(Zystilis)
        #4.collapse.in
          p Auf unserem Zuweiserportal
            | Acescid ma dolopetur sandit qui quiatecatio][t fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
          .topdottedline
            a(href="#").link Medienmitteilungen
  .post-box.col-lg-4.col-md-4.col-sm-4
    section.mod.generic
      .mod-highlight
      .mod-details.infocontent
        h2(data-toggle='collapse', data-target='#5')
          a(href="#") Blasenentzundung(Zystilis)
        #5.collapse.in
          p Auf unserem Zuweiserportal
            | Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed utem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
          .topdottedline
            a(href="#").link Medienmitteilungen
  .post-box.col-lg-4.col-md-4.col-sm-4
    section.mod.generic
      .mod-highlight
      .mod-details.infocontent
        h2(data-toggle='collapse', data-target='#6')
          a(href="#") Blasenentzundung(Zystilis)
        #6.collapse.in
          p Auf unserem Zuweiserportal
            | Acescid ma dolorum core ducia eosae aut enda uptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
          .topdottedline
            a(href="#").link Medienmitteilungen
  .post-box.col-lg-4.col-md-4.col-sm-4
    section.mod.generic
      .mod-highlight
      .mod-details.infocontent
        h2(data-toggle='collapse', data-target='#7')
          a(href="#") Blasenentzundung(Zystilis)
        #7.collapse.in
          p Auf unserem Zuweiserportal dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
          .topdottedline
            a(href="#").link Medienmitteilungen
  .post-box.col-lg-4.col-md-4.col-sm-4
    section.mod.generic
      .mod-highlight
      .mod-details.infocontent
        h2(data-toggle='collapse', data-target='#8')
          a(href="#") Blasenentzundung(Zystilis)
        #8.collapse.in
          p Auf unserem Zuweiserportal
            | Acescid ma ed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
          .topdottedline
            a(href="#").link Medienmitteilungen