.row.mitarbeiter
	form(id="", method="", action="" class="list-detail galerie mitarbeiter")
		.col-md-12.formelement
			.searchalign
				.input-group.add-on
					input#srch-term.form-control(type='text', placeholder='Search', name='srch-term')
					.input-group-btn.mod
						button.btn.btn-default(type='submit')
							i.glyphicon.glyphicon-search
			select.custom-select.form-control
				option(value="") Alle Funktionen
				option(value="1") 01.01.2014
				option(value="2") 01.01.2014
				option(value="3") 01.01.2014
			select.custom-select.form-control
				option(value="") Alle Fachbereiche
				option(value="1") 01.01.2014
				option(value="2") 01.01.2014
				option(value="3") 01.01.2014
			input(type="submit",class="btn btn-primary mod",value="Suchen")
			


