// generic module start
section.mod.generic
	.mod-highlight
			span Krankheitsbilder
	.mod-details
		h2 
			span.figure.icon.icon-large
			a(href="#") Heidi & René
			span.show-btn
		a(href="#").thumb
			img(src="images/temp/img-330x220-1.jpg", alt="image-title")
		p Diese Seiten bieten Einblick in das 
			strong breite Spektrum medizinischer Leistungen,
			| die in unserem Spital angeboten werden. 
		form(id="", method="", action="")
			fieldset
				select.custom-select.form-control
					option(value="") 1. Geschlecht wählen
					option(value="1") Another action
					option(value="2") The Other action
					option(value="3") Why this action not working
			fieldset
				select.custom-select.form-control.disabled
					option(value="") 2. Bereich wählen
					option(value="1") Another action
					option(value="2") The Other action
					option(value="3") Why this action not working
			fieldset
				select.custom-select.form-control.disabled
					option(value="") 3. Krankheitsbild wählen
					option(value="1") Another action
					option(value="2") The Other action
					option(value="3") Why this action not working
			input(type="submit",class="btn btn-primary",value="Anzeigen")
// generic module end