// generic module start
section.mod.generic
	.mod-highlight
			span Zuweiser
	.mod-details
		h2 
			a(href="#") Infos für Zuweiser
			span.show-btn
		a(href="#").thumb
			img(src="images/temp/img-330x220.jpg", alt="image-title")
		p Auf unserem 
			a(href="#") Zuweiserportal
			| finden Sie alle wichtigen Informationen und Formulare für eine Zuweisung ans GZO Spital Wetzikon.
		form(action="#")
			fieldset
				select.custom-select.form-control
					option(value="") Quicklinks
					option(value="1") Another action
					option(value="2") The Other action
					option(value="3") Why this action not working
// generic module end