// generic module start
section.mod.generic5
	.mod-highlight
			span Quick Links
	.mod-details
		h2
			a(href="#") Nutzliche Infos
		.row
			.col-xs-12.col-md-4
				img(src="images/temp/img-108x73.jpg", title="GZO" alt="")
			.col-xs-12.col-md-8
				h3 Blumen Service
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
		.row
			.col-xs-12.col-md-4
				img(src="images/temp/img-108x73-1.jpg", title="GZO" alt="")
			.col-xs-12.col-md-8
				h3 Blumen Service
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
		.row
			.col-xs-12.col-md-4
				img(src="images/temp/img-108x73-2.jpg", title="GZO" alt="")
			.col-xs-12.col-md-8
				h3 Blumen Service
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
	// generic module end