h2 Krankheitsbilder
section.mod.data-list
	.mod-highlight.list
			a(href="#infos-mod")
				span
					span.infos
					i Infos
			a(href="#liste-mod").active
					span
						span.liste
						i Liste
	include common-form
	.tab-content#infos-mod.active
		.mod-details
			include masonry
			//- include infoview
	.tab-content#liste-mod
		.mod-details.listView
			.row
				.col-xs-12.col-md-4.linkHeading
					a.link(href='#') Blasenentzündung (Zystitis)
				.col-xs-12.col-md-8.linkContent Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.
			.row
				.col-xs-12.col-md-4.linkHeading
					a.link(href='#') Blasenentzündung (Zystitis)
				.col-xs-12.col-md-8.linkContent Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.
			.row
				.col-xs-12.col-md-4.linkHeading
					a.link(href='#') Blasenentzündung (Zystitis)
				.col-xs-12.col-md-8.linkContent Am 1. Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.
			.row
				.col-xs-12.col-md-4.linkHeading
					a.link(href='#') Blasenentzündung (Zystitis)
				.col-xs-12.col-md-8.linkContent Am 1. Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.
			.row
				.col-xs-12.col-md-4.linkHeading
					a.link(href='#') Blasenentzündung (Zystitis)
				.col-xs-12.col-md-8.linkContent Am 1. Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.
			.row
				.col-xs-12.col-md-4.linkHeading
					a.link(href='#') Blasenentzündung (Zystitis)
				.col-xs-12.col-md-8.linkContent Am 1. Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.
			.row
				.col-xs-12.col-md-4.linkHeading
					a.link(href='#') Blasenentzündung (Zystitis)
				.col-xs-12.col-md-8.linkContent Am 1. Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.
			.row
				.col-xs-12.col-md-4.linkHeading
					a.link(href='#') Blasenentzündung (Zystitis)
				.col-xs-12.col-md-8.linkContent Am 1. Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.