.col-md-12
	h2 Babygalerie
	section.mod.gallery
		.mod-highlight.list.cta
				a(href='gZo_2014_babygalerie.html')
					span
						span.infos
						i Bilder
				a(href="gZo_2014_babygalerie-liste.html")
						span
							span.liste
							i Liste
				a(href='javascript:void(0);').active
						span
							span.detail
							i Detail
		include galerie-form
		//- include filter-detail
		include gallery-detail
			
