// tabbed module start
article.Kontakt
	h2 Team 
	.row
		.col-md-3
			.box-gallery
				a(href='#')
					img(src='images/temp/img-150x200-1.jpg', alt='image-title')
				.personaldetails
					a(href='#') Dr. med.  Peter Baur 
					span.designation  Chefarzt-Stellvertretung,
						br
						|Leitender Arzt Anästhesie
		.col-md-3
			.box-gallery
				a(href='#')
					img(src='images/temp/img-150x200-2.jpg', alt='image-title')
				.personaldetails 
					a(href='#') Dr. med. Mirjam Bywater  
					span.designation  Assistenzärztin Urologie
		.col-md-3
			.box-gallery
				a(href='#')
					img(src='images/temp/img-150x200-3.jpg', alt='image-title')
				.personaldetails 
					a(href='#') Dr. med. René Fiechter 
					span.designation  Ärztlicher Leiter Somnosana
		.col-md-3
			.box-gallery
				a(href='#')
					img(src='images/temp/img-150x200-1.jpg', alt='image-title')
				.personaldetails
					a(href='#') Dr. med.  Peter Baur 
					span.designation  Chefarzt-Stellvertretung,
						br
						|Leitender Arzt Anästhesie
		.clear
		.col-md-3
			.box-gallery
				a(href='#')
					img(src='images/temp/img-150x200-2.jpg', alt='image-title')
				.personaldetails 
					a(href='#') Dr. med. Mirjam Bywater  
					span.designation  Fachfrau für neurophysiologische Diagnostik (FND)
		.col-md-3
			.box-gallery
				a(href='#')
					img(src='images/temp/img-150x200-3.jpg', alt='image-title')
				.personaldetails 
					a(href='#') Dr. med. René Fiechter 
					span.designation  Ärztlicher Leiter Somnosana
		.col-md-3
			.box-gallery
				a(href='#')
					img(src='images/temp/img-150x200-1.jpg', alt='image-title')
				.personaldetails
					a(href='#') Dr. med.  Peter Baur 
					span.designation  Chefarzt-Stellvertretung,
						br
						|Leitender Arzt Anästhesie
		.col-md-3
			.box-gallery
				a(href='#')
					img(src='images/temp/img-150x200-2.jpg', alt='image-title')
				.personaldetails 
					a(href='#') Dr. med. Mirjam Bywater  
					span.designation  Assistenzärztin Urologie
		.clear
		.col-md-3
			.box-gallery
				a(href='#')
					img(src='images/temp/img-150x200-3.jpg', alt='image-title')
				.personaldetails 
					a(href='#') Dr. med. René Fiechter 
					span.designation  Ärztlicher Leiter Somnosana
        
