
<section class="mod gallery">
  <div class="mod-highlight list cta"><a href="javascript:void(0);" class="active"><span><span class="infos"></span><i>Schritt 1</i></span></a><a href="gzo_2014_blumenservice_schritt2.html"><span><span class="liste"></span><i>Schritt 2</i></span></a><a href="gzo_2014_blumenservice_schritt3.html"><span><span class="detail"></span><i>Schritt 3</i></span></a><a href="gzo_2014_blumenservice_schritt4.html"><span><span class="detail"></span><i>Schritt 4</i></span></a></div>
</section>