
<!-- tabbed module start-->
<div class="mod data-list theme-blue">
  <div class="mod-highlight"><a href="#gallery-mod">Babygalerie</a><a href="#blum-mod">Blumenshop</a><a href="#" target="_blank" class="icon-twitter">twitter</a></div>
  <div id="gallery-mod" class="tab-content active">
    <div class="mod-details">
      <h2><a href="#">Neu geboren</a><span class="show-btn"></span></h2>
      <div class="data-list type-1">
        <ul>
          <li><span class="icon icon-female"></span>
            <h3><a href="#">Susanne Mira</a></h3>
            <div class="time">01.06.2014, 17:03h</div>
          </li>
          <li><span class="icon icon-male"></span>
            <h3><a href="#">Lennart Josef</a></h3>
            <div class="time">01.06.2014, 17:03h</div>
          </li>
          <li><span class="icon icon-male"></span><a href="#" class="thumb"><img src="images/temp/thumb-159x106.jpg" alt="image-title"/></a>
            <h3><a href="#">Nino stefen</a></h3>
            <div class="time">24.02.2014</div>
          </li>
          <li><span class="icon icon-male"></span><a href="#" class="thumb"><img src="images/temp/thumb-159x106-1.jpg" alt="image-title"/></a>
            <h3><a href="#">Lucas Mateo</a></h3>
            <div class="time">23.02.2014</div>
          </li>
          <li><span class="icon icon-female"></span><a href="#" class="thumb"><img src="images/temp/thumb-159x106-2.jpg" alt="image-title"/></a>
            <h3><a href="#">Giuseppina</a></h3>
            <div class="time">22.02.2014</div>
          </li>
          <li><span class="icon icon-female"></span><a href="#" class="thumb"><img src="images/temp/thumb-159x106-3.jpg" alt="image-title"/></a>
            <h3><a href="#">Hana Hidic</a></h3>
            <div class="time">22.02.2014</div>
          </li>
        </ul>
        <div class="link-wrapper"><a href="#" class="link">Babygalerie</a></div>
      </div>
    </div>
  </div>
  <div id="blum-mod" class="tab-content">
    <div class="mod-details">
      <h2><a href="#">Blumen Service</a></h2><a href="#" class="thumb"><img src="images/temp/img-330x220-3.jpg" alt="image-title"/></a>
      <p>Diese Seiten bieten Einblick in das <strong>breite Spektrum medizinischer Leistungen,</strong>die in unserem Spital angeboten werden. </p>
    </div>
  </div>
</div>
<!-- tabbed module end-->