section.mod.schritt
	.mod-highlight.infos.cta
		a(href="javascript:void(0);").active
			span
				i Schritt 1
		a(href='gzo_2014_blumenservice_schritt2.html')
				span
					i Schritt 2
		a(href="gzo_2014_blumenservice_schritt3.html")
				span
					i Schritt 3
		a(href="gzo_2014_blumenservice_schritt4.html")
				span
					i Schritt 4
		h3 Wählen Sie Ihre Blumenkategorie
	.row
		.col-xs-6.col-md-4
			img(src="images/temp/img-152x152-1.jpg", alt="image-title")
			a(href="javascript:void(0);") Rosensträusse bestellen
		.col-xs-6.col-md-4
			img(src="images/temp/img-152x152-2.jpg", alt="image-title")
			a(href="javascript:void(0);") Orchideen bestellen
		.col-xs-6.col-md-4
			img(src="images/temp/img-152x152-3.jpg", alt="image-title")
			a(href="javascript:void(0);") Blumensträusse bestellen
		.col-xs-6.col-md-4
			img(src="images/temp/img-152x152-1.jpg", alt="image-title")
			a(href="javascript:void(0);") Rosensträusse bestellen
		.col-xs-6.col-md-4
			img(src="images/temp/img-152x152-2.jpg", alt="image-title")
			a(href="javascript:void(0);") Orchideen bestellen
		.col-xs-6.col-md-4
			img(src="images/temp/img-152x152-3.jpg", alt="image-title")
			a(href="javascript:void(0);") Blumensträusse bestellen
