// generic module start
.mod.generic
	.mod-highlight
			span Patienten
	.mod-details
		h2 Infos für Patienten
		p Das Wohlergehen unserer Patienten steht für uns an erster Stelle: Wir kümmern uns gerne um Sie. Dabei legen wir grossen Wert auf einen freundlichen und zuvorkommenden Umgang sowie eine partnerschaftliche Zusammenarbeit.
			.link-wrapper.customized
				a.link(href='#', target='_blank') Patienteninformationen
	// generic module end