
<!-- news module start-->
<h2>Krankheitsbilder</h2>
<section class="mod data-list">
  <div class="mod-highlight"><a href="#news-mod"><span>News</span></a><a href="#press-mod" class="active"><span>Presse</span></a><a href="#" target="_blank" class="icon-twitter"><span>twitter</span></a></div>
  <div id="news-mod" class="tab-content">
    <div class="mod-details">
      <h2><a href="#">News</a></h2><span class="show-btn"></span>
      <ul>
        <li><span class="time">24.01.2014</span>
          <h3><a href="#">Neue Leiterin Onkologie</a></h3>
          <p>Am 1. Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.</p><a href="#" class="link">GZO-Medienmitteilung</a>
        </li>
        <li><span class="time">23.01.2014</span>
          <h3><a href="#">Erweiterungsbau Parlament</a></h3>
          <p>Der Gestaltungsplan für die Erweiterung des GZO Spital Wetzikon liegt auf. Der 165-Millionen-Bau wird eines der ersten Geschäfte des Parlaments sein.</p><a href="#" class="link">Zürcher Oberländer</a>
        </li>
        <li><span class="time">22.01.2014</span>
          <h3><a href="#">Spitäler sind keine Schraubstöcke</a></h3>
          <p>Reaktion von Dr. Jürg Schneider, Chefarz Frauenklinik am GZO Spital Wetzikon auf den öffentlichen Jahresrückblick des Urologen. </p><a href="#" class="link">Zürcher Oberländer</a>
        </li>
      </ul><a href="#" target="_blank" class="link">Medienmitteilungen</a>
    </div>
  </div>
  <div id="press-mod" class="tab-content active">
    <div class="mod-details">
      <h2><a href="#">Pressemitteilungen</a></h2><span class="show-btn"></span>
      <ul>
        <li><span class="time">24.01.2014</span>
          <h3><a href="#">Neue Leiterin Onkologie</a></h3>
          <p>Am 1. Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.</p><a href="#" class="link">GZO-Medienmitteilung</a>
        </li>
        <li><span class="time">23.01.2014</span>
          <h3><a href="#">Erweiterungsbau Parlament</a></h3>
          <p>Der Gestaltungsplan für die Erweiterung des GZO Spital Wetzikon liegt auf. Der 165-Millionen-Bau wird eines der ersten Geschäfte des Parlaments sein.</p><a href="#" class="link">Zürcher Oberländer</a>
        </li>
        <li><span class="time">22.01.2014</span>
          <h3><a href="#">Spitäler sind keine Schraubstöcke</a></h3>
          <p>Reaktion von Dr. Jürg Schneider, Chefarz Frauenklinik am GZO Spital Wetzikon auf den öffentlichen Jahresrückblick des Urologen. </p><a href="#" class="link">Zürcher Oberländer</a>
        </li>
      </ul>
      <div class="link-wrapper"><a href="#" class="link">Medienmitteilungen</a></div>
    </div>
  </div>
</section>
<!-- news module end-->