// generic module start
.mod.generic
	.mod-highlight
		span Fachbereich
	.mod-details
		h2 Urologie
		a.thumb(href='#')
			img(src='images/temp/img-330x220-7.jpg', alt='image-title')
		p Die 
			b Urologie 
			| beschäftigt sich mit Erkrankungen der ableitenden Harnorganen von Frau und Mann (Nieren, Harnleiter, Blase, Harnröhre) sowie Krankheiten der Geschlechtsorgane des Mannes (Prostata, Penis, Hoden).
		.link-wrapper.customized
			a.link(href='#', target='_blank') Zur Urologie

	// generic module end