// generic module start
section.mod.generic
	.mod-highlight
			span Sprechstunde
	.mod-details
		h2 Abendsprechstunde
		p.urologie-generic-7 Wir pflegen eine offene, patientenorientierte und vertrauensvolle Atmosphäre in welcher das individuelle Interesse unserer Patienten im Mittelpunkt steht. Hierfür bietet das Team der Urologie eine vor allem für berufstätige Patienten attraktive Abendsprechstunde an. 
			b Sie können jeweils dienstags bis 20.00 Uhr Termine für eine urologische Abklärung festlegen.
	// generic module end