section.mod.schritt
	.mod-highlight.infos.cta
		a(href="gzo_2014_blumenservice_schritt1.html")
			span
				i Schritt 1
		a(href="gzo_2014_blumenservice_schritt2.html")
				span
					i Schritt 2
		a(href='javascript:void(0);').active
				span
					i Schritt 3
		a(href="gzo_2014_blumenservice_schritt4.html")
				span
					i Schritt 4
		h3 Koordinaten Auftraggeber 
		div.pos-spec
			img(src="images/temp/img-152x152-1.jpg", alt="image-title")
			.row
				.col-sm-8
					span Preiskategorie:
					i  CHF 30.00
			.row
				.col-sm-8
					span Name Patient:
					i  Testbestellung
			.row
				.col-sm-8
					span Vorname Patient:
					i  tnt
			.row
				.col-sm-8
					span Wohnort Patient:
					i testdorf
			.row
				.col-sm-8
					span Bemerkungen: 
					i Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio 
			.row
				.col-sm-8
					span ext Karte:
					i Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio
			a.link Bestellung ändern
		.listedCnt
			h5 test
			ul
				li 
					span Blumen:
					i CHF 30.00
				li 
					span Karte:
					i CHF 30.00
				li 
					span Liefergebühr:
					i CHF 30.00
				li 
					span Total:
					i CHF 30.00
		.schritt3
			h5 Koordinaten Auftraggeber
			form(action='#', method='post' class='schritt')
				fieldset.pos-spec
					form.form-horizontal(role='form')
						.form-group
							label.col-sm-2.control-label(for='firstname') Nachname
							.col-sm-10
								input#firstname.form-control(type='text', placeholder='')
						.form-group
							label.col-sm-2.control-label(for='lastname') Vorname
							.col-sm-10
								input#lastname.form-control(type='text', placeholder='')
						.form-group
							label.col-sm-2.control-label(for='firstname') Firma
							.col-sm-10
								input#firstname.form-control(type='text', placeholder='')
						.form-group
							label.col-sm-2.control-label(for='lastname') Strasse / Nr
							.col-sm-10
								input#lastname.form-control(type='text', placeholder='')
						.form-group
							label.col-sm-2.control-label(for='firstname') PLZ / Ort
							.col-sm-2
								input#firstname.form-control(type='text', placeholder='')
							.col-sm-8
								input#firstname.form-control(type='text', placeholder='')
						.form-group
							label.col-sm-2.control-label(for='lastname') Kreditkarte
							.col-sm-10
								input#lastname.form-control(type='text', placeholder='')
						.form-group
							label.col-sm-2.control-label(for='lastname') Telefon
							.col-sm-10
								input#lastname.form-control(type='text', placeholder='')
						.form-group
							label.col-sm-2.control-label(for='lastname') Mobile
							.col-sm-10
								input#lastname.form-control(type='text', placeholder='')
						.form-group
							label.col-sm-2.control-label(for='lastname') E-mail
							.col-sm-10
								input#lastname.form-control(type='text', placeholder='')
						.form-group
							.col-sm-offset-2.col-sm-10
								button.btn.btn-primary.lrg(type='submit') Weiter zur Bezahlung

