
<!-- generic module start-->
<section class="mod generic">
  <div class="mod-highlight"><span>Geburtshilfe</span></div>
  <div class="mod-details">
    <h2><span class="figure icon icon-large"></span><a href="#">Heidi & René</a><span class="show-btn"></span></h2><a href="#" class="thumb"><img src="images/temp/img-330x220-1.jpg" alt="image-title"/></a>
    <p>Diese Seiten bieten Einblick in das <strong>breite Spektrum medizinischer Leistungen,</strong>die in unserem Spital angeboten werden. </p>
    <form id="" method="" action="">
      <fieldset>
        <select class="custom-select form-control">
          <option value="">1. Geschlecht wählen</option>
          <option value="1">Another action</option>
          <option value="2">The Other action</option>
          <option value="3">Why this action not working</option>
        </select>
      </fieldset>
      <fieldset>
        <select class="custom-select form-control disabled">
          <option value="">2. Bereich wählen</option>
          <option value="1">Another action</option>
          <option value="2">The Other action</option>
          <option value="3">Why this action not working</option>
        </select>
      </fieldset>
      <fieldset>
        <select class="custom-select form-control disabled">
          <option value="">3. Krankheitsbild wählen</option>
          <option value="1">Another action</option>
          <option value="2">The Other action</option>
          <option value="3">Why this action not working</option>
        </select>
      </fieldset>
      <input type="submit" value="Anzeigen" class="btn btn-primary"/>
    </form>
  </div>
</section>
<!-- generic module end-->