// generic module start
section.mod.generic.noborder
	.mod-highlight
			span Blog
	.mod-details
		h2 
			a(href="#") Urologieblog
			span.show-btn
		a(href="#").thumb
			img(src="images/temp/img-330x220-8.jpg", alt="image-title")
		p In unserem 
			b
				a(href="#") Urlogieblog
			|. Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio Acescid ma dolorum core audi ulpa nis magnate mpostis eatem.
	.link-wrapper.customized
		a.link(href='#', target='_blank') Patienteninformationen
// generic module end