
<!-- generic list widget start-->
<section class="mod generic data-list">
  <div class="mod-highlight"><span>Jobs</span></div>
  <div class="mod-details">
    <h2><a href="#">Offene Stellen</a><span class="show-btn"></span></h2>
    <ul>
      <li>
        <div class="time">Frauenklinik, 80-100%</div>
        <h3><a href="#">Arztsekretärin Frauenklinik</a></h3>
      </li>
      <li>
        <div class="time">Radiologie und Nuklearmedizin, teilz.</div>
        <h3><a href="#">Assistenzärztin/arzt oder Oberärztin/arzt</a></h3>
      </li>
      <li>
        <div class="time">Nephrologie/Dialyse, 100%</div>
        <h3><a href="#">Pflegefachfrau Dialyse</a></h3>
      </li>
    </ul>
    <div class="link-wrapper"><a href="#" target="_blank" class="link">Mehr offene Stellen</a></div>
  </div>
</section>
<!-- generic list widget end-->