// generic module start
section.mod.generic.noborder
	.mod-highlight
			span Blog
	.mod-details
		h2 
			a(href="#") Urologieblog
			span.show-btn
		<iframe width="100%" height="220" src="//www.youtube.com/embed/xNoWTLsZbaU" frameborder="0" allowfullscreen></iframe>
		p Eine Zusammenarbeit mit dem Kantonsspital Winterthur ermöglicht uns, die roboterassistierte radikale Entfernung der Prostata (Da Vinci Prostatektomie) durchzuführen.
	.link-wrapper.customized
		a.link(href='#', target='_blank') Weitere Infos zur Da Vinci Prostatektomie
// generic module end