
<!-- generic module start-->
<div class="mod generic">
  <div class="mod-highlight"><span>Kliniken & Zentren</span></div>
  <div class="mod-details">
    <h2><a href="#">Kliniken & Zentren</a></h2><a href="#" class="thumb"><img src="images/temp/img-330x220-2.jpg" alt="image-title"/></a>
    <p><strong>Verschiedene spezialisierte Bereiche </strong>sorgen für das Wohl unserer Patienten im GZO Spital Wetzikon.</p>
    <form action="#">
      <fieldset>
        <select class="custom-select form-control">
          <option value="">Quicklinks</option>
          <option value="1">Another action</option>
          <option value="2">The Other action</option>
          <option value="3">Why this action not working</option>
        </select>
      </fieldset>
    </form>
  </div>
</div>
<!-- generic module end-->