
<!-- tabbed module start-->
<article class="downloadcenter">
  <h2>Kontakt  dfdfdf</h2>
  <p>In unserem Downloadcenter finden Sie Informationen, Broschüren und Formulare zum GZO Spital Wetzikon.</p>
  <form action="#">
    <fieldset>
      <div class="input-group col-sm-11">
        <input type="search" class="form-control bdr-rgt-none"/><i class="icon-search"></i>
      </div>
      <div class="col-sm-1"><span class="icon reset-lrg-this"></span></div>
    </fieldset>
    <fieldset>
      <div class="col-sm-11">
        <select class="custom-select form-control">
          <option value="">1. Hauptrubrik auswählen</option>
          <option value="1">Another action</option>
          <option value="2">The Other action</option>
          <option value="3">Why this action not working</option>
        </select>
      </div>
      <div class="col-sm-1"><span class="icon reset-lrg-this inactive"></span></div>
    </fieldset>
    <fieldset>
      <div class="col-sm-11">
        <select class="custom-select form-control disabled">
          <option value="">1. Hauptrubrik auswählen</option>
          <option value="1">Another action</option>
          <option value="2">The Other action</option>
          <option value="3">Why this action not working</option>
        </select>
      </div>
      <div class="col-sm-1"><span class="icon reset-lrg-this"></span></div>
    </fieldset>
  </form>
</article>
<!-- Lorem module end-->