// generic module start
section.mod.generic3
	.mod-highlight
			span Geburtshilfe
	.mod-details
		h2
			a(href="#") Geburtshilfe
			span.show-btn
		a(href="#").thumb
			img(src="images/temp/img-330x220-1.jpg", alt="image-title")
		p Diese Seiten bieten Einblick in das 
			strong breite Spektrum medizinischer Leistungen,
			| die in unserem Spital angeboten werden. 
	// generic module end