.pagination.pagination-centered
	ul
		li.older
			a(href='#')
				b
		li.prev.active
			a(href='#')
				b
		li.disabled.seitenos
			a(href='#')
				|Seite 
				i 1 
				| von 
				i 126 
		li.next
			a(href='#')
				b
		li.newer
			a(href='#')
				b