// tabbed module start
section.mod.data-list
	.mod-highlight
				span Babygalerie
	.tab-content#gallery-mod.active
		.mod-details
			h2(data-toggle='collapse', data-target='#babielisting') 
				a Neu geboren
			#babielisting.collapse.in
				.data-list.type-1
					ul
						li.listing
							h3
								span.icon.icon-female
								a(href="#") Susanne Mira
							.time 01.06.2014, 17:03h
						li.listing
							h3
								span.icon.icon-male
								a(href="#") Lennart Josef
							.time 01.06.2014, 17:03h
						li
							a(href="#").thumb
								img(src="images/temp/thumb-159x106.jpg", alt="image-title")
							h3
								span.icon.icon-male
								a(href="#") Nino stefen
							.time 24.02.2014
						li
							a(href="#").thumb
								img(src="images/temp/thumb-159x106-1.jpg", alt="image-title")
							h3
								span.icon.icon-male
								a(href="#") Lucas Mateo
							.time 23.02.2014
						li
							a(href="#").thumb
								img(src="images/temp/thumb-159x106-2.jpg", alt="image-title")
							h3
								span.icon.icon-female
								a(href="#") Giuseppina
							.time 22.02.2014
						li
							a(href="#").thumb
								img(src="images/temp/thumb-159x106-3.jpg", alt="image-title")
							h3
								span.icon.icon-female
								a(href="#") Hana Hidic
							.time 22.02.2014
					.link-wrapper
						a(href="#").link Babygalerie

// tabbed module end