
<!-- generic module start-->
<section class="mod generic noborder">
  <div class="mod-highlight"><span>Therapie und Eingriffe</span></div>
  <div class="mod-details">
    <h2><a href="#">Therapie und Eingriffe</a><span class="show-btn"></span></h2>
    <p>Hier ein Kurztext zu den Therapien und Eingriffen der Urologogie. Verschiedene Operationen und Therapien sind Teil des urologischen Leistungsspektrums am GZO Spital Wetzikon. <a href="#">Erfahren Sie hier mehr zu den Eingriffen.</a></p>
  </div>
  <div class="link-wrapper customized"><a href="#" target="_blank" class="link">Therapie und Eingriffe Urologie</a></div>
</section>
<!-- generic module end-->