// tabbed module start
section.mod.data-list.weblinks
	.weblinks
		h2.Links Weiterführende Links
		ul
			li 
				a(href="#")
					span
					| Link auf externe Seite
			li 
				a(href="#")
					span
					| Link auf externe Seite
			li 
				a(href="#")
					span
					| Link auf externe Seite



// Lorem module end