// tabbed module start
article.newsarchiv
	h2 Newsarchiv
	table.newspresse
		tbody
			tr
				td 15.05.2014
				td 
					h3
						a 170 Mio-Anleihe für Bau gesichert
					p Für die Realisierung des umfangreichen Bauvorhabens am GZO Spital Wetzikon haben Anleger am Schweizer Kapitalmarkt eine Anleihe in der Höhe von CHF 170 Millionen, emittiert von der GZO AG, gezeichnet. Damit ist die Finanzierung des Grossprojektes gesichert. Diese Anleihe ist Folge der neuen Spitalfinanzierung und setzt einen neuen historischen Meilenstein in der über 100-jährigen Geschichte des Spitals. 
						a.link(href='#', target='_blank') mehr

			tr
				td 15.05.2014
				td 
					h3
						a 170 Mio-Anleihe für Bau gesichert
					p Für die Realisierung des umfangreichen Bauvorhabens am GZO Spital Wetzikon haben Anleger am Schweizer Kapitalmarkt eine Anleihe in der Höhe von CHF 170 Millionen, emittiert von der GZO AG, gezeichnet. Damit ist die Finanzierung des Grossprojektes gesichert. Diese Anleihe ist Folge der neuen Spitalfinanzierung und setzt einen neuen historischen Meilenstein in der über 100-jährigen Geschichte des Spitals.
						a.link(href='#', target='_blank') mehr

			tr
				td 15.05.2014
				td 
					h3
						a 170 Mio-Anleihe für Bau gesichert
					p Für die Realisierung des umfangreichen Bauvorhabens am GZO Spital Wetzikon haben Anleger am Schweizer Kapitalmarkt eine Anleihe in der Höhe von CHF 170 Millionen, emittiert von der GZO AG, gezeichnet. Damit ist die Finanzierung des Grossprojektes gesichert. Diese Anleihe ist Folge der neuen Spitalfinanzierung und setzt einen neuen historischen Meilenstein in der über 100-jährigen Geschichte des Spitals.
						a.link(href='#', target='_blank') mehr

			tr
				td 15.05.2014
				td 
					h3
						a 170 Mio-Anleihe für Bau gesichert
					p Für die Realisierung des umfangreichen Bauvorhabens am GZO Spital Wetzikon haben Anleger am Schweizer Kapitalmarkt eine Anleihe in der Höhe von CHF 170 Millionen, emittiert von der GZO AG, gezeichnet. Damit ist die Finanzierung des Grossprojektes gesichert. Diese Anleihe ist Folge der neuen Spitalfinanzierung und setzt einen neuen historischen Meilenstein in der über 100-jährigen Geschichte des Spitals.
						a.link(href='#', target='_blank') mehr
include mod-pagination-detail