
<!-- generic module start-->
<div class="col-xs-12 col-md-4">
  <section class="mod generic3">
    <div class="mod-highlight"><span>Elterninfo-Abende</span></div>
    <div class="mod-details">
      <h2><a href="#">Elterninfo-Abende</a><span class="show-btn"></span></h2><a href="#" class="thumb"><img src="images/temp/img-330x220-1.jpg" alt="image-title"/></a>
      <p>Diese Seiten bieten Einblick in das <strong>breite Spektrum medizinischer Leistungen,</strong>die in unserem Spital angeboten werden. </p>
    </div>
  </section>
  <!-- generic module end-->
</div>