// tabbed module start
article.mitarbeiter.detailpage
	h2 Dr. med. Stefan Preusser
	h3 Leitender Arzt Urologie
	.row.email-tel
		.col-md-6.email
			span
			|E-Mail: 
			a(href='#') arztname@gzo.ch
		.col-md-6.tel
			span
			|Tel direkt: 
			b +41 44 123 45 67
	.row
		.col-xs-12.col-md-3 
			a(href="#").thumb
						img(src="images/temp/img-120x175-1.jpg", title="GZO" alt="")
		.col-md-12.col-md-9
			h4 Fachgebiet
			ul
				li Facharzt FMH für Urologie, Schwerpunkt ope Urologie
				li Fellow of the European Board of Urology (FEBU)
			h4 Kompetenzen und Spezialgebiete
			ul
				li Tumorchirurgie
				li Laparoskopie
				li rekonstruktive Harnröhrenchirurgie
				li ransurethrale Laserchirurgie
			h4 Persönlich
			ul
				li Geburtsjahr: 1973, Waldshut (Baden-Württemberg)
				li Zivilstand: verheiratet seit 2008, 1 Tochter
				li Nationalitäten: Schweiz, Deutschland
			h4 Ausbildung und Werdegang
			table.tblmitarbeiter
				tbody
					tr
						td 2002
						td Arztdiplom und Doktorierung
					tr
						td 2002 - 2005
						td 
							|Assistenzarzt Allgemeine Chirurgie
							br 
							|Kantonsspital Bruderholz (BL)

					tr
						td 2002 - 2005
						td 
							|Assistenzarzt der Klinik für Urologie,
							br
							|Kantonsspital St. Gallen
					tr
						td 2002 - 2005
						td 
							|Assistenzarzt Allgemeine Chirurgie
							br 
							|Kantonsspital Bruderholz (BL)
					tr
						td 2002 - 2005
						td 
							|Assistenzarzt der Klinik für Urologie,
							br
							|Kantonsspital St. Gallen
					tr
						td 2002 - 2005
						td 
							|Assistenzarzt Allgemeine Chirurgie
							br 
							|Kantonsspital Bruderholz (BL)
					tr
						td 2002 - 2005
						td 
							|Assistenzarzt der Klinik für Urologie,
							br
							|Kantonsspital St. Gallen
			h4 Mitgliedschaften
			ul.shortform
				li Ärztegesellschaft des Kantons Zürich (AGZ)
				li Ärztegesellschaft Zürcher Oberland (AGZO)
				li Schweizerische Ärztegesellschaft (FMH)
				li Schweizerische Gesellschaft für Urologie SGU
				li Deutsche Gesellschaft für Urologie DGU
				li European Association of Urology EAU
			include mod-widget-documents-mitarbeiter
			include video
			input(type="submit",class="btn btn-primary VidBtn",value="Zurück")

