// generic module start
.mod.generic
	.mod-highlight
			span Kontakt
	.mod-details
		h2 Kontakt Urologie
		p Unser Sekretariat ist ihre erste Kontaktstelle mit der Urologie. Bei Fragen stehen unsere Mitarbeiterinnen gerne zur Verfügung:
		p
			b
				span.tel
					|Tel:  +41 44 934 22 25, 
				a urologie@sec.gzo.ch
			.link-wrapper.customized
				a.link(href='#', target='_blank') Kontakt Urologie

	// generic module end