
<!-- generic module start-->
<section class="mod generic">
  <div class="mod-highlight"><span>Leitender Arzt</span></div>
  <div class="mod-details">
    <h2><a href="#">Urologie</a><span class="show-btn"></span></h2>
    <div class="row">
      <div class="col-md-6"><a href="#" class="thumb"><img src="images/temp/img-330x220.jpg" alt="image-title"/></a></div>
      <div class="col-md-6">
        <h3>Dr. med. Stefan Preusser </h3><br/>Leitender Arzt Urologie
        <p>Auf unserem <a href="#">Zuweiserportal</a>finden Sie alle wichtigen Informationen und Formulare für eine Zuweisung ans GZO Spital Wetzikon.</p>
      </div>
    </div>
    <form action="#">
      <fieldset>
        <select class="custom-select form-control">
          <option value="">Quicklinks</option>
          <option value="1">Another action</option>
          <option value="2">The Other action</option>
          <option value="3">Why this action not working</option>
        </select>
      </fieldset>
    </form>
  </div>
</section>
<!-- generic module end-->