// tabbed module start
article.Webcam
	h2 Webcam
	p Unsere neue Webcam zeigt bei guter Witterung Bilder vom Pfäffikersee über den Bachtel bis zum Alpenpanorama. Stationiert ist die Kamera auf dem Dach des GZO Spital Wetzikon (10. Stockwerk).
	ul
		li
			.hdg Bildschirmfüllend in HD-Qualität
			.cnt Mit einem Klick auf das Panorama-Bild öffnet sich ein neues Fenster. Sie können sich in dieser Ansicht über den "Archiv-Link" beispielsweise den schönen Sonnenaufgang von gestern ansehen. Mit einem Klick ins rechte obere Eck öffnet sich die Seite bildschirmfüllend in HD-Qualität.
		li
			.hdg Bildschirmfüllend in HD-Qualität
			.cnt Mit einem Klick auf das Panorama-Bild öffnet sich ein neues Fenster. Sie können sich in dieser Ansicht über den "Archiv-Link" beispielsweise den schönen Sonnenaufgang von gestern ansehen. Mit einem Klick ins rechte obere Eck öffnet sich die Seite bildschirmfüllend in HD-Qualität.
		li
			.hdg Bildschirmfüllend in HD-Qualität
			.cnt Mit einem Klick auf das Panorama-Bild öffnet sich ein neues Fenster. Sie können sich in dieser Ansicht über den "Archiv-Link" beispielsweise den schönen Sonnenaufgang von gestern ansehen. Mit einem Klick ins rechte obere Eck öffnet sich die Seite bildschirmfüllend in HD-Qualität.
	button.btn.btn-facebook
		i.fa.fa-facebook
			| Empfehlen
	button.btn.btn-facebook
		i.fa
			| Teilen
	#c.count-o
		i
		u
		#count.note 14
