// tabbed module start
article.mitarbeiter
	h2 Mitarbeiter
	p Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent.
	form(action="#")
		fieldset
			.input-group.col-sm-12
				input.form-control.bdr-rgt-none(type='search' placeholder='Name / Vorname')
				i.icon-search
	h3 Funktion
	.listings
		.row-fluid
			span.tag.label.label-info
				span Ärzte
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Physio
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Hebammen
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Beratung
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Sekretariat
					a
						i.fa.fa-times
		.row-fluid
			span.tag.label.label-info
				span Ärzte
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Physio
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Hebammen
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Beratung
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Sekretariat
					a
						i.fa.fa-times
		.row-fluid
			span.tag.label.label-info
				span Ärzte
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Physio
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Hebammen
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Beratung
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Sekretariat
					a
						i.fa.fa-times
		.row-fluid
			.link-wrapper
				a.link(href='#', target='_blank') Zur Urologie
				a.link(href='#', target='_blank') Alle auswählen
				a.link(href='#', target='_blank') Keine auswählen
	h3 Fachbereich
	.listings
		.row-fluid
			span.tag.label.label-info
				span Ärzte
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Physio
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Hebammen
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Beratung
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Sekretariat
					a
						i.fa.fa-times
		.row-fluid
			span.tag.label.label-info
				span Ärzte
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Physio
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Hebammen
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Beratung
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Sekretariat
					a
						i.fa.fa-times
		.row-fluid
			span.tag.label.label-info
				span Ärzte
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Physio
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Hebammen
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Beratung
					a
						i.fa.fa-times
			span.tag.label.label-info
				span Sekretariat
					a
						i.fa.fa-times
		.row-fluid
			.link-wrapper
				a.link(href='#', target='_blank') Zur Urologie
				a.link(href='#', target='_blank') Alle auswählen
				a.link(href='#', target='_blank') Keine auswählen
	button.btn.btn-primary(type='submit') Suchen


