// tabbed module start
article.downloadcenter
	h2 Downloadcenter
	p In unserem Downloadcenter finden Sie Informationen, Broschüren und Formulare zum GZO Spital Wetzikon.
	form(action="#")
		fieldset
			.input-group.col-sm-11
				input.form-control.bdr-rgt-none(type='search')
				i.icon-search
			.col-sm-1
				span.icon.reset-lrg-this
		fieldset
			.col-sm-11
				select.custom-select.form-control
					option(value="") 1. Hauptrubrik auswählen
					option(value="1") Another action
					option(value="2") The Other action
					option(value="3") Why this action not working
			.col-sm-1
				span.icon.reset-lrg-this.inactive
		fieldset
			.col-sm-11
				select.custom-select.form-control.disabled
					option(value="") 1. Hauptrubrik auswählen
					option(value="1") Another action
					option(value="2") The Other action
					option(value="3") Why this action not working
			.col-sm-1
				span.icon.reset-lrg-this
// Lorem module end