
<!-- tabbed module start-->
<section class="mod data-list">
  <div class="result-data download">
    <ul>
      <li><a href="#"><span class="file-title">Eintritts-Checkliste</span><span class="file-info"><span class="size">3,5 mb</span><span class="icon icon-pdf"></span></span></a></li>
      <li><a href="#"><span class="file-title">Infobroschüre</span><span class="file-info"><span class="size">290 kb</span><span class="icon icon-xls"></span></span></a></li>
      <li><a href="#"><span class="file-title">Infobroschüre Narkoe</span><span class="file-info"><span class="size">11,5 mb</span><span class="icon icon-zip"></span></span></a></li>
      <li><a href="#"><span class="file-title">Versichertenkarte</span><span class="file-info"><span class="size">3 MB</span><span class="icon icon-pwp"></span></span></a></li>
      <li><a href="#"><span class="file-title">Versicherungsausweis</span><span class="file-info"><span class="size">493 KB</span><span class="icon icon-access"></span></span></a></li>
      <li><a href="#"><span class="file-title">Dokumentname </span><span class="file-info"><span class="size">210 KB</span><span class="icon icon-word"></span></span></a></li>
    </ul><a href="#" class="btn btn-primary">Alle Anzeigen (23)</a>
  </div>
</section>
<!-- Lorem module end-->