// generic module start
.mod.generic
	.mod-highlight
			span Quicklinks
	.mod-details
		h2 Nützliche Links Urologie
.data-list.urologie
	ul
		li
			.details
				h3
					a(href='#').link Titelzeile Urologie Quicklink
				p Acescid ma dolorum core ducia eosae aut enda sa sae.
		li
			.details
				h3
					a(href='#').link Titelzeile Urologie Quicklink
				p Acescid ma dolorum core ducia eosae aut enda sa sae.
		li
			.details
				h3
					a(href='#').link Titelzeile Urologie Quicklink
				p Acescid ma dolorum core ducia eosae aut enda sa sae.
	// generic module end