// generic module start
section.mod.infos.data-list
	.mod-highlight
			span Infos
	.mod-details
		h2(data-toggle='collapse', data-target='#infos')
			a(href="#") Infos zum Blumen Service
		#infos.collapse.in
			ul.infos
				li
					a.link(href="#") Blumen hier bestellen
					p Sie können Blumen online bestellen und direkt ins GZO Spital Wetzikon liefern lassen. Bereiten Sie Ihren Liebsten im GZO mit unserem Blumen Service eine Freude.
				li
					a.link(href="#") Häufige Fragen
					p Hier finden Sie Antworten auf mögliche Fragen.
				li
					a.link(href="#") Allgemeine Geschäftsbedingungen
					p Allgemeine Geschäftsbedingungen zum Blumen Service.
// generic module end