// tabbed module start
section.mod.data-list.downloadData
	.result-data.download
		h2.datadownload Nützliche Dokumente
		ul
			li 
				a(href="#")
					span.file-title Eintritts-Checkliste
					span.file-info
						span.size 3,5 mb
						span.icon.icon-pdf
			li 
				a(href="#")
					span.file-title Infobroschüre
					span.file-info
						span.size 290 kb
						span.icon.icon-xls
			li 
				a(href="#")
					span.file-title Infobroschüre Narkoe
					span.file-info
						span.size 11,5 mb
						span.icon.icon-zip
			li 
				a(href="#")
					span.file-title Versichertenkarte
					span.file-info
						span.size 3 MB
						span.icon.icon-pwp
			li 
				a(href="#")
					span.file-title Versicherungsausweis
					span.file-info
						span.size 493 KB
						span.icon.icon-access
			li 
				a(href="#")
					span.file-title Dokumentname 
					span.file-info
						span.size 210 KB
						span.icon.icon-word


// Lorem module end