// generic module start
section.mod.generic
	.mod-details
		h2 Aktuelles
		a.thumb(href='#')
			img(src='images/temp/img-330x220-7.jpg', alt='image-title')
		h3.urologie-generic2
			a Headline News Urologie
		p 24.05.2014. Seit dem Umbau 2008 stehen uns modernste Räume und Geräte zur Abklärung und Behandlung urologischer Erkrankungen zur Verfügung. Die Urologie GZO bietet das gesamte Spektrum der operativen und auch der konservativen Therapie urologischer Erkrankungen an. Neben bösartigen Erkrankungen von Nieren, Blase, Prostata, Hoden und Penis gehören hierzu die gutartige Vergrösserung der Prostata, Harnsteinleiden sowie Blasenfunktionsstörungen. Zum Leistungsangebot der Urologie GZO gehören neben der klassischen offenen Chirurgie modernste Operationstechniken wie Schlüssellochchirurgie und Laserchirurgie, die bipolare Resektionstechnik der Prostata (Verhinderung des Einschwemm-Syndroms) sowie das gesamte Spektrum der operativen 

	// generic module end