// tabbed module start
section.mod.data-list.downloadData
	ul
		li 
			a(href="#")
				span.file-title Name der Publikation 
				span.size (3,5 mb)
				span.file-info
					span.icon.icon-pdf
		li 
			a(href="#")
				span.file-title Link auf externe Seite 
				span.size
				span.file-info
					span.icon.icon-link


// Lorem module end