// generic module start
section.mod.generic.noborder
	.mod-highlight
			span Therapie und Eingriffe
	.mod-details
		h2 
			a(href="#") Therapie und Eingriffe
			span.show-btn
		p Hier ein Kurztext zu den Therapien und Eingriffen der Urologogie. Verschiedene Operationen und Therapien sind Teil des urologischen Leistungsspektrums am GZO Spital Wetzikon. 
			a(href="#")
				b Erfahren Sie hier mehr zu den Eingriffen.
	.link-wrapper.customized
		a.link(href='#', target='_blank') Therapie und Eingriffe Urologie
// generic module end