
<!-- generic module start-->
<div class="mod generic">
  <div class="mod-highlight"><span>Zuweiser</span></div>
  <div class="mod-details">
    <h2>Infos für Zuweiser</h2><a href="#" class="thumb"><img src="images/temp/img-330x220.jpg" alt="image-title"/></a>
    span.show-btn
    <p>Auf unserem <a href="#">Zuweiserportal</a>finden Sie alle wichtigen Informationen und Formulare für eine Zuweisung ans GZO Spital Wetzikon.</p>
    <select class="custom-select form-control">
      <option value="">Quicklinks</option>
      <option value="1">Another action</option>
      <option value="2">The Other action</option>
      <option value="3">Why this action not working</option>
    </select>
  </div>
</div>
<!-- generic module end-->