// generic list widget start
section.mod.generic.data-list
    .mod-highlight
      span Agenda
    .mod-details
      h2
        a(href='#') Veranstaltungen
        span.show-btn
      ul.lists
        li.list-item
          .time Freitag, 23.05.2014, 20.00 Uhr
          h3
            a(href='#') Eltern-Informationsabend
        li.list-item
          .time Freitag, 23.05.2014, 20.00 Uhr
          h3
            a(href='#') Spital-Gottesdienst
        li.list-item
          .time Freitag, 23.05.2014, 20.00 Uhr
          h3
            a(href='#') Adipositas-Symposium
      .link-wrapper
        a.link(href='#', target='_blank') Zur kompletten Agenda

// generic list widget end