// generic module start
.data-list.urologie
	ul.sociallinks
		li
			a.google
			.cnt
				h3
					a(href="#") GZO Urologie bei Google+
				p Acescid ma dolorum core ducia eosae ausae.
	// generic module end