
<!-- news module start-->
<h2>Babygalerie</h2>
<section class="mod data-list">
  <div class="mod-highlight list"><a href="#infos-mod"><span><span class="infos"></span><i>Infos</i></span></a><a href="#liste-mod" class="active"><span><span class="liste"></span><i>Liste</i></span></a></div>
  <form id="" method="" action="" class="list-detail">
    <fieldset>
      <select class="custom-select form-control">
        <option value="">Mann</option>
        <option value="1">Mann</option>
        <option value="2">Mann</option>
        <option value="3">Mann</option>
      </select>
    </fieldset>
    <fieldset>
      <select class="custom-select form-control">
        <option value="">Bereich wählen</option>
        <option value="1">Another action</option>
        <option value="2">The Other action</option>
        <option value="3">Why this action not working</option>
      </select>
    </fieldset>
    <input type="submit" value="Anzeigen" class="btn btn-primary"/>
  </form>
  <div id="infos-mod" class="tab-content">
    <div class="mod-details">
      <div class="row">
        <div class="col-md-4">
          <!-- generic module start-->
          <section class="mod generic">
            <div class="mod-highlight"></div>
            <div class="mod-details infocontent">
              <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
              <p>
                Auf unserem Zuweiserportal
                Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
              </p>
              <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
            </div>
          </section>
          <!-- generic module end-->
          <!-- generic module start-->
          <section class="mod generic">
            <div class="mod-highlight"></div>
            <div class="mod-details infocontent">
              <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
              <p>
                Auf unserem Zuweiserportal
                Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
              </p>
              <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
            </div>
          </section>
          <!-- generic module end-->
          <!-- generic module start-->
          <section class="mod generic">
            <div class="mod-highlight"></div>
            <div class="mod-details infocontent">
              <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
              <p>
                Auf unserem Zuweiserportal
                Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
              </p>
              <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
            </div>
          </section>
          <!-- generic module end-->
        </div>
        <div class="col-md-4">
          <!-- generic module start-->
          <section class="mod generic">
            <div class="mod-highlight"></div>
            <div class="mod-details infocontent">
              <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
              <p>
                Auf unserem Zuweiserportal
                Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
              </p>
              <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
            </div>
          </section>
          <!-- generic module end-->
          <!-- generic module start-->
          <section class="mod generic">
            <div class="mod-highlight"></div>
            <div class="mod-details infocontent">
              <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
              <p>
                Auf unserem Zuweiserportal
                Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
              </p>
              <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
            </div>
          </section>
          <!-- generic module end-->
          <!-- generic module start-->
          <section class="mod generic">
            <div class="mod-highlight"></div>
            <div class="mod-details infocontent">
              <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
              <p>
                Auf unserem Zuweiserportal
                Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
              </p>
              <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
            </div>
          </section>
          <!-- generic module end-->
        </div>
        <div class="col-md-4">
          <!-- generic module start-->
          <section class="mod generic">
            <div class="mod-highlight"></div>
            <div class="mod-details infocontent">
              <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
              <p>
                Auf unserem Zuweiserportal
                Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
              </p>
              <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
            </div>
          </section>
          <!-- generic module end-->
          <!-- generic module start-->
          <section class="mod generic">
            <div class="mod-highlight"></div>
            <div class="mod-details infocontent">
              <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
              <p>
                Auf unserem Zuweiserportal
                Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
              </p>
              <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
            </div>
          </section>
          <!-- generic module end-->
          <!-- generic module start-->
          <section class="mod generic">
            <div class="mod-highlight"></div>
            <div class="mod-details infocontent">
              <h2><a href="#">Blasenentzundung(Zystilis)</a><span class="show-btn"></span></h2>
              <p>
                Auf unserem Zuweiserportal
                Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. 
              </p>
              <div class="topdottedline"><a href="#" class="link">Medienmitteilungen</a></div>
            </div>
          </section>
          <!-- generic module end-->
        </div>
      </div>
    </div>
  </div>
  <div id="liste-mod" class="tab-content active">
    <div class="mod-details listView">
      <div class="row">
        <div class="col-xs-12 col-md-4 linkHeading"><a href="#" class="link">Blasenentzündung (Zystitis)</a></div>
        <div class="col-xs-12 col-md-8 linkContent">Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4 linkHeading"><a href="#" class="link">Blasenentzündung (Zystitis)</a></div>
        <div class="col-xs-12 col-md-8 linkContent">Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4 linkHeading"><a href="#" class="link">Blasenentzündung (Zystitis)</a></div>
        <div class="col-xs-12 col-md-8 linkContent">Am 1. Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4 linkHeading"><a href="#" class="link">Blasenentzündung (Zystitis)</a></div>
        <div class="col-xs-12 col-md-8 linkContent">Am 1. Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4 linkHeading"><a href="#" class="link">Blasenentzündung (Zystitis)</a></div>
        <div class="col-xs-12 col-md-8 linkContent">Am 1. Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4 linkHeading"><a href="#" class="link">Blasenentzündung (Zystitis)</a></div>
        <div class="col-xs-12 col-md-8 linkContent">Am 1. Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4 linkHeading"><a href="#" class="link">Blasenentzündung (Zystitis)</a></div>
        <div class="col-xs-12 col-md-8 linkContent">Am 1. Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4 linkHeading"><a href="#" class="link">Blasenentzündung (Zystitis)</a></div>
        <div class="col-xs-12 col-md-8 linkContent">Am 1. Januar 2014 hat Frau Prof. Ursula Kapp die Onkologie am GZO Spital Wetzikon übernommen.</div>
      </div>
    </div>
  </div>
</section>