// generic module start
section.mod.generic
	.mod-highlight
			span Leitender Arzt
	.mod-details
		h2 
			a(href="#") Urologie
			span.show-btn
		.row.urologie
			.col-md-6
				a(href="#").thumb
					img(src="images/temp/img-150x220-1.jpg", alt="image-title")
			.col-md-6
				h3 Dr. med. Stefan Preusser 
				h4 Leitender Arzt Urologie
				p Die Urologie beschäftigt sich mit Erkrankungen der ableitenden Harnorganen von Frau und Mann sowie Krankheiten der Geschlechtsorgane des Mannes.
				a.link(href='#', target='_blank') mehr
		
// generic module end