.nav-main
  .container
    .col-md-12
      ul
        li(class=(navSelect==1)?"active":"") 
          a(href="#") Kliniken & Zentren
          ul
            li
              ol
                li: a(href="#") Chirurgische Klinik
                li.sub-nav: a(href="#") Bariatrie
                li.sub-nav: a(href="#") Orthopädie
                li.sub-nav: a(href="#") Kolorektalchirurgie
                li.sub-nav: a(href="#") Viszeralchirurgie
                li.sub-nav: a(href="#") Gefässchirurgie
                li.sub-nav: a(href="#") Urologie
                li.sub-nav: a(href="#") Traumatologie
                li.sub-nav: a(href="#") Augenchirurgie
                li.sub-nav: a(href="#") Handchirurgie
                li.sub-nav: a(href="#") Sportmedizin
            li
              ol
                li: a(href="#") Medizinische Klinik
                li.sub-nav: a(href="#") Angiologie
                li.sub-nav: a(href="#") Kardiologie
                li.sub-nav: a(href="#") Gastroenterologie
                li.sub-nav: a(href="#") Pneumologie
                li.sub-nav: a(href="#") Nephrologie
                li.sub-nav: a(href="#") Onkologie
                li.sub-nav: a(href="#") Endokrinologie
                li.sub-nav: a(href="#") Palliativmedizin
                li.sub-nav: a(href="#") Schlafmedizin
                li.sub-nav: a(href="#") Schmerzmedizin
            li
              ol
                li: a(href="#") Frauenklinik
                li.sub-nav: a(href="#") Geburtshilfe
                li.sub-nav: a(href="#") Gynäkologie
                li.sub-nav: a(href="#") Urogynäkologie
                li: a(href="#") Radiologie
                li: a(href="#") Anästhesie
                li: a(href="#") Pflege
                li: a(href="#") Physiotherapie + Reha
                li: a(href="#") Beratungsdienste
            li.nav-widget
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. 
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86-1.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. 
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86-2.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. 



        li(class=(navSelect==2)?"active":"") 
          a(href="#") Krankheitsbilder
          ul
            li
              ol
                li: a(href="#") Main title
                li.sub-nav: a(href="#") Lorem
                li.sub-nav: a(href="#") ipsum
                li.sub-nav: a(href="#") dolor
                li.sub-nav: a(href="#") sit
                li.sub-nav: a(href="#") amet,
                li.sub-nav: a(href="#") consectetur
                li.sub-nav: a(href="#") adipisicing
                li.sub-nav: a(href="#") elit
                li.sub-nav: a(href="#") sed
                li.sub-nav: a(href="#") do
            li
              ol
                li: a(href="#") Another title
                li.sub-nav: a(href="#") Ut
                li.sub-nav: a(href="#") enim
                li.sub-nav: a(href="#") ad
                li.sub-nav: a(href="#") minim
                li.sub-nav: a(href="#") veniam,
                li.sub-nav: a(href="#") quis
                li.sub-nav: a(href="#") nostrud
                li.sub-nav: a(href="#") exercitation
                li.sub-nav: a(href="#") ullamco
                li.sub-nav: a(href="#") laboris
            li
              ol
                li: a(href="#") Frauenklinik
                li.sub-nav: a(href="#") Geburtshilfe
                li.sub-nav: a(href="#") Gynäkologie
                li.sub-nav: a(href="#") Urogynäkologie
                li: a(href="#") Radiologie
                li: a(href="#") Anästhesie
                li: a(href="#") Pflege
                li: a(href="#") Physiotherapie + Reha
                li: a(href="#") Beratungsdienste
            li.nav-widget
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86-1.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. 
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. 
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86-2.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. 
        li(class=(navSelect==3)?"active":"")  
          a(href="#") Patient
          ul
            li
              ol
                li: a(href="#") Main title
                li.sub-nav: a(href="#") commodo
                li.sub-nav: a(href="#") consequat.
                li.sub-nav: a(href="#") Duis
                li.sub-nav: a(href="#") aute
                li.sub-nav: a(href="#") irure
                li.sub-nav: a(href="#") dolor
                li.sub-nav: a(href="#") in
                li.sub-nav: a(href="#") reprehenderit
                li.sub-nav: a(href="#") in
                li.sub-nav: a(href="#") voluptate
            li
              ol
                li: a(href="#") Another title
                li.sub-nav: a(href="#") voluptate
                li.sub-nav: a(href="#") velit
                li.sub-nav: a(href="#") esse
                li.sub-nav: a(href="#") cillum
                li.sub-nav: a(href="#") dolore
                li.sub-nav: a(href="#") eu
                li.sub-nav: a(href="#") fugiat
                li.sub-nav: a(href="#") nulla
                li.sub-nav: a(href="#") pariatur.
                li.sub-nav: a(href="#") Excepteur
            li
              ol
                li: a(href="#") Some more title link
                li.sub-nav: a(href="#") sint
                li.sub-nav: a(href="#") occaecat
                li.sub-nav: a(href="#") cupidatat
                li: a(href="#") Radiologie
                li: a(href="#") Anästhesie
                li: a(href="#") Pflege
                li: a(href="#") Physiotherapie + Reha
                li: a(href="#") Beratungsdienste
            li.nav-widget
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. 
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86-2.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink.
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86-1.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. 
        li(class=(navSelect==4)?"active":"")  
          a(href="#") Besucher
          ul
            li
              ol
                li: a(href="#") Main title
                li.sub-nav: a(href="#") Lorem
                li.sub-nav: a(href="#") ipsum
                li.sub-nav: a(href="#") dolor
                li.sub-nav: a(href="#") sit
                li.sub-nav: a(href="#") amet,
                li.sub-nav: a(href="#") consectetur
                li.sub-nav: a(href="#") adipisicing
                li.sub-nav: a(href="#") elit
                li.sub-nav: a(href="#") sed
                li.sub-nav: a(href="#") do
            li
              ol
                li: a(href="#") Another title
                li.sub-nav: a(href="#") Ut
                li.sub-nav: a(href="#") enim
                li.sub-nav: a(href="#") ad
                li.sub-nav: a(href="#") minim
                li.sub-nav: a(href="#") veniam,
                li.sub-nav: a(href="#") quis
                li.sub-nav: a(href="#") nostrud
                li.sub-nav: a(href="#") exercitation
                li.sub-nav: a(href="#") ullamco
                li.sub-nav: a(href="#") laboris
            li
              ol
                li: a(href="#") Frauenklinik
                li.sub-nav: a(href="#") Geburtshilfe
                li.sub-nav: a(href="#") Gynäkologie
                li.sub-nav: a(href="#") Urogynäkologie
                li: a(href="#") Radiologie
                li: a(href="#") Anästhesie
                li: a(href="#") Pflege
                li: a(href="#") Physiotherapie + Reha
                li: a(href="#") Beratungsdienste
            li.nav-widget
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. 
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86-1.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. 
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86-2.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink.
        li(class=(navSelect==5)?"active":"")  
          a(href="#") Zuweiser
          ul
            li
              ol
                li: a(href="#") Main title
                li.sub-nav: a(href="#") commodo
                li.sub-nav: a(href="#") consequat.
                li.sub-nav: a(href="#") Duis
                li.sub-nav: a(href="#") aute
                li.sub-nav: a(href="#") irure
                li.sub-nav: a(href="#") dolor
                li.sub-nav: a(href="#") in
                li.sub-nav: a(href="#") reprehenderit
                li.sub-nav: a(href="#") in
                li.sub-nav: a(href="#") voluptate
            li
              ol
                li: a(href="#") Another title
                li.sub-nav: a(href="#") voluptate
                li.sub-nav: a(href="#") velit
                li.sub-nav: a(href="#") esse
                li.sub-nav: a(href="#") cillum
                li.sub-nav: a(href="#") dolore
                li.sub-nav: a(href="#") eu
                li.sub-nav: a(href="#") fugiat
                li.sub-nav: a(href="#") nulla
                li.sub-nav: a(href="#") pariatur.
                li.sub-nav: a(href="#") Excepteur
            li
              ol
                li: a(href="#") Some more title link
                li.sub-nav: a(href="#") sint
                li.sub-nav: a(href="#") occaecat
                li.sub-nav: a(href="#") cupidatat
                li: a(href="#") Radiologie
                li: a(href="#") Anästhesie
                li: a(href="#") Pflege
                li: a(href="#") Physiotherapie + Reha
                li: a(href="#") Beratungsdienste
            li.nav-widget
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. 
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86-1.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. 
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86-2.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink.
        li(class=(navSelect==6)?"active":"")  
          a(href="#") Über uns
          ul
            li
              ol
                li: a(href="#") Main title
                li.sub-nav: a(href="#") Lorem
                li.sub-nav: a(href="#") ipsum
                li.sub-nav: a(href="#") dolor
                li.sub-nav: a(href="#") sit
                li.sub-nav: a(href="#") amet,
                li.sub-nav: a(href="#") consectetur
                li.sub-nav: a(href="#") adipisicing
                li.sub-nav: a(href="#") elit
                li.sub-nav: a(href="#") sed
                li.sub-nav: a(href="#") do
            li
              ol
                li: a(href="#") Another title
                li.sub-nav: a(href="#") Ut
                li.sub-nav: a(href="#") enim
                li.sub-nav: a(href="#") ad
                li.sub-nav: a(href="#") minim
                li.sub-nav: a(href="#") veniam,
                li.sub-nav: a(href="#") quis
                li.sub-nav: a(href="#") nostrud
                li.sub-nav: a(href="#") exercitation
                li.sub-nav: a(href="#") ullamco
                li.sub-nav: a(href="#") laboris
            li
              ol
                li: a(href="#") Frauenklinik
                li.sub-nav: a(href="#") Geburtshilfe
                li.sub-nav: a(href="#") Gynäkologie
                li.sub-nav: a(href="#") Urogynäkologie
                li: a(href="#") Radiologie
                li: a(href="#") Anästhesie
                li: a(href="#") Pflege
                li: a(href="#") Physiotherapie + Reha
                li: a(href="#") Beratungsdienste
            li.nav-widget
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86-1.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. 
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. 
              .item
                a(href="#").thumb
                  img(src="images/temp/img-129x86-2.jpg", alt="image-title")
                .details
                  h2: a(href="#") Promolink
                  p
                    a(href="#") Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink.