
<!-- Demo navbar -->
<div class="navbar yamm navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Yamm Megamenu</a>
      <div id="navbar-collapse-1" class="navbar-collapse collapse"></div>
      <ul class="nav navbar-nav">
        <!-- Classic list -->
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Kliniken & Zentren</a>
          <ul class="dropdown-menu">
            <li>
              <!-- Content container to add padding -->
              <div class="yamm-content">
                <div class="row">
                  <ul class="col-sm-2 list-unstyled">
                    <li><a href="#">Chirurgische Klinik</a></li>
                    <li class="sub-nav"><a href="#">Bariatrie</a></li>
                    <li class="sub-nav"><a href="#">Orthopädie</a></li>
                    <li class="sub-nav"><a href="#">Kolorektalchirurgie</a></li>
                    <li class="sub-nav"><a href="#">Viszeralchirurgie</a></li>
                    <li class="sub-nav"><a href="#">Gefässchirurgie</a></li>
                    <li class="sub-nav"><a href="#">Urologie</a></li>
                    <li class="sub-nav"><a href="#">Traumatologie</a></li>
                    <li class="sub-nav"><a href="#">Augenchirurgie</a></li>
                    <li class="sub-nav"><a href="#">Handchirurgie</a></li>
                    <li class="sub-nav"><a href="#">Sportmedizin</a></li>
                  </ul>
                  <ul class="col-sm-2 list-unstyled">
                    <li><a href="#">Medizinische Klinik</a></li>
                    <li class="sub-nav"><a href="#">Angiologie</a></li>
                    <li class="sub-nav"><a href="#">Kardiologie</a></li>
                    <li class="sub-nav"><a href="#">Gastroenterologie</a></li>
                    <li class="sub-nav"><a href="#">Pneumologie</a></li>
                    <li class="sub-nav"><a href="#">Nephrologie</a></li>
                    <li class="sub-nav"><a href="#">Onkologie</a></li>
                    <li class="sub-nav"><a href="#">Endokrinologie</a></li>
                    <li class="sub-nav"><a href="#">Palliativmedizin</a></li>
                    <li class="sub-nav"><a href="#">Schlafmedizin</a></li>
                    <li class="sub-nav"><a href="#">Schmerzmedizin</a></li>
                  </ul>
                  <ul class="col-sm-2 list-unstyled">
                    <li><a href="#">Frauenklinik</a></li>
                    <li class="sub-nav"><a href="#">Geburtshilfe</a></li>
                    <li class="sub-nav"><a href="#">Gynäkologie</a></li>
                    <li class="sub-nav"><a href="#">Urogynäkologie</a></li>
                    <li><a href="#">Radiologie</a></li>
                    <li><a href="#">Anästhesie</a></li>
                    <li><a href="#">Pflege</a></li>
                    <li><a href="#">Physiotherapie + Reha</a></li>
                    <li><a href="#">Beratungsdienste</a></li>
                  </ul>
                  <ul class="col-sm-2 nav-widget">
                    <li>
                      <div class="item"><a href="#" class="thumb"><img src="images/temp/img-129x86.jpg" alt="image-title"/></a>
                        <div class="details">
                          <h2><a href="#">Promolink</a></h2>
                          <p><a href="#">Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. </a></p>
                        </div>
                      </div>
                      <div class="item"><a href="#" class="thumb"><img src="images/temp/img-129x86-1.jpg" alt="image-title"/></a>
                        <div class="details">
                          <h2><a href="#">Promolink</a></h2>
                          <p><a href="#">Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink. </a></p>
                        </div>
                      </div>
                      <div class="item"><a href="#" class="thumb"><img src="images/temp/img-129x86-2.jpg" alt="image-title"/></a>
                        <div class="details">
                          <h2><a href="#">Promolink</a></h2>
                          <p><a href="#">Hier der Beschrieb zum Promolink. Hier der Beschrieb zum Promolink.</a></p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"> Krankheitsbilder</a>
          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">
                  <div id="accordion" class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Collapsible Group Item #1</a></h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">Ut consectetur ullamcorper purus a rutrum. Etiam dui nisi, hendrerit feugiat scelerisque et, cursus eu magna. </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Collapsible Group Item #2</a></h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">Nullam pretium fermentum sapien ut convallis. Suspendisse vehicula, magna non tristique tincidunt, massa nisi luctus tellus, vel laoreet sem lectus ut nibh. </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Collapsible Group Item #3</a></h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">Praesent leo quam, faucibus at facilisis id, rhoncus sit amet metus. Sed vitae ipsum non nibh mattis congue eget id augue. </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <!-- Classic dropdown -->
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Classic<b class="caret"></b></a>
          <ul role="menu" class="dropdown-menu">
            <li><a tabindex="-1" href="#"> Action </a></li>
            <li><a tabindex="-1" href="#"> Another action </a></li>
            <li><a tabindex="-1" href="#"> Something else here </a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="#"> Separated link </a></li>
          </ul>
        </li>
        <!-- Pictures -->
        <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Pictures<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">
                  <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190/"/></a></div>
                  <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190/"/></a></div>
                  <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190/"/></a></div>
                  <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190/"/></a></div>
                  <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190/"/></a></div>
                  <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190/"/></a></div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>