// quick links-> 
.quick-links.mob-hide
	.primary-nav.clearfix
		ul
			li: a(href="#", target="_blank").starter GZO Startseite
			li.sub-view
				a(href="#") Klinik
				ul
					li: a(href="#") Chirurgische Klinik
					li.sub-view
						a(href="#") Medizinische Klinik
						ul
							li: a(href="#") Angiologie
							li: a(href="#") Kardiologie
							li: a(href="#") Gastroenterologie
							li: a(href="#") Pneumologie
							li: a(href="#") Nephrologie
							li: a(href="#") Onkologie
							li: a(href="#") Endokrinologie
							li: a(href="#") Palliativmedizin
							li: a(href="#") Schlafmedizin
							li: a(href="#") Schmerzmedizin
					li: a(href="#") Frauenklinik
					li: a(href="#") Radiologie
					li: a(href="#") Anästhesie
					li: a(href="#") Pflege
					li: a(href="#") Physiotherapie
					li: a(href="#") Beratungsdienste
			li.sub-view
				a(href="#", target="_blank") Spezialist
				ul
					li: a(href="#") Chirurgische Klinik
					li: a(href="#") Medizinische Klinik
					li: a(href="#") Frauenklinik
					li: a(href="#") Radiologie
					li: a(href="#") Anästhesie
					li: a(href="#") Pflege
					li: a(href="#") Physiotherapie
					li: a(href="#") Beratungsdienste
			li: a(href="#", target="_blank").highlight Notfall
	.secondary-nav
		ul
			li
				.search
					form(id="search-form", method="#", action="post")
						input.text(type="text" placeholder="Suche" required)
						input(type="submit" value="search").btn-search
			li
				a(href="#").icons 
					img(src="images/figure.png", title="GZO" alt="")
				.subnav-drop
					strong.nav-title Heidi &amp; Rene
					p Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco
			li
				a(href="#").icons
					img(src="images/cart.png", title="GZO" alt="")
				.subnav-drop
					strong.nav-title Some title
					p Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco
			li
				a(href="#").icons
					img(src="images/target.png", title="GZO" alt="")
				.subnav-drop
					strong.nav-title Some title
					p Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco
			li
				a(href="#").icons
					img(src="images/brief.png", title="GZO" alt="")
				.subnav-drop
					strong.nav-title Some title
					p Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco
			li
				a(href="#").icons
					img(src="images/contact.png", title="GZO" alt="")
				.subnav-drop
					strong.nav-title Some title
					p Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco






// quick links <- 