
<!-- quick links-> -->
<div class="quick-links desktop-view">
  <div class="secondary-nav">
    <ul>
      <li>
        <div class="search">
          <form id="search-form" method="#" action="post">
            <input type="text" placeholder="Suche" required="required" class="text"/>
            <input type="submit" value="search" class="btn-search"/>
          </form>
        </div>
      </li>
      <li><a href="#" class="icon figure">Heidi & Rene</a>
        <div class="subnav-drop"><strong class="nav-title">Heidi &amp; Rene</strong>
          <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
        </div>
      </li>
      <li><a href="#" class="icon cart">cart</a>
        <div class="subnav-drop"><strong class="nav-title">Some title</strong>
          <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
        </div>
      </li>
      <li><a href="#" class="icon target">target</a>
        <div class="subnav-drop"><strong class="nav-title">Some title</strong>
          <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
        </div>
      </li>
      <li><a href="#" class="icon brief">brief</a>
        <div class="subnav-drop"><strong class="nav-title">Some title</strong>
          <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
        </div>
      </li>
      <li><a href="#" class="icon contact">Kontact</a>
        <div class="subnav-drop"><strong class="nav-title">Some title</strong>
          <p>Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- quick links <- -->