// quick links-> 
.quick-links
	.secondary-nav
		ul
			li
				a(href="#").icon.figure Heidi & Rene
				.subnav-drop
					strong.nav-title Heidi &amp; Rene
					p Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco
			li
				a(href="#").icon.cart cart
				.subnav-drop
					strong.nav-title Some title
					p Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco
			li
				a(href="#").icon.target target
				.subnav-drop
					strong.nav-title Some title
					p Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco
			li
				a(href="#").icon.brief brief
				.subnav-drop
					strong.nav-title Some title
					p Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco
			li
				a(href="#").icon.contact Kontact
				.subnav-drop
					strong.nav-title Some title
					p Lorem ipsum Dolore dolor exercitation do ut occaecat dolor ullamco






// quick links <- 