// spotlight start
#carousel-example-generic.carousel.slide.fade-slide.spotlight(data-ride='carousel')
      //
         Indicators 
      ol.carousel-indicators
        li.active(data-target='#carousel-example-generic', data-slide-to='0')
        li(data-target='#carousel-example-generic', data-slide-to='1')
      //
         Wrapper for slides 
      .carousel-inner
        .item.active
          img(src='images/temp/img-1400x480.jpg', alt='Slide-1')
          .carousel-caption
            a(href="#") 
              span Engagiert.
              br
              span Für Mensch und Medizin.
        .item
          img(src='images/temp/img-1400x480-1.jpg', alt='Slide-2')
          .carousel-caption
            a(href="#") 
              span Engagiert.
              br
              span Für Mensch und Medizin.
// spotlight end


  
