hr.tabular.twopx
.row-fluid
  table.babygalerie
    thead
      tr
        th 
        th Nachname
        th Vorname
        th.mw M/W
        th Datum
        th Zeit
        th.sorting Gewicht
        th.sorting Grösse
    tbody
      tr
        td 
          img(src='images/temp/img-75x50-1.jpg', alt='image-title')
        td Schmid
        td Daniel Johannes
        td 
          i.m
        td 15.04.2014
        td 12.04h
        td 4120g
        td 49cm
      tr
        td 
          img(src='images/temp/img-75x50-1.jpg', alt='image-title')
        td Schmid
        td Daniel Johannes
        td 
          i.w
        td 15.04.2014
        td 12.04h
        td 4120g
        td 49cm
      tr
        td 
          img(src='images/temp/img-75x50-1.jpg', alt='image-title')
        td Schmid
        td Daniel Johannes
        td 
          i.m
        td 15.04.2014
        td 12.04h
        td 4120g
        td 49cm
      tr
        td 
          img(src='images/temp/img-75x50-1.jpg', alt='image-title')
        td Schmid
        td Daniel Johannes
        td 
          i.w
        td 15.04.2014
        td 12.04h
        td 4120g
        td 49cm
      tr
        td 
          img(src='images/temp/img-75x50-1.jpg', alt='image-title')
        td Schmid
        td Daniel Johannes
        td 
          i.m
        td 15.04.2014
        td 12.04h
        td 4120g
        td 49cm
      tr
        td 
          img(src='images/temp/img-75x50-1.jpg', alt='image-title')
        td Schmid
        td Daniel Johannes
        td 
          i.w
        td 15.04.2014
        td 12.04h
        td 4120g
        td 49cm
