
<h2 class="basicSlider">Hier der Titel zur Tabelle</h2>
<div class="row-fluid">
  <table class="babygalerie">
    <thead>
      <tr>
        <th></th>
        <th>Nachname</th>
        <th>Vorname</th>
        <th class="mw">M/W</th>
        <th>Datum</th>
        <th>Zeit</th>
        <th class="sorting">Gewicht</th>
        <th class="sorting">Grösse</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="images/temp/img-75x50-1.jpg" alt="image-title"/></td>
        <td>Schmid</td>
        <td>Daniel Johannes</td>
        <td><i></i></td>
        <td>15.04.2014</td>
        <td>12.04h</td>
        <td>4120g</td>
        <td>49cm</td>
      </tr>
      <tr>
        <td><img src="images/temp/img-75x50-1.jpg" alt="image-title"/></td>
        <td>Schmid</td>
        <td>Daniel Johannes</td>
        <td><i></i></td>
        <td>15.04.2014</td>
        <td>12.04h</td>
        <td>4120g</td>
        <td>49cm</td>
      </tr>
      <tr>
        <td><img src="images/temp/img-75x50-1.jpg" alt="image-title"/></td>
        <td>Schmid</td>
        <td>Daniel Johannes</td>
        <td><i></i></td>
        <td>15.04.2014</td>
        <td>12.04h</td>
        <td>4120g</td>
        <td>49cm</td>
      </tr>
      <tr>
        <td><img src="images/temp/img-75x50-1.jpg" alt="image-title"/></td>
        <td>Schmid</td>
        <td>Daniel Johannes</td>
        <td><i></i></td>
        <td>15.04.2014</td>
        <td>12.04h</td>
        <td>4120g</td>
        <td>49cm</td>
      </tr>
      <tr>
        <td><img src="images/temp/img-75x50-1.jpg" alt="image-title"/></td>
        <td>Schmid</td>
        <td>Daniel Johannes</td>
        <td><i></i></td>
        <td>15.04.2014</td>
        <td>12.04h</td>
        <td>4120g</td>
        <td>49cm</td>
      </tr>
      <tr>
        <td><img src="images/temp/img-75x50-1.jpg" alt="image-title"/></td>
        <td>Schmid</td>
        <td>Daniel Johannes</td>
        <td><i></i></td>
        <td>15.04.2014</td>
        <td>12.04h</td>
        <td>4120g</td>
        <td>49cm</td>
      </tr>
    </tbody>
  </table>
</div>