h2.basicSlider Hier der Titel zur Tabelle
.row-fluid
  table.title
    tbody
      tr
        td Grundversicherte Patienten
        td Montag bis Sonntag, 10.00 - 20.00 Uhr
      tr
        td Zusatzversicherte Patienten
        td Montag bis Sonntag, 10.00 - 20.00 Uhr
      tr
        td Intensivpflegestation
        td Montag bis Sonntag, 10.00 - 20.00 Uhr 
          span Der Besuch eines Angehörigen oder Bekannten im Spital ist in der Regel eine willkommene Abwechslung. Bei kommen Sie auch bei einem spontanen Vorbeischauen nicht in Verlegenheit. In unserem Shop finden Sie grosses Sortiment an Geschenken, Blumen und Süssigkeiten. 
     