h2.videohdg Hier die Headline zum Video
//- video(width='690', height='350', controls='controls')
//-   source(src='http://www.w3schools.com/html/movie.mp4', type='video/mp4')
//-   source(src='http://www.w3schools.com/html/movie.ogg', type='video/ogg')
<iframe width="100%" height="390" src="//www.youtube.com/embed/1RC9re_llx0;autoplay=1" frameborder="0" allowfullscreen autoplay></iframe>