<article class="mitarbeiter">
	<h2><f:translate key="home_head">Mitarbeiter</f:translate></h2>
	<div class="row mitarbeiter">
		<f:form action="list" class="list-detail galerie mitarbeiter" method="post">
			<div class="col-md-12 formelement">
				<div class="searchalign">
					<div class="input-group add-on">
						<f:form.textfield class="form-control" name="searchkey" value="{data.searchkey}" id="srch-term" placeholder="{f:translate(key: 'searchplace',  default: 'First Name / Name')}"/>
						<div class="input-group-btn mod">
							<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</div>
					</div>
				</div>
				<select value="{data.position}" name="tx_tntmitarbeiter_tntmitarbeiter[position][]" class="custom-select form-control">
					<option value=""><f:translate key="allpositions">Alle Funktionen</f:translate></option>
					<f:for each="{data.positions}" as="position">
						<option value="{position.uid}">{position.name}</option>
					</f:for>
				</select>
				<select value="{data.department}" name="tx_tntmitarbeiter_tntmitarbeiter[department][]" class="custom-select form-control">
					<option value=""><f:translate key="alldepart">Alle Fachbereiche</f:translate></option>
					<f:for each="{data.departments}" as="depart">
						<option value="{depart.uid}">{depart.title}</option>
					</f:for>
				</select>
				<input type="hidden" name="tx_tntmitarbeiter_tntmitarbeiter[listSearch]" value="1"/>
				<button class="btn btn-primary mod" type="submit"><f:translate key="search">Suchen</f:translate></button>
			</div>
		</f:form>
	</div>
	<div class="row">
		<f:for each="{data.result}" as="employee">
			<f:if condition="{employee.first_name} != ''">
				<div class="col-md-4">
					<div class="box-gallery">
						<f:for each="{employee.images}" as="image">
							<f:if condition="{image.fieldname} == 'image_colour'">
								<f:then>
									<a href="{employee.detailPage}">
										<img alt="image-title" src="{image.profImg}">
									</a>
								</f:then>
							</f:if>
						</f:for>
						<div class="personaldetails"><a href="{employee.detailPage}">{employee.emp_title}  {employee.first_name} {employee.last_name} </a><span class="designation"><f:format.htmlentitiesDecode> {employee.teasertext} </f:format.htmlentitiesDecode></span></div>
					</div>
				</div>
			</f:if>
		</f:for>
	</div>
	<div class="pagination pagination-centered">
		<ul>
			<li class="{data.segment_start} older"><a href="{data.first_page_link.baseurl}"><b></b></a></li>
			<li class="{data.segment_start} prev active"><a href="{data.previous_page_link.baseurl}"><b></b></a></li>
			<li class="disabled  seitenos"><a href="{data.next_page.baseurl}"><f:translate key="page">Zeite</f:translate><i>{data.current_page} </i><f:translate key="of">von</f:translate><i>{data.last_page} </i></a></li>
			<li class="{data.segment_end} next"><a href="{data.next_page.baseurl}"><b></b></a></li>
			<li class="{data.segment_end} newer"><a href="{data.last_page_link.baseurl}"><b></b></a></li>
		</ul>
	</div>
</article>
<script type="text/javascript">
	$('.disabledLink').on('click',function(e){
		e.preventDefault();
	});
</script>