<div class="babygalerie-loading">
	<f:image id="babygalerie-loading-image" src="EXT:tnt_babygallery/Resources/Public/Icons/loader.gif" alt="Loading..." />
</div>
<h1><f:translate key="gallery_title">Babygalerie</f:translate></h1>
<section class="mod gallery">
	<div class="mod-highlight list cta multy-tab">
		<f:link.action action="gridview" controller="Gallery" class="active">
			<span><span class="infos"></span><i>
					<f:translate key="grid">Grid</f:translate>
			</i></span>
		</f:link.action>

		<f:link.action action="list" controller="Gallery">
			<span><span class="liste"></span><i>
				<f:translate key="list_link">
					List
				</f:translate>
			</i></span>
		</f:link.action>

		<a href="{data.detailpage.baseurl}">
			<span><span class="detail"></span><i>
				<f:translate key="detail_link">
					Detail
				</f:translate>
			</i></span>
		</a>
		
		<a class="desktop-hide" href="javascript:void(0);" id="trigger">
			<span><span class="search"></span><i class="search">Dropdown</i></span>
		</a>
		
		<div id="drop" class="drop">
		  <div class="row"> 
			<form class="list-detail galerie">
			  <div class="col-md-9">
				<div class="searchalign">
					<label for="babygallerie" class="rem">Name</label>
					<input title="search" type="text" class="babygallerie form-control mobnameFilter" name="srch-term" placeholder="{f:translate(key: 'phsearch',  default: 'First Name / Name')}"  value="{data.prefill.name}"><i class="icon-search babygallerie"></i>
				</div>
				<fieldset>
					<label for="mobgenderFilter" class="rem">Gender</label>
					<select title="gender" class="mobgenderFilter selectpicker form-control default-sm babygallerie-dropdown">
						<option value="ALL">
						<f:translate key="all">
							All
						</f:translate>
						</option>
						<!--<f:if condition="{data.prefill.gender} == 0"> 
							<f:then><option selected="selected" value="0"></f:then>
							<f:else><option value="0"></f:else>
						</f:if>-->
						<option value="0">
							<f:translate key="male">
								Male
							</f:translate>
						</option>
						<f:if condition="{data.prefill.gender} == 1">
							<f:then><option selected="selected" value="1"></f:then>
							<f:else><option value="1"></f:else>
						</f:if>
						<f:translate key="female">
							Female
						</f:translate>
						</option>
					</select>
				</fieldset>
				<div class="datum-bis"><span class="txtalign bold"><f:translate key="list_date">Date</f:translate></span>
					<fieldset>
						<label for="mobdateFilterFrom" class="rem">Date</label>
						<input value="{data.prefill.datefrom}" readonly placeholder="{f:translate(key: 'ddmmyy',  default: 'dd.mm.yyyy')}" type="text" name="from" class="mobdateFilterFrom datepicker form-control">
					</fieldset>
					<span class="txtalign bis">
						<f:translate key="infto">
							to
						</f:translate>
					</span>
					<fieldset>
						<label for="mobdateFilterTo" class="rem">Date</label>
						<input value="{data.prefill.dateto}" readonly placeholder="{f:translate(key: 'ddmmyy',  default: 'dd.mm.yyyy')}" type="text" name="to" class="mobdateFilterTo datepicker form-control">
					</fieldset>
				</div>
				<input type="button" class="btn btn-primary filtern" id="mobfilterBabies" value="{f:translate(key: 'filter',  default: 'Filter')}">
				<div class="desktop-hide">
				  <div class="mob-resetbtn">
					<ul>
					   <li><a href="javascript:void(0);"><i class="babyCount">{data.Babydata.babyCount}</i> <f:translate key="babies">Babys</f:translate></a></li>
						<li class="reset">
							<a class="resetbtn btn btn-close" data-target=".drop"><b></b></a>
						</li>
					</ul>
				  </div>
				</div>
			  </div>
			</form>
		  </div>
		</div>
	</div>
	<div class="mob-hide">
		<div class="row">
			<form class="list-detail galerie">
				<div class="col-md-9">
					<div class="searchalign">
						<label for="babygallerie" class="rem">Name</label>
						<input type="text" class="babygallerie form-control nameFilter" name="srch-term" title="{f:translate(key: 'phsearch',  default: 'First Name / Name')}" placeholder="{f:translate(key: 'phsearch',  default: 'First Name / Name')}" id="srch-term" value="{data.prefill.name}">
						<i class="icon-search babygallerie"></i>
					</div>
					<fieldset>
						<label for="babygallerie" class="rem">Name</label>
						<select title="Gender" class="genderFilter selectpicker form-control default-sm babygallerie-dropdown">
							<option value="ALL">
							<f:translate key="all">
								All
							</f:translate></option>
							<option value="0">
								<f:translate key="male">
									Male
								</f:translate>
							</option>
							<f:if condition="{data.prefill.gender} == 1">
								<f:then><option selected="selected" value="1"></f:then>
								<f:else><option value="1"></f:else>
							</f:if>
							<f:translate key="female">
								Female
							</f:translate>
							</option>
						</select>
					</fieldset><span class="txtalign bold"><f:translate key="list_date">Date</f:translate></span>
					<fieldset>
						<input value="{data.prefill.datefrom}" title="{f:translate(key: 'ddmmyy',  default: 'dd.mm.yyyy')}" readonly   placeholder="{f:translate(key: 'ddmmyy',  default: 'dd.mm.yyyy')}" type="text" name="from" class="dateFilterFrom datepicker form-control">
					</fieldset>
					<span class="txtalign bis">
							<f:translate key="infto">
								to
							</f:translate>
					</span>
					<fieldset>
						<input value="{data.prefill.dateto}" title="{f:translate(key: 'ddmmyy',  default: 'dd.mm.yyyy')}" placeholder="{f:translate(key: 'ddmmyy',  default: 'dd.mm.yyyy')}"  readonly type="text" name="to" class="dateFilterTo datepicker form-control">
					</fieldset>
					<input type="button" id="filterBabies" class="btn btn-primary filtern" value="{f:translate(key: 'filter',  default: 'Filter')}">
				</div>
				<div class="col-md-3">
				<f:if condition="{data.Babydata.babyCount}<1">
					<f:then>
						<div class="pagination" style="display:none">
							<ul>
								<li class="disabled seitenos"><a href="javascript:void(0);" ><i class="babyCount">{data.Babydata.babyCount} </i><f:translate key="babies">Babys</f:translate> </a></li>
								<li class="prev active"><a href="javascript:void(0);" class="btnPrevious"><b></b></a></li>
								<li class="next {data.addClass}"><a href="javascript:void(0);" class="btnNext"><b></b></a></li>
							</ul>
						</div>
					</f:then>
					<f:else>
						<div class="pagination">
							<ul>
								<li class="disabled seitenos"><a href="javascript:void(0);" ><i class="babyCount">{data.Babydata.babyCount} </i><f:translate key="babies">Babys</f:translate> </a></li>
								<li class="prev active"><a href="javascript:void(0);" class="btnPrevious"><b><label class="rem">remove</label></b></a></li>
								<li class="next {data.addClass}"><a href="javascript:void(0);" class="btnNext"><b><label class="rem">remove</label></b></a></li>
							</ul>
						</div>
					</f:else>
				</f:if>
					
				</div>
			</form>
		</div>
	</div>
	<div id="newborn" class="filterDetail hidden-print">
		<div class="hdg">
			<f:translate key="newborn">
				New Borns
			</f:translate>:
		</div>
		<f:for each="{data.NewBorn}" as="baby">
			<div class="babydetails">{baby.firstname} <i class="{baby.classname}"></i><span class="datetime">({baby.tstamp}. {baby.time}h)</span></div>
		</f:for>
	</div>
	<div class="row img-babygallerie" id="gridview">
		<f:if condition="{data.Babydata.babyCount} <= 0">
			<f:then>
				<div role="alert" class="alert alert-default fade in">
				  <strong><f:translate key="nodata">No Data Found</f:translate></strong>
				</div>
			</f:then>
			<f:else>
				<f:for each="{data.Babydata.result}" as="baby">
					<div class="col-md-4">
						<div class="box-gallery"><a class="thumb" href="{baby.uid}">
            <f:image src="{baby.imagepath}" width="350" height="233" alt="{baby.firstname} {baby.lastname}" /></a>
							<div class="name"> {baby.firstname} {baby.lastname}<i class="{baby.classname}"></i><span class="datetime"> ({baby.tstamp})</span></div>
						</div>
					</div>
				</f:for>
			</f:else>
		</f:if>
		
		
	</div>
	<f:form.hidden id="pid" name="pid" value="{data.url.pid}" />
	<f:form.hidden id="resultCount" name="resultCount" value="{data.resultsCount}" />
	<f:form.hidden id="base_url" name="baseurl" value="{data.url.baseurl}" />
	<f:form.hidden id="steepval" name="steepval" value="1" />
	<f:form.hidden id="filterName" name="filterName" value="" />
	<f:form.hidden id="filterGender" name="filterGender" value="" />
	<f:form.hidden id="filterDateTo" name="filterDateTo" value="" />
	<f:form.hidden id="filterDateFrom" name="filterDateFrom" value="" />
	<f:form.hidden id="viewRef" name="viewRef" value="GRID" />
	<div class="desktop-hide">
		<div class="pagination pagination-centered yearfilter">
		  <ul>
			<li class="prev"><a class="btnPrevious" href="javascript:void(0);"><b><label class="rem">remove</label></b></a></li>
			<li class="next {data.addClass}"><a class="btnNext" href="javascript:void(0);"><b><label class="rem">remove</label></b></a></li>
		  </ul>
		</div>
	</div>
</section>