span.contact_errorclass {
    bottom: 3px;
    clear: both;
    color: red;
    float: left;
    /*margin: 0 0 0 102px;*/
    margin: 4px 0 0 97px;
    position: relative;
    width: 100%;
    display:none;
    *width:auto;
    *left:97px;
    *margin-left:0px;
}